[2019-09-11 08:38] edpelesh commented on #217
Same for me, it is the Github restriction of git-lfs quota.

[2019-09-11 20:25] ephread commented on #217
I am really, really sorry about that. Using LFS for snapshots turned out to be a bad idea.

@Hirobreak, @edpelesh can you try installing from master directly? The LFS references should have been removed in `master/HEAD`. If you still can't install it, I'll try to fix that issue as soon as possible.

[2019-09-13 10:06] vinayakparmar92 opened #218 "Random crash which is very frequent"
**Describe the bug**
I am using the pod of latest versions of Instructions(1.3.1). There is a random crash happening which is frequent. Attached here the screen shot. The crash is on 225 line number in file **CoachMarkLayoutHelper**. Here is the code:

`let segmentIndex = Int(ceil(2 * pointOfInterest.x / frame.size.width))`

Looks like at some moment, the `frame.size.width` is 0 which makes it cra

[2019-09-14 02:42] ethanwa opened #219 "A number of Deprecations are appearing in Xcode 11"
<img width="311" alt="Screen Shot 2019-09-13 at 10 39 06 PM" src="https://user-images.githubusercontent.com/1653780/64902570-bead6e00-d677-11e9-8883-a97955fbeba2.png">

[2019-09-14 06:43] ephread commented on #219
Hi @ethanwa, per #201:

If you use Carthage, I'm not certain there's a way to inhibit these warnings, sadly.

1.4.0 will remove them, but I'm not sure when it will be published.

[2019-09-14 06:46] ephread commented on #216
Hi @tarun885, it's sadly impossible as of the current version. It may be implemented in the future, but it's low priority for now, sorry.

[2019-09-14 06:47] ephread commented on #215
Hey @h36ahmed, would you be able to provide a sample project demonstrating the issue?

[2019-09-14 06:48] ephread commented on #214
A [simple search](https://github.com/ephread/Instructions/issues?utf8=%E2%9C%93&q=UITabBar+OR+UINavigationBar+OR+UIBarButtonItem+) yields the answers you're looking for. #31 is good start.

[2019-09-14 06:48] #214 closed

[2019-09-14 18:03] ethanwa opened #220 "Please add support for Swift Package Manager (Dependencies)"
Many people will be moving away from CocoaPods and Carthage and using Swift Package Manager (Dependencies). Can you please add support? Thank you!

[2019-09-15 04:01] ephread commented on #220
Hi @ethanwa, it's been on the roadmap for a long time but it's not possible currenlty. SwiftPM sadly doesn't support resources.

The last time I checked was June this year, are resources supported now?

[2019-09-17 08:14] edpelesh commented on #217
Installing from the master fixed the problem. Sorry, forgot to let you know.
Thanks for the fix.

[2019-09-23 05:26] tarun885 commented on #216
@ephread, Thanks for the reply. I'll be looking forward to the functionality in future updates.

[2019-09-23 23:02] derekgraham commented on #217
Is there more detail on "installing from master directly"?  Or is there a way I can donate some LFS datapaks to make this go away?

[2019-09-24 02:25] derekgraham commented on #217
I changed my carthage cartfile line for Instructions to:
github "ephread/Instructions" "master"

and that worked. thanks!

[2019-09-30 02:05] chamitha opened #221 "0 is not an invalid value for numberOfCoachMarksForCoachMarksController"
`CoachMarksController.start` logs the statement `startOn: the dataSource returned an invalid value for numberOfCoachMarksForCoachMarksController(_:)` to the console if `numberOfCoachMarks` in the data source returns 0. However this is misleading as 0 is a valid value. I.e there are no coach marks.
This message should only be logged if `numberOfCoachMarks` returns a value less than 0 or log a more

[2019-09-30 02:07] chamitha commented on #217
Does this mean LFS will no longer be a required pre-requisite for installation?

[2019-10-02 08:23] ephread commented on #221
Hey @chamitha, that's a good point. I suspect there was a reason (that I forgot) for the message to be logged, though. I'll have a look and decide whether to change or keep the behaviour!

[2019-10-02 12:07] chamitha commented on #221
No worries. Not a high priority. Just threw me a bit that I might be doing something wrong!

[2019-10-05 07:00] ephread commented on #221
All good. 1.4.0 has an updated message, which warns about using 0 without using a scary terminology. I'm keeping it as a warning, because, like not setting the `dataSource`, it's an easy thing to miss. 🙂

[code]

[2019-10-05 07:00] #221 closed

[2019-10-05 07:01] ephread commented on #219
1.4.0 is out and warnings are gone!

[2019-10-05 07:01] #219 closed

[2019-10-05 07:03] ephread commented on #218
I put a partial fix in 1.4.0. It should no longer crash, falling back to a default alignment. But that won't solve the underlying issue. Can you share with me the full stack trace? I'd like to understand under what circumstances the frame could be nil. I believe this is a long-standing issue.

[2019-10-05 07:06] ephread commented on #217
@derekgraham sorry I didn't get back to you sooner, I'm glad you found out by yourself!

@chamitha yup!

1.4.0 is out now, and removes the dependency on LFS.

[2019-10-05 07:06] #217 closed

[2019-10-05 07:07] ephread commented on #216
Cheers!

[2019-10-05 07:07] #216 closed

[2019-10-05 07:08] ephread commented on #213
I'm glad you found out a solution @fpang0502!

[2019-10-05 07:08] #213 closed

[2019-10-05 07:09] ephread commented on #209
Closing due to inactivity.

[2019-10-05 07:09] #209 closed

[2019-10-05 07:10] ephread commented on #208
Closing due to inactivity.

[2019-10-05 07:10] #208 closed

[2019-10-05 07:10] vinayakparmar92 commented on #218
@ephread Thank you that you tried a fix. Mentioned below the full stack trace

[code]

[2019-10-08 08:17] nastasiupta opened #223 "DarkMode support for iOS 13+"
**Is your feature request related to a problem? Please describe.**
I need Dark Mode support for your framework.
Is not a problem... but is nice to have

**Describe the solution you'd like**
Well, a good way is just to have a flag to disable dark mode, but by default, this should be supported.

**Describe alternatives you've considered**
Access to setup the background colors

**Additional context**

[2019-10-14 02:11] jasonlagaac commented on #209
I am getting this issue but using the latest xcode / swift combination

![Screen Shot 2019-10-14 at 1 10 33 pm](https://user-images.githubusercontent.com/568204/66726285-211aa980-ee84-11e9-988c-5ca603873f5b.png)

[2019-10-14 07:06] ephread commented on #223
Hey @nastasiupta, Instructions should work out of the box with Dark Mode, as long as you provide custom views and override the default overlay color.

In the near future, I'll plan to get rid of the current image-based default views and replace them with views drawn in code. I'll be sure to include defaults for both interface styles.

[2019-10-14 07:23] ephread commented on #218
@vinayakparmar92 from the stack trace, I assume that you previously paused the flow and you are starting it again, is that correct? Which `PresentationContext` are you using?

Instructions is crashing because an internal view (`instructionsRootView`) likely has a `.zero` frame when trying to lay out the coach marks, which is an edge case I can't wrap my head around. Maybe you are doing something I

[2019-10-16 06:07] vinayakparmar92 commented on #218
Yes! I ask a singleton manager to present the Coachmark/Instruction which takes a callback. That callback will return a boolean if its the right moment to present the coachmark, if not then it will present it later. The `CoachMarksController` instance is alive during the whole cycle. I used the below method to invoke that callback to return if it should present or not

[code]

[2019-10-24 06:22] ahsanaasim opened #224 "Xcode is saying CoachMarksController' has no member 'start'"
**Describe the bug**
When I use this line,
`self.coachMarksController.start(in: .window(over: self))`
New Version of 11.1 is showing the following error:
`Value of type 'CoachMarksController' has no member 'start'`

**To Reproduce**
In the previous version of Xcode, it was working. But not working in Xcode 11.1

**Expected behavior**
I have seen inside CoachMarksController class. start method actu

[2019-10-24 19:37] derekgraham commented on #224
Same. Updated from 'master' to 1.4 in my cart file. Previously I was getting an odd message about Start(on:) being deprecated in 1.2.1 but I was not able to change it to the recommended start(in:). Not not recognizing start as a method of CoachMarksController.

[2019-10-24 22:16] derekgraham commented on #224
I 'fixed' this for me by updating my app to Swift 5, which finally got it to recognize a method with ProcessContext as a parameter. Hacking around on my local copy my notes:
 - I was able to add a method that showed up when I rebuilt my app with the newly built framework (func mylittlepony(in: Bool).
- when I changed the Bool to ProcessContext (enum) mylittlepony no longer showed up as method in a

[2019-10-24 22:17] derekgraham commented on #224
Oh and once I updated to Swift 5, it offered to change my .start(on:) to .start(in:)

[2019-11-02 17:08] DwightEverhart opened #225 "Background view, skip view, and CoachMark views appear behind navigation bar and toolbar in iOS 13 and Xcode 11"
Since upgrading to Xcode 11 and iOS 13, the gray background view that disables interaction with the app's regular controls is displayed behind the app's navigation bar and toolbar, enabling interaction with controls in those areas. This also causes the skip control to be non-interactable, because I placed it in the navigation bar area. It used to float above the bar. Now it's below the bar and doe

[2019-11-03 00:11] DwightEverhart commented on #225
I was able to resolve this issue by changing the PresentationContext argument from .viewController to .currentWindow:

[code]

Thanks for creating this excellent pod!

[2019-11-03 00:11] #225 closed

[2019-11-12 12:22] vivek4292 opened #226 "Crash with error: Thread 1: EXC_BAD_ACCESS (code=2, address=0x7fff86533e38)"
**Describe the bug**
 When I was using 1.2.0 and Xcode 10.2 it was working fine. As I switched to Xcode 11.2 and 1.4.0 version of Instruction. I found a crash while assigning a delegate to CoachMarksController instance.

**To Reproduce**
Assign a delegate to an instance of CoachMarksController. In Xcode 11.2

**Expected behavior**
 It should display coach mark views smoothly.

**Screenshots**
<img

[2019-11-22 21:03] ephread commented on #224
Ah, thanks for the context @derekgraham. There was a bug in the Swift 4.x toolchain that happened only with CocoaPods, which is likely related to this issue, see #198.

I'll have to investigate and see if it still happens with Swift 5, but as far as I know it doesn't.

[2019-11-22 21:04] ephread commented on #226
Hey @vivek4292, thanks for reporting the issue. I'm unable to reproduce it, would you be able to provide a sample project demonstrating the crash?

[2019-11-27 13:42] vivek4292 commented on #226
Hey, @ephread  thanks for the response. I tried this in a separate project with the same environment and it is working fine. But it's still not working in my project.
<img width="715" alt="Screenshot 2019-11-27 at 5 58 45 PM" src="https://user-images.githubusercontent.com/34335017/69727200-0b1d2b80-1148-11ea-8587-8ea14b2b95c5.png">
In the above screenshot:
I'm instantiating an object of **CoachMar

[2019-11-30 18:01] coreypett opened #227 "Xcode 11 Build Issue: "~/Library/Developer/Xcode/DerivedData/LIKE-hgpysltcapxaaqbkjnoggrxhteud/Build/Products/Debug-iphoneos/xxx.app/Assets.car' ""
After I updated to xcode11, the new build system didn't work. An error occurred with below message
"Multiple commands produce '~/Library/Developer/Xcode/DerivedData/LIKE-hgpysltcapxaaqbkjnoggrxhteud/Build/Products/Debug-iphoneos/xxx.app/Assets.car' "

I think the reason is "s.resources = [ "Instructions/**/Assets.xcassets"] " in podspec file, which will lead pod create a copy script like this "${P

[2019-12-01 06:24] ephread commented on #227
Thanks for reporting the issue @coreypett and suggesting an alternative approach. I’ll have a look when I’m back. I’ve never used resource bundles before, hence my question: won’t this break the current approach when using Carthage or manually embedding the framework? (I’m assuming, perhaps incorrectly, that the assets will now sit in different bundles depending on which package manager is used.)

[2019-12-01 06:26] ephread commented on #226
In the next line, you can see I'm assigning a data source to it.

This may be a trivial question, but how and where is `coacher` declared?

[2019-12-01 06:28] ephread commented on #225
Thanks, I’m glad you found a solution!

[2019-12-02 06:57] vivek4292 commented on #226
@ephread  Yeah it's a trivial question but I can understand in such case anyone can think of this possible reason. Agreed, it looks like an object is getting released soon.
At first, I declared coacher at class level as lazy.
<img width="513" alt="Screenshot 2019-12-02 at 12 17 16 PM" src="https://user-images.githubusercontent.com/34335017/69936659-6c554e00-14fe-11ea-937c-606a43baa7a4.png">
It was

[2019-12-20 15:28] Pomis opened #228 "Default arrow is not well aligned on corners"
**Describe the bug**
<img width="328" alt="image" src="https://user-images.githubusercontent.com/7953442/71264793-82ac3800-234d-11ea-89e8-712a0d902b6f.png">
When attaching a tooltip to some View on edge, the arrow is aligned to horizontal center, while body has some margins, and the whole bubble looks scattered.

**To Reproduce**
Attach tooltip to a view near to edge of screen

**Expected behavior

[2019-12-23 09:50] Pomis commented on #228
Okay, I found out that it is possible to do this way:
[code]

Leaving the issue and comment in order someone could google it

[2019-12-23 09:50] #228 closed

[2020-01-24 04:13] ciathyza opened #229 "overlay.blurEffectStyle not working"
I'm trying to add a blur effect to the coachMarksController but it doesn't work, e.g.:

`_coachMarksController.overlay.blurEffectStyle = .prominent`

Results in the background overlay not showing at all and only the text is visible but misplaced on the screen. Any ideas why this wouldn't work?

[2020-02-06 09:14] vicajilau opened #230 "Add a Exit button"
**Desciption**
Superimpose a button in one of the corners that allows coach marks to stop.

**Graphic proposal**
https://ibb.co/sK1gcWL

**Alternatives considered**
I have considered that the sentence can be used to stop the flow:
`self.coachMarksController.stop(immediately: true)`
But I don't know how Instructions works to overlay a button on it. Maybe you can give me an orientation and I could d

[2020-02-06 11:01] vicajilau commented on #227
I have the same problem, is there any solution?

![image](https://user-images.githubusercontent.com/34163765/73931328-6867f280-48d8-11ea-8bd4-e9bb736471af.png)

[2020-02-06 11:03] vicajilau commented on #227
I have the same problem. Is there any solution?

![image](https://user-images.githubusercontent.com/34163765/73931442-9baa8180-48d8-11ea-8800-67b2a3aa3ea9.png)

[2020-02-07 00:25] ephread commented on #230
Hi @vicajilau, the [_Skip Control_](https://github.com/ephread/Instructions#let-users-skip-the-tour) may be what you are looking for.

[2020-02-07 17:06] vicajilau commented on #230
It was very easy, excellent job

[2020-02-07 17:06] #230 closed

[2020-02-19 12:01] zivato opened #231 ""[ERROR] The overlay view added to the window has empty bounds, Instructions will stop.", when trying to show the coachMarksController"
**Describe the bug**

when "self.coachMarksController.start(in: .window(over: self))" is executed, we get the error  "[ERROR] The overlay view added to the window has empty bounds, Instructions will stop." in the console.

**To Reproduce**

- normal set up with a button containing the line "self.coachMarksController.start(in: .window(over: self))"

**Expected behavior**

The coach make should appe

[2020-03-03 07:24] vivek4292 opened #232 "Swift Package Manager installation option"
Is it possible to make it compatible with the Swift Package Manager?
Thanks!

[2020-03-16 18:06] jlubeck opened #233 "Keep podspec version at iOS 9"
I noticed that your project works perfectly on iOS 9. I understand that on your Readme you specify support for iOS 11+ so that you wouldn't have to support bugs on lower versions, but is it possible that you at least keep the podspec at 9 instead of the curren 10? Otherwise it can't even be installed via Cocoapods.

I understand iOS 9 is pretty old, but unfortunately a large number of iPad minis a

[2020-03-17 11:26] ephread commented on #227
I've checked with the latest version (1.4.0) and I can't reproduce any of these issues. Have you tried with the latest version?

[2020-03-17 11:29] ephread commented on #229
Hey @ciathyza, I don't really know, I can't reproduce the issue. Is it happening as well if you run the example project on your setup?

[2020-03-17 11:33] ephread commented on #232
Not yet, since SwiftPM doesn't support resources. But I'm considering removing said resources from the codebase, so we'll see. Plus it seems that support for resources is coming to SwiftPM in the future as well. It'll come some time in the future.

[2020-03-17 11:33] #232 closed

[2020-03-17 11:35] ephread commented on #233
Yeah, I guess it wouldn't hurt. I'll update the podspec in a future release!

[2020-03-17 12:15] ephread commented on #231
Hey @zivato, I can't reproduce the issue. Is this happening as well with the example project? Are you able to provide a project showcasing the problem?

[2020-03-17 12:48] jlubeck commented on #233
Great! Thank you

[2020-03-20 08:02] jlubeck commented on #117
Hi! What about just a simple Fade animation for the overlay? Currently it just appears. I saw the animation delegates for the coachmarks themselves, but not for the overlay

Thanks!

[2020-03-20 08:48] ephread commented on #117
@jlubeck the overlay should fade in as it appears. If it just appears, then something went wrong somewhere.

[2020-03-20 13:00] jlubeck commented on #117
@ephread that's strange. I'm just doing a standard setup

[code]

I'm on the simulator though, hanve't tried on physical device yet. Could that be why?

[2020-03-30 17:45] app-web-dev commented on #231
Having same issue!

[2020-03-31 09:40] gmcheese commented on #231
Have the same issue. It seems to be related to displaying the `coachMarksController` in the window over the current view controller (`self.coachMarksController.start(in: window, over: self)`) when using the new `SceneDelegate` setup in iOS13. I haven't figured out why it doesn't work, but I suspect the way iOS13 handles UIWindows breaks something in the framework.

I worked around the problem by u

[2020-03-31 11:30] ephread commented on #231
That must be it, thanks a lot for the pointer @gmcheese. I didn't think of this, I'll investigate!

[2020-03-31 14:00] #231 closed

[2020-03-31 14:04] ephread commented on #231
I'm not certain slide-over is properly supported — I'll test this later, but it should fix the issue for all the other cases on iPad (and of course, on iPhone).

[2020-03-31 14:11] ephread commented on #229
Indirectly related to #231, the issue happens when using a Scene Delegate.

[2020-04-01 15:28] ephread commented on #223
Full Dark Mode support has landed in `master`. It includes properly re-rendering the layers when the interface style is updated and the ability to customize the colors of the default coach marks.

I still have a couple of other things to add for the next release, but it should come out soon !

[2020-04-01 15:28] #223 closed

[2020-04-01 15:30] ephread commented on #205
I was able to reproduce this really old issue a few hours ago. I'll investigate.

[2020-04-01 15:31] ephread commented on #220
Since the default coach marks are now hand drawn and no longer use images, I might be able to add SwiftPM support. I will have a look in the coming days.

[2020-04-01 16:52] ethanwa commented on #220
This would be awesome, thanks so much!!

[2020-04-01 18:38] #205 closed

[2020-04-01 18:40] ephread commented on #205
Sorry it took so long to fix this, I don't really understand how I could miss this in the first place.

[2020-04-01 19:42] ephread commented on #220
🎉 I'm happy to announce that Swift Package Manager should now be supported by Instructions (only in `master` for now, I'll create the next release over the next few days).

[2020-04-01 20:36] ephread commented on #227
Since there's no longer an asset bundle in `master`, I'm closing this issue. Feel free to reopen if you still encounter issues with the coming version.

[2020-04-01 20:36] #227 closed

[2020-04-01 20:38] ephread commented on #215
I fixed a similar problem on iPad, so I'm hoping it fixed this one as well. Since there hasn't been a lot of activity on this issue, I'm closing it.

[2020-04-01 20:38] #215 closed

[2020-04-01 20:41] ephread commented on #144
I've never been able to reproduce the problem and since I'm going to drop support for iOS 11 soon, I'm going to close the issue. If anyone encounters this problem again and can provide me with a sample project, feel free to open a new issue!

[2020-04-01 20:41] #144 closed

[2020-04-01 20:43] ephread commented on #169
I fixed a couple of problems which might have been related to this one. Since the issue has been inactive for a while, I'm gong to close it. Fee free to open a new issue if the problem arises again with the coming version (1.5.0).

[2020-04-01 20:43] #169 closed

[2020-04-01 22:21] #212 closed

[2020-04-09 00:16] chamitha commented on #212
Is this yet to be released?

[2020-04-09 09:22] ephread commented on #212
Yes, this hasn't been released yet.

[2020-04-22 17:17] BhaktiKarva commented on #173
Were you able to figure it out?

[2020-04-22 17:17] BhaktiKarva commented on #94
Were you able to figure it out?

[2020-04-23 07:01] clueth opened #234 "allowTouchInsideCutoutPath not working on iPad Pro 11""
**Describe the bug**

I'm using the allowTouchInsideCutoutPath=true in combination with disableOverlayTap=false. Works with each device but the iPad Pro 11" (2nd Gen). It is not possible to click inside the cutout area.

**To Reproduce**

You can use your code example from TransitionFromCodeViewController to redroduce the issue (the tap on the button does not work)

**Expected behavior**

The tap

[2020-04-23 14:10] ephread commented on #234
Hey @clueth, thanks a lot for reporting the issue, I investigated and I'm pretty sure it's been there since iOS 13 came out. That's a really nasty bug. I'm working on a fix and I'll update the test matrix.

[2020-04-23 15:18] #234 closed

[2020-04-25 13:07] clueth commented on #234
Thank you very much for the fast fixing!

[2020-04-25 13:16] clueth opened #235 "device orientation will change after starting instructions twice (landscape mode apps)"
**Describe the bug**
I have an app which runs only in landscape mode (iPhone & iPad). When the user starts the instructions by tapping a button everything works fine. But if he skips the tutorial and starts it the second time, the orientation of the instructions change to portrait mode which will crash the cutout paths and the orientation of the coamarks.

**To Reproduce**

Start instructions twic

[2020-04-28 14:45] ephread commented on #235
Hi @clueth, thanks for reporting the issue. That's weird, I'll have a look.

[2020-04-28 17:09] ephread commented on #235
I have trouble reproducing the issue. With the example project, starting the flow twice in landscape works fine. Would you be able to provide a sample project demonstrating the problem?

[2020-05-04 07:30] stevehartford opened #236 "How to change background of hint/next labels?"
The rounded background behind the hint label is always solid white and rounded. Other parts can be customized, would be great to be able to customize or at least remove entirely (make clear). Any suggestions? Thanks.

[2020-05-05 19:12] ephread commented on #236
Hi @stevehartford, you can [provide custom views](https://github.com/ephread/Instructions#providing-custom-views). The defaults views are not really meant to be customized.

That said, the next version of Instructions will drop the image backgrounds and draw them programmatically instead. You'll be able to customise the background color, the border color and the corner radius.

[2020-05-07 02:14] ethanwa commented on #220
Any chance you could push this to a main release now? Sorry to bug you! Thanks!

[2020-05-07 06:59] chamitha opened #237 "Crash handling Status Bar Orientation"
I have noticed a somewhat intermittent crash in our Firebase Crashlytics logs that I'm attempting to reproduce with no success thus far. The crash occurs attempting to show a coach mark anchored to a button on screen load. From the stack trace attached it appears to be trigged handling the device rotation / setting the device orientation. However I have tested rotating the device before, during an

[2020-05-07 07:22] basdevelop opened #238 "cart file error"
A shell task (/usr/bin/env git clone --quiet https://github.com/ephread/InstructionsSnapshots.git /Users/hyperorchid/bas/bmail/ios-bmail/BMail/Carthage/Checkouts/Instructions/Examples/Example/Snapshot\ Tests/Supporting\ Files/Snapshots) failed with exit code 128:
fatal: unable to open /Users/hyperorchid/bas/bmail/ios-bmail/BMail/Carthage/Checkouts/Instructions/Examples/Example/Snapshot Tests/Suppo

[2020-05-07 07:44] ephread commented on #238
Which version are you trying to build with Carthage?

Following the issue template reduce the back and forth required to define the context surrounding the issue.

[2020-05-07 07:48] ephread commented on #220
Yeah, sorry. 😕 I need to rewrite a bit of the README and I haven’t had the chance to do it. I’ll try to do it during the next two weeks.

The release isn’t likely to be much different from `master` though.

[2020-05-07 09:20] ephread commented on #237
Hey @chamitha, I can't help but noticed that the crash happens in MyApp, rather than inside Instructions. Are you certain it's related to Instructions?

What is the full content of PopoverController.coachMarksController(_:coachMarkAt:)? What's the line causing the crash?

[2020-05-07 09:57] chamitha commented on #237
@ephread Thanks for the reply. Yes the crash does indeed occur in My App. I'm not insinuating the crash is due to the Instructions framework, rather wondering if you can better understand the call stack of notification handling in the Instructions framework from the crash log to perhaps let me know what might trigger such a call stack so I can attempt to recreate the issue?
For example, CoachMarks

[2020-05-07 12:09] ephread commented on #237
Ah! Sorry, if I sounded a bit stern. I can roughly explain how it works:

1. When the user rotates the device or resize the window on iPad, Instructions is notified by UIKit. The logic happens in [this extension](https://github.com/ephread/Instructions/blob/master/Sources/Instructions/Core/Internal/CoachMarksViewController.swift#L309), [here](https://github.com/ephread/Instructions/blob/master/Sou

[2020-05-07 13:00] hyperorchid commented on #238
wsli@192 BMail % carthage version
0.34.0
wsli@192 BMa

[2020-05-07 13:12] ephread commented on #238
I meant which version of Instructions.

What happens when you try to clone https://github.com/ephread/InstructionsSnapshots.git independently?

[2020-05-07 23:01] chamitha commented on #237
@ephread Thank you for the detailed description. I will investigate further and attempt to recreate. Appreciate your time!

[2020-05-07 23:51] chamitha commented on #237
@ephread I did manage to recreate a crash by rotating the screen back and forth (fast!) as soon as it loads before the coach mark appears. My implementation of `coachMarksAt` is
[code]
where `items` is an array. The cause of the crash is the value of `index` is -1 resulting in an Index out of range exception. The reason I'm not 100% certain this is the same crash is that Crashlytics does not log t

[2020-05-08 00:05] chamitha commented on #237
@ephread
Hmm interestingly `CoachMarksControllerDataSource.coachMarkViewsAt` too gets called with an `index` of -1. Both `coachMarkAt` and `coachMarkViewsAt` require non-optional return values so I'm not sure if handling it app side is the best solution.

I wonder if these delegate methods can be not raised by the Instructions framework if `index < 0`?

[2020-05-08 03:51] hyperorchid commented on #238
blocked

发自我的 iPhone

在 2020年5月7日，下午9:12，Frédéric Maquin <notifications@github.com<mailto:notifications@github.com>> 写道：

I meant which version of Instructions.

What happens when you try to clone https://github.com/ephread/InstructionsSnapshots.git independently?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/ephread/I

[2020-05-08 10:58] ephread commented on #237
Interesting, I believe there was another issue once that mentioned the negative index. Let me have a look.

Thanks for investigating this! I'll try to look into it later today.

[2020-05-08 15:04] ephread commented on #220
@ethanwa, so I'm currently working on the next release, but I now feel it's better if I go straight to 2.0.0 and rename the properties I've wanted to rename for a while. It should come out in the next few days (perhaps even today), but it won't look like `master`, I take back what I said. Sorry about that.

The migration shouldn't be too big though, it's mostly a bunch of properties renamed. The c

[2020-05-08 16:03] ephread commented on #237
I believe you're right, there's no point in calling them is the index is negative. It seems to be a major oversight on my part (unless there used to be a reason I can't remember?). Anyway, I pushed a fix in `master`. Let me know if it fixes the issue for you!

[2020-05-08 23:34] chamitha commented on #237
@ephread Thanks for the quick fix. I'll test this on Monday.

[2020-05-10 08:20] clueth commented on #235
Hi @ephread,
thank you. That suggests that it's the specific call within my app. I'm gonna analyze this again. I will close the issue in the meantime.

[2020-05-12 01:34] chamitha commented on #237
@ephread This fix seems to resolve the issue. Will you be deploying it in a release?

[2020-05-12 07:11] ephread commented on #237
Yes, I have 2.0.0 ready in another branch. It will require a small migration though.

[2020-05-12 07:37] chamitha commented on #237
Brilliant. No issues with that. Does 2.0 include
https://github.com/ephread/Instructions/issues/212?

[2020-05-12 07:41] ephread commented on #237
@chamitha yup!

[2020-05-12 07:43] chamitha commented on #237
Perfect. Happy to upgrade once released. Thanks for looking into this.

[2020-05-13 19:54] Lailan opened #239 "Wrong position coach marks inside a scrollview"
**Describe the bug**

Good afternoon.
I am trying to use the library in my project, but I am facing the following problem:

I have a view that is inside a UIScrollView, when I need to show the coach mark in a place that is not visible, I scroll down the screen but the location of the coach mark is wrong. (See the GIF)

How can I fix this problem?

**Environment:**
 - Device:  iPhone X
 - iOS versi

[2020-05-13 20:25] ephread commented on #239
Hey there @Lailan, my guess is that the current offset of the scroll view is not taken into account. [The helper making the conversion](https://github.com/ephread/Instructions/blob/master/Sources/Instructions/Helpers/Public/CoachMarkHelper.swift#L138) doesn't work with scroll views, since  —I believe— `UIView.convert` itself ignores the content offset.

The default window and the window used by In

[2020-05-13 20:45] Lailan commented on #239
Thanks for the quick response.
Do you have any examples of how I can do this?

[2020-05-13 20:57] ephread commented on #239
Maybe something like this, but it's just from the top of my head. I can have a deeper look, but probably not before a few days. I should probably deal with this case in the helper.

[code]

[2020-05-13 23:09] Lailan commented on #239
Works!

`let coachMark = coachMarksController.helper.makeCoachMark(for: self.viewAlunos) {
            (frame: CGRect) -> UIBezierPath in
                var rect = self.view.window!.convert(self.viewAlunos.frame, from: self.viewAlunos.superview)
                rect = CGRect(x: rect.origin.x,
                              y: rect.origin.y - bottomOffset.y,
                              width: rec

[2020-05-13 23:14] #239 closed

[2020-05-14 10:12] shireeshMs opened #240 "Not able to set it on navigation items (Left or right)"
Is there any way to do this, required, please.

[2020-05-14 10:15] ephread commented on #240
Hey @shireeshMs, no there isn't. There was some work done a while ago by an external contributor, but it was never fully merged back as it needed some more work.

It's very low on my priorities sadly.

[2020-05-14 10:32] shireeshMs commented on #240
hey thanks a lot, you guys worked it really well, let me take this honour first 😊

I saw that reference and I am able to do on nav item but is there any way to change skip position?

[2020-05-14 10:35] ephread commented on #240
You can provide custom constraints, see [here](https://github.com/ephread/Instructions#datasource).

[2020-05-14 10:54] #240 closed

[2020-05-14 13:51] ephread commented on #220
2.0.0 was released!

[2020-05-14 13:51] #220 closed

[2020-05-14 20:30] ephread commented on #237
2.0.0 was released earlier today. I'm going to close the issue, but feel free to open another one if you discover that the problem isn't totally fixed.

[2020-05-14 20:30] #237 closed

[2020-05-16 13:56] ephread commented on #236
I'm closing since version 2.0.0 lets you customise a few things, see [here](https://github.com/ephread/Instructions#customizing-default-coach-marks).

[2020-05-16 13:56] #236 closed

[2020-05-19 10:46] anandtyagi22 opened #241 "Unable to install using SPM"
## Describe the bug

Unable to install using SPM
## To Reproduce

pasted the github url in add package, but got the error package resolution failed.
<img width="728" alt="Screenshot 2020-05-19 at 15 58 04" src="https://user-images.githubusercontent.com/32794318/82317547-0eed8480-99ec-11ea-9a66-ff69d8cc0c32.png">

## Expected behavior

## Screenshots

## Environment
 - Device:
 - iOS version:
 - In

[2020-05-19 10:49] ephread commented on #241
Hi @anandtyagi22, I just tested again and it worked fine. I can't reproduce he issue. Are you able to install other packages? Maybe there's an outage of some sort?

[2020-05-19 11:42] anandtyagi22 commented on #241
<img width="731" alt="Screenshot 2020-05-19 at 17 07 26" src="https://user-images.githubusercontent.com/32794318/82321913-43b10a00-99f3-11ea-883e-0aa2d3594dbf.png">
Hi ephread,
I
<img width="601" alt="Screenshot 2020-05-19 at 17 09 31" src="https://user-images.githubusercontent.com/32794318/82322267-d94c9980-99f3-11ea-98cc-3e26fdf4cdc3.png">
 could add other dependencies .  It gets stuck at starti

[2020-05-19 13:26] ephread commented on #241
Sure, I just pasted `https://github.com/ephread/Instructions`. Note that only 2.0.0 supports Swift Package Manager.

[2020-06-25 12:28] darkbit34 opened #242 "Thread 1: EXC_BAD_ACCESS (code=257, address=0x2824ad922)"
## Describe the bug

`Thread 1: EXC_BAD_ACCESS (code=257, address=0x2824ad922)` happens when I try to access the properties of coachViews.bodyView "`coachViews.bodyView.background.innerColor`"
## To Reproduce

Initialize the library as a guide, and try using the "`coachMarksController.helper.makeDefaultCoachViews`" method to generate a coachViews within the "`coachMarksController (_ coachMarksCont

[2020-06-28 22:22] ephread commented on #242
Hi @darkbit34, thanks for reporting the issue, I'll investigate as soon as possible!

[2020-07-01 13:51] ephread commented on #242
@darkbit34 I'm sadly unable to reproduce the issue.

Does it happen on your end with the example app?
Can you show me the exact code you're using or provide a sample project?

[2020-07-16 20:56] ephread commented on #233
I guess this can be closed now! 2.0.0 should be importable and runnable in iOS 9 projects.

[2020-07-16 20:56] #233 closed

[2020-07-16 20:58] ephread commented on #238
I never quite understood what was going on here, but I suspect it was a local git issue. I'm closing due to inactivity.

[2020-07-16 20:58] #238 closed

[2020-07-16 20:59] ephread commented on #229
@ciathyza is this still happening in the latest version (2.0.0)?

[2020-07-16 20:59] ephread commented on #241
@anandtyagi22 do you still run into the problem?

[2020-07-16 21:05] ephread commented on #64
Sadly, I'm going to close this issue. It's unlikely this will ever be supported. 😕

[2020-07-16 21:05] #64 closed

[2020-07-16 21:10] ephread commented on #111
I tried to make this work automatically few months ago.

I don't think it's going to be possible, because keyboard notifications are also triggered before/after size transitions. There's no way to know for sure whether the keyboard was dismissed because of the size transition or as a result of another action. This means it's impossible to support this in a generic way and therefore it needs to be

[2020-07-16 21:10] #111 closed

[2020-07-21 16:00] hamidptb commented on #87
I find a tricky way to do this and I'm currently using it in my app :

1- get status bar height:
`var statusBarHeight: CGFloat = 0
            if #available(iOS 13.0, *) {
                statusBarHeight = UIApplication.shared.keyWindow?.windowScene?.statusBarManager?.statusBarFrame.height ?? 0
            } else {
                statusBarHeight = UIApplication.shared.statusBarFrame.height

[2020-07-21 17:05] hamidptb commented on #151
you can using from this in your coachMarkViewsAt index ... func :
`coachViews.bodyView.hintLabel.font = UIFont(name: "IRANSansMobile", size: 17)`

[2020-07-29 00:43] HebaAtallah opened #244 "Remove the separator in the coachMarksController"
How to remove the separator line between the nextLabel and the hintLabel, and make the nextLable up a little bit with the makeDefaultCoachViews

[2020-07-30 22:48] chamitha commented on #229
@ephread I'm seeing this issue too in v2.0.0. All is well without setting the `blurEffectStyle`.

[2020-08-01 13:23] ephread commented on #229
@chamitha does that happen with the example project? On which device/simulator? Do you have a minimal projects to share? I'd really like to get to the bottom of this, but I've been unable to reproduce the issue so far. Maybe I'm missing something obvious here.

[2020-08-02 08:07] chamitha commented on #229
@ephread It seems like the issue occurs if the `CoachMarksController` is started in the context of the view controller. However starting it in the context of the window as per the Readme works fine. Let me know if you need further info or a sample project.

[code]

[2020-08-02 08:08] chamitha commented on #229
and for the record I'm using Xcode 11.6 running the iPhone 11 simulator with iOS 13.6

[2020-08-03 17:27] ephread commented on #229
That's an interesting behaviour, thanks for the helping hand @chamitha, it's much appreciated! I'll investigate as soon as possible.

[2020-08-11 02:30] zhaoying8703 commented on #169
I have got the same issue.
The body views not place in the center.
Please let me know for any helps.
![image](https://user-images.githubusercontent.com/62020805/89850849-af071400-dbbd-11ea-922e-3e9ab7e05ea3.png)

[2020-08-11 18:01] #229 closed

[2020-08-13 22:11] Gooshy commented on #244
This is a good suggestion especially when setting isUserInteractionEnabled to true.

[2020-08-14 07:30] ephread commented on #244
@HebaAtallah @Gooshy if you want to go beyond the capabilities offered by the default coach marks, you can provide your own [custom views](https://github.com/ephread/Instructions#providing-custom-views).

[2020-08-27 18:50] ejuden opened #245 "Support SwiftUI?"
Any plans to port to SwiftUI?

Thanks.

[2020-09-03 09:16] djsomen opened #246 "Positioning Coach Mark"
I am often implementing tutorial screens where there are several details on the screen at once. What I would like is the ability to provide a coach mark that can either be placed independent of the cutout, or allow the coach mark to fill the screen so that I can add my own subviews anywhere according to my own constraints. I tried different things but the closest I got was providing a decoration v

[2020-09-04 18:37] ephread commented on #245
Sadly, not at this moment, no 😕. I've investigated a bit and I don't think Instructions can interact with SwiftUI views easily.

[2020-09-04 18:47] ephread commented on #246
Related to #23.

I feel it's probably a bit beyond the scope of this library. If you want to display multiple elements at once on the screen and don't attach them to underlying views, it's probably going to be easier to roll out your custom solution.

#23 is on the roadmap though, but it's been for a long time. Maybe I'll tackle this next!

(By the way, it's possible to show a coachmark without th

[2020-09-06 16:55] djsomen commented on #246
Appreciate the response @ephread 👍 I came up with a solution for the time being. I grab the persistent overlay from the datasource delegate then if a _step_ has independent elements (ornaments) I want to display then I fade them in and out on willShow/willHide. I hope that helps someone.

[code]

[2020-10-02 10:50] lmbcosta opened #249 "Scroll to a certain cell on scroll view before presenting the next CoachMarkView"
## Question
After reading the documentation and make some tests on a sample project, I wasn't able to solve this situation:
- I have a collection view with 4 cells, for instance.
- My first CoachMarkView will be the first cell.
- My second CoachMarkView will be the third cell.
I want to scroll to my third cell animated and then get the correct frame for this cell
Currently I am trying to do someth

[2020-10-03 10:21] ephread commented on #249
Hey @lmbcosta, so Instructions is always a bit tacky when used will collections.

But what you can do is look into [pausing and resuming the flow](https://github.com/ephread/Instructions#pausing-and-resuming-the-flow) (also, have a look at this [example](https://github.com/ephread/Instructions/blob/main/Examples/Example/Sources/Core/View%20Controllers/Delegate%20Examples/DelegateViewController.swi

[2020-10-06 08:08] lmbcosta commented on #249
Hello, @ephread. Thank you for the reply. I was testing and, yes, I was able to make it work using pause/resume strategy.
Consider this issue closed

[2020-10-06 18:37] ephread commented on #249
I'm glad to hear that!

[2020-11-04 20:31] muaviya opened #251 "Show instructions for UITableView"
Show instructions for UITableView with multiple sections and multiple rows.

I have 17 sections and a total of 34 cells.
I can't correctly pass the cell position because the table hasn't loaded this cell yet.
For example, I am in the top position, and I need to show the instructions in the last cell that has not even loaded yet.

I tried:

[code]

my `contentCell ` is null if table view not loaded

[2020-11-15 12:35] ExeRhythm opened #252 "How can I make user be able to tap outside of CoachMark to proceed to the next one?"

[2020-11-15 15:59] #252 closed

[2020-11-15 16:00] ExeRhythm commented on #252
I figured it out. I forgot to run `self.coachMarksController.overlay.allowTap = true`

[2020-11-16 18:20] ephread commented on #251
Hey @muaviya, I believe you may find #249 interesting as it sounds like you're having the same issue!

[2020-12-10 09:12] #244 closed

[2021-02-02 07:24] parth-simformsolutions opened #253 "nextControl not working when we create custom view using xib."
## Describe the bug
I have created CoachMarkBodyView with xib.
I have return unbutton as nextControl which I have connected using outlets.
Now I am not able to click on next button.

## To Reproduce

## Expected behavior
Actually I should able to click on next button and it should show next instruction.

[2021-02-06 21:54] ephread commented on #253
Hi @parth-simformsolutions, thanks for reporting the problem. This is a very vague issue, do you have more information or a minimal project you can share?

How/where do you instantiate your XIB?

[2021-02-07 18:48] ephread commented on #251
Closing due to inactivity.

[2021-02-07 18:48] #251 closed

[2021-02-07 18:51] ephread commented on #245
I'm closing due to inactivity.

It _might_ be possible to call Instructions from SwiftUI, but that would require a significant amount of work, which I'm not willing to invest. If anyone's interested in tackling this, feel free to ping me!

[2021-02-07 18:51] #245 closed

[2021-02-07 18:52] ephread commented on #242
Any update on this @darkbit34?

[2021-02-07 18:52] ephread commented on #241
Closing due to inactivity.

[2021-02-07 18:52] #241 closed

[2021-02-07 20:25] ephread commented on #246
Closing because I consider this resolved. Great solution here!

[2021-02-07 20:25] #246 closed

[2021-02-28 08:57] ameedsayeh opened #254 "Back Control"
## Is your feature request related to a problem? Please describe.
The problem is: if the user hits next by mistake he/she can't go back to the previous coach mark.

## Describe the solution you'd like
It would be great if you add `var backControl: UIControl? { get }` to the BodyView

## Describe alternatives you've considered
I'm currently, loading only one tour mark each time and handling back, n

[2021-05-18 04:20] seirifat commented on #253
Hi! I'm sorry I intervene, but I did too,
Here's my code:

[code]

And i instantiate, like this:
[code]
I followed the custom view example, but used xib,
am i miss some configurations or something?

Thank you!

[2021-05-19 17:51] ephread commented on #253
Hey @seirifat, what problem do you see exactly with that code? Anything pops up in the console?

[2021-05-27 09:37] SylvainHocq commented on #235
Hi @clueth , have you fix your problem? How?
I have the same problem,  the instructions change to portrait mode the second time.
Thank you in advance for your reply

[2021-05-27 11:47] SylvainHocq commented on #235
Hi @clueth
In fact, i have founded my bug.
I do this kind of things to not recreate already existing instance of CoachMarksController:
`func displayTutorial() {
        if coachMarksController == nil {
            let coachMarksContr = CoachMarksController()
            coachMarksController = coachMarksContr
            coachMarksContr.dataSource = self
            coachMarksContr.delegate = self

[2021-06-04 15:55] sillyguodong opened #255 "Is there a way to know that all coachMarks has been clicked?"
Hi,
    Is there a way to know that all coachMarks has been clicked? I want to do something after the lastest mark clicked.

[2021-06-05 07:52] sillyguodong commented on #255
it works, thank you so much!

[2021-06-05 07:52] #255 closed

[2021-06-13 11:28] ameedsayeh commented on #254
thanks @ephread

[2021-06-13 11:28] #254 closed

[2021-07-15 23:52] Panajev opened #256 "[Breaking][Xcode 13.0 b3]: "error: 'shared' is unavailable in application extensions for iOS:""
## Describe the bug
Hello @ephread,

When compiling our application, I see the following problem reproduced with the attached sample example (modified the following repository sample... taken the sample from the repo and just reduced it a bit and used the library from SwiftPM and not the precompiled version included before to replicate how we use it in our apps):

$HOME/Library/Developer/Xcode/Der

[2021-07-16 00:47] Panajev commented on #256
You could close it as I think it is a SwiftPM change. Integrating the library through CocoaPods solves the problem here and passes it down to the next library integrated through SwiftPM.

[2021-07-17 20:45] ephread commented on #256
@Panajev Hey there, well that should be an easy fix; you've already done the heavy lifting! Than you so much for providing a example and investigating. I'll try to make the fix over the coming days.

[2021-07-19 17:37] madhumb opened #257 "Coach marks on Table view"
## Describe the bug
I would like to implement coach marks on table view.
plan is to show coach marks on some of the cells. I need to scroll to particular item if its not visible and show coach mark on it.

It works fine when all cells are visible. it doesn't work only when I had to scroll and show.

## To Reproduce
Issue is : If cell is not in visible cells, coach mark is not showing up

## Expect

[2021-07-20 06:28] madhumb commented on #257
@ephread  let me know if quick config I'm missing

[2021-07-20 10:48] ephread commented on #257
Hey @madhumb, I believe you may find #249 interesting as it sounds like you're having the same issue!

As for the duplicated coach marks, are you pausing in `willShow` or in another delegate method?

[2021-08-11 14:49] kylebrowning commented on #256
Heads up Xcode Beta 5 fixes this.

[2021-09-01 13:44] yasserosama07 commented on #235
Hi @clueth, I'm encountering the same problem on iPad running on Landscape,
did you find any solution ?

[2021-09-01 14:22] yasserosama07 commented on #253
Hi,

I'm having the same problem but only on iPad, when i tap on Next nothing happens, created custom target for the button but also nothing happens.

It's working fine on iPhone.

[2021-09-19 08:16] getchec0 opened #260 "Framework is not woking with xib file it only accept viewcontroller in start function"
I am struck with this function for implementing for xib file

`    self.coachMarksController.start(in: .window(over: self))
`
It only accept the viewController not xib file in start(in: .) parameter. How to integrate this framework with .xib file

Here on these stackoverflow links are my tries to solve this issue but not successfull
[link 1](https://stackoverflow.com/questions/69233926/how-to-acce

[2021-09-22 05:02] #260 closed

[2021-10-25 10:04] abspr opened #262 "Why CoachMarksController is not open?"
The CoachMarksController class is Public and not Open. Is there any reason for that? I want a subclass from it!

[2021-10-27 05:20] #262 closed, assigned to nobody

[2021-10-28 12:42] Parham-dev opened #263 "Next Label Issue on iOS 15"
The next label on iOS 15 get truncated. it works fine on iOS 14 and below.
![IMG_2812](https://user-images.githubusercontent.com/8505643/139257275-5126b388-75bd-43e5-8a0a-d8b89836151c.PNG)

[2021-11-04 18:08] jamestalano commented on #263
Any updated?

[2021-11-04 19:34] ephread commented on #263
@Parham-dev @jamestalano sorry for the late response, it should be fixed in main, thanks to #261. I need to double check a few things and create a release.

[2021-11-05 04:50] jamestalano commented on #263
Great Thank you @ephread Could you please let me know the release version?

[2021-11-05 13:54] jamestalano commented on #263
I am using Pod and which version can I use to see fixed one? Thanks~ @ephread

[2021-11-08 19:55] jamestalano commented on #263
Any update please?

[2021-11-09 14:21] ephread commented on #263
@jamestalano point to 'main' in your Podfile and let me know if that solves the issue.

[code]

[2021-11-09 14:31] jamestalano commented on #263
Great It works! Thank you so much!

[2021-11-09 23:27] jamestalano commented on #263
Please let me know once you release this fix so that we can use regular version. Thanks

[2021-11-27 22:57] ephread commented on #263
[2.1.1](https://github.com/ephread/Instructions/releases/tag/2.1.1) was released on November 16 an should fix the issue. Closing!

[2021-11-27 22:57] #263 closed

[2021-11-27 22:58] ephread commented on #257
Closing due to a lack of activity.

[2021-11-27 22:58] #257 closed

[2021-11-27 22:58] ephread commented on #256
Closing because it fixed itself.

[2021-11-27 22:58] #256 closed

[2021-11-27 22:59] ephread commented on #242
Closing due to inactivity.

[2021-11-27 22:59] #242 closed

[2021-12-01 17:44] negarhaghbin opened #264 "Scroll view between steps"
## Describe the bug
I'm trying to scroll view between the second and third steps of the walkthrough but no matter where I use `prepareForChange()`  and `restoreAfterChangeDidComplete()` I get `simultaneous access` exception in the second line of `willTransition` function. What am I doing wrong?

## To Reproduce
Use a coachmarkController in a scrollable view and here is how I call the functions:
[c

[2021-12-02 11:39] ephread commented on #264
Hey @negarhaghbin!

`prepareForChange()` and `restoreAfterChangeDidComplete()` are old and a bit cumbersome, they probably don't play well with Swift 5+ memory safety improvements. I should certainly remove them and improve the documentation. It's recommended that you pause the flow instead, perform the animation, then resume it. The best place to do that is in `willShow` instead of `didHide`.

I

[2021-12-02 14:16] negarhaghbin commented on #264
Thanks, @ephread! It's working now. I added the part that was meant for after the scrolling code is completed in `scrollViewDidEndScrollingAnimation` function of `UIScrollViewDelegate`.

[code]

[2021-12-02 14:16] #264 closed

[2021-12-02 14:49] ephread commented on #264
Cheers, that's great to hear!

[2021-12-15 18:05] pipizanzibar commented on #140
the issue is still ongoing. this is my code:

 coachMarksController.overlay.isUserInteractionEnabledInsideCutoutPath = true
coachMarksController.overlay.isUserInteractionEnabled = true
coachMarksController.overlay.areTouchEventsForwarded = true
coachMarksController.delegate = self
coachMarksController.dataSource = self

it appears that with these settings it won't enter the delegate method shouldH

[2021-12-20 22:01] nickbit opened #265 "Skip button in coach body view"
## Is your feature request related to a problem? Please describe.

I have a design where the skip button is in the body view of the coach marks.
However, when the skip button is clicked, I cannot call `coachMarksController.stop(immediately: true)` with an additional `isSkipped` argument, so the `CoachMarksControllerDelegate` gets always false in `func coachMarksController(_ coachMarksController: C

[2021-12-22 12:16] ephread commented on #265
Hey @nickbit, thanks for opening a feature request!

I can't think of any other than what you've already suggested.

Yup, I think that would make sense. I'll try do do that before the end of the week.

[2022-02-14 20:55] nickbit commented on #265
@ephread any update on that?

[2022-03-07 03:05] kansaraprateek opened #268 "Root view window reference"
Hi,

I am trying to get access to new UIWindow reference created to show coaches. Is there a way to access that?
My app has voice over accessibility feature support and I am unable to make that work due to multiple UIWindow.
As every time a coach is shown the voice over accessibility works only with the views in the first window and not the one created for coaches.

[2022-03-21 08:25] muga87 opened #269 "for UITableVIewScroll crash"
## Describe the bug

I have added CoachMarkControllerDataSource for UITableview which have 5 static cell. I can see visible cells, but crashing for not visible cells. Any thoughts.
## To Reproduce

## Expected behavior

## Screenshots

## Environment
 - Device:
 - iOS version:
 - Instructions version:
 - Dependency Manager:

## Additional context

[2022-03-24 09:30] vgkanis opened #270 "Top arrow is not displayed"
As the title says, the top arrow is not displayed. But, the bottom it is.
The body of the CoachMark is a custom one, but I am using the default arrows.
This screenshot is with the bottom arrow:
![Screenshot 2022-03-24 at 11 23 41 AM](https://user-images.githubusercontent.com/14078589/159885570-3409a7b3-ddce-4d5b-b460-a366a145c530.png)

and this one is with the top arrow:
![Screenshot 2022-03-24 at

[2022-05-05 07:24] eshwartm opened #272 "Can the "next" control be at the bottom right corner of each coach mark screen?"
## Is your feature request related to a problem? Please describe.

Can the "next" control be at the bottom corner of each coach mark screen?

## Describe the solution you'd like

Would want to click next at the bottom right of every coach mark screen.

## Describe alternatives you've considered

alternatives include making a custom view and checking if i can put it along with skip button at the bo

[2022-05-23 07:30] AmanKumarGoswami opened #275 "Checking for Objective-C compatibility"
Can we utilize the library with objective C? If yes then can anyone please guide me on the same?

[2022-05-24 21:20] ephread commented on #268
Hello @kansaraprateek, sorry for the late response.

The window is not accessible, but it would be easy to expose it publicly. It's a good idea; Instructions doesn't handle accessibility very well. I have a batch of improvements to make to close other issues, so exposing the window will be part of it.

[2022-05-24 21:25] ephread commented on #269
Hello @muga87, sorry for the late response.

I would need a lot more information to be able to help you. Maybe these searches can hep you:

https://github.com/ephread/Instructions/issues?q=is%3Aissue+tableview+
https://github.com/ephread/Instructions/issues?q=is%3Aissue+table+view+

[2022-05-24 21:28] ephread commented on #275
Hello @AmanKumarGoswami, it's impossible to use Instructions in Objective-C directly because it uses pure Swift types. It can work with a bit of glue, though. See [previous issues](https://github.com/ephread/Instructions/issues?q=Objective-C) on the topic.

[2022-05-24 21:28] #275 closed

[2022-05-25 16:51] ephread commented on #270
Hey @vgkanis, sorry for the late response.

That's weird, it's going to be difficult to troubleshoot without having access to the code. Would you be able to provide a sample project showcasing the issue or a few code excerpts?

[2022-05-25 16:58] ephread commented on #268
@kansaraprateek `CoachMarkController` now exposes `rootWindow`! Let me know if it solves your issue.

[2022-05-25 20:54] ephread commented on #272
Hey @eshwartm, the feature was implemented by @ong-yue-huei in #273 (thanks again!)

Usage in [NextPositionViewController.swift#L103](https://github.com/ephread/Instructions/blob/3872fa1a5bc9814217be9c783c6d6a3a53cf6bb0/Examples/Example/Sources/Core/View%20Controllers/Basic%20Examples/NextPositionViewController.swift#L103), let me know if it works for you.

[2022-05-25 20:54] #272 closed

[2022-05-25 20:59] ephread commented on #224
Closing this, as I'm certain it was caused by a bug in the toolchain 3 years ago. It's been working well since (as far as I know).

[2022-05-25 20:59] #224 closed

[2022-06-29 06:06] kadm91 commented on #226
I had the same problem with a project I am working on, I solve it by moving the code that was causing the bug to the main queue since that code was directly related to UI. this was in Xcode 13.

[2022-07-21 09:14] bevanchristian commented on #270
func coachMarksController(_ coachMarksController: CoachMarksController, coachMarkAt index: Int) -> CoachMark {
        var coachMark: CoachMark
        let flatCutoutPathMaker = { (frame: CGRect) -> UIBezierPath in
            return UIBezierPath(rect: frame)
        }
        let coachMarkPointOfInterest = homeCoachMarkViewModel.coachMarkData[index].pointOfInterest

        coachMark = coachMarks

[2022-07-21 09:15] bevanchristian commented on #270
same with me this is my code

[code]

[2022-07-21 09:36] bevanchristian commented on #270
i found the problem
[code]

i have to set y to 10 and arrow will appear

[2022-08-18 06:26] hassan-devcrew opened #277 "Remove/Skip all pending CoachMarks"
Basically I want to skip or removed all instructions views which is not displayed yet because another view controller is presented on it before starting the coach & its showing on wrong view controller. So, I want to remove / dismiss all coach marks in this case.

Thanks.

[2022-08-26 07:57] gowripriya1999 opened #278 "Is it possible to add animation (ripple/pulsing) to the coach mark cutout path?"
Is it possible to add animation (ripple/pulsing) to the coach mark cutout path?

https://user-images.githubusercontent.com/51815366/186852528-744d76a5-c283-46e9-8f4b-3b49ba776597.mov

[2022-10-31 14:43] haffez23 opened #282 "Crash - NSLayoutConstraint constant is not finite!"
I logged a crash in my firebase console, it happned for one user 3 times and I cant reproduce it  Here

## Environment
 - Device: iPhone 13 Pro
 - iOS version: 16
 - Instructions version: main
 - Dependency Manager: CocoaPods

Trace of crash:
**Fatal Exception: NSInternalInconsistencyException**
NSLayoutConstraint constant is not finite! That's illegal. constant:inf firstAnchor:<NSLayoutYAxisAncho