[2015-10-23 09:28] kaandedeoglu opened #1 "Show message-only coachmarks"
Sometimes it is preferable to display just a text, without a next button or a separator. It seems `Instructions` does not support this at the moment. But I think it would be a good addition.

[2015-10-23 09:30] kaandedeoglu opened #2 "delay function is never used"
the function

[code]

in `Instructions.swift` is never used within the project.

[2015-10-23 09:54] kaandedeoglu commented on #1
fair enough :) I'd like to send a pull request for this if you're not completely against the idea.

[2015-10-23 09:56] kaandedeoglu commented on #2
hint hint - the same file also has semi-colons after constant declarations :v:

[2015-10-23 10:04] ephread commented on #1
I'm not completely against the idea. ;) How do you envision this? Another `CoachMarkBodyDefaultView`-like class with only text in it?

Do you think the “default” views are really usable “as-is”? I actually never thought anyone would use the “default” styles!

[2015-10-23 10:07] ephread commented on #2
Haha, some Objective-C reflexes are still around. It's not that easy to constantly jump between different codebases. :) Thanks again!

[2015-10-23 10:14] kaandedeoglu commented on #1
Yes why not, most people just want basic views as long as they are somewhat configurable.

Things would get a lot more flexible if the `hintText` and `nextText` were given in the constructor. like

[code]
and the `separatorView` and the `nextLabel` were added iff `nextText` is non-nil.

Of course, thinking about it now, it all takes 1 subclass similar to the `CoachMarkBodyDefaultView` per project.

[2015-10-23 10:39] ephread commented on #1
I guess giving a little more flexibility to the “default” coach mark is okay. :) Go for it!

[2015-10-23 11:34] #2 closed

[2015-10-26 15:51] RommelTJ opened #4 ""walthroughs" is misspelled in the repo description. ;0"
Looks like an awesome project, btw.

[2015-10-26 16:04] ephread commented on #4
Haha, good catch! There are probably other typos remaining in the README as well. Thanks, that's corrected.

[2015-10-26 16:17] RommelTJ commented on #4
:smile_cat: :metal:

[2015-10-26 16:17] #4 closed

[2015-10-27 08:35] 99centsappdevelopment opened #5 "Objective-C"
Are there any plans to release this control for objective-c?

Looks fantastic, by the way!

[2015-10-27 08:48] ephread commented on #5
Thanks!

There are plans to support _[mix & match](https://developer.apple.com/library/ios/documentation/Swift/Conceptual/BuildingCocoaApps/MixandMatch.html)_. :) But I don't know when. It could be implemented in the next week or in the next month. I want to improve the test coverage beforehand!

[2015-10-28 17:00] dgsdjkfh opened #6 "!!! 1 844 247 1987 !!! Canon Printer support phone number, canon printer customer care phone number"
!!! 1 844  247 1987  !!! Kodak Canon  Printer technical support phone number, HP printer Tech supp
• $$$ 1 844  247 1987  $$$ Kodak Canon  Printer technical support phone number, HP printer Tech supp
• $UPPORT tECH:1)844 6624436dell,canon,canon  Printer1844 6624436Tech Support Phone Number.
• ' US A CANADA '1____844____247 ____1987  Gmail Technical Support Phone Number USA CANADA
• ' US A CANADA '

[2015-10-28 17:11] #6 closed

[2015-10-31 06:13] wongben opened #7 "Unbalanced calls toBug: begin/end appearance transitions for <Instructions.CoachMarksController: 0x7f8e9af09af0>"
step 1.create a new project(iOS8 or iOS 9).

step 2.pod install.

step 3.implement most simplest code,like below:

step 4.Log show:
Camera[42391:588974] Unbalanced calls to begin/end appearance transitions for <Instructions.CoachMarksController: 0x7f8e9af09af0>.

import UIKit
import Instructions
class ViewController: UIViewController,UIImagePickerControllerDelegate,UINavigationControllerDelegate ,

[2015-10-31 08:49] ephread commented on #7
This issue has been fixed by e4f72d5, but the pod hasn't been updated in a while. I'll make a release today or tomorrow!

[2015-10-31 09:02] ephread commented on #5
I gave the matter some thoughts and… well, since I use Swift-only features, such as tuples and structures, rewriting the library to use only bridgeable types would not be worth the hassle. However, I (roughly) detailed a possible solution in the [objective-c](/ephread/Instructions/tree/objective-c) branch.

It involves using Swift classes conforming to `CoachMarksControllerDataSource` and `CoachMa

[2015-10-31 09:03] ephread commented on #1
@kaandedeoglu any updates on that pull request? :)

[2015-10-31 10:43] wongben commented on #7
Thank you！

[2015-10-31 10:43] #7 closed

[2015-11-02 15:20] kaandedeoglu commented on #1
@ephread sorry have been super busy - I've already implemented something similar for my own use case, but it's not generic enough yet. Will update you on it when I get a chance. I can close this for the time being if your prefer.

[2015-11-02 21:09] ephread commented on #1
Alright, we're all busy, aren't we :). That's no big deal, the issue can remain open, we'll close it once the pull request is ready. I simply wanted to make sure the feature was still in the pipeline!

[2015-11-02 21:13] ephread commented on #5
I think the question has been answered.

Closing!

[2015-11-02 21:13] #5 closed

[2015-11-03 17:33] LeonardBonfils opened #8 "Customizing view cutout"
Hey,

Thanks a lot for this library. I was wondering if you could tell me how to customize the cutout path. Here's a screenshot of what I'm getting.

http://imgur.com/q26iERN

I would really like to "cut" the three edges that are visible in my cutout. On the bottom and on the right side of my visible view, I have black bars. And at the top, I have a yellow bar. I've also got a small yellow portion

[2015-11-03 18:41] ephread commented on #8
Je t'en prie !

If I understand your question correctly, you only need to provide a block returning the appropriate `UIBezierPath` to `coachMarkForView(_:UIView)` (as stated [here](https://github.com/ephread/Instructions#providing-a-custom-cutout-path)).

If you want the cutout path to equal the frame of the given view, you can use the following code:

[code]

On a side note, since you're using th

[2015-11-03 21:24] LeonardBonfils commented on #8
This really does not seem to be working. (the UIBezierPath function). It is selecting the right view (my button subview...) but it's just not applying the right frame "selection". Even if I use CGRectInset with delta values of like -4000, it doesn't move at all. What could be wrong ?

Here is my code

            var coachMark = coachMarksController.coachMarkForView(self.view.viewWithTag(1)) {

[2015-11-03 21:53] CaptainKurt opened #9 "Make coachmark appear above the view"
Hi, I'm trying to get the coachmark to appear above the view I'm trying to point to, but am having a hard time figuring out how to do so. I realize that for some views the coachmark automatically appears at the top, but in my case it is not and is being presented off the screen.

[2015-11-03 23:09] ephread commented on #9
At the moment, it's not possible to manually tell Instructions whether the coach mark should sit at the top or at the bottom of the view (this might become possible in the future). However, the code defining the top/bottom position is extremely simple (maybe too simple):

[code]

The only edge case I can think of, is if your view has its origin above (or below) the middle of the screen, while bein

[2015-11-03 23:31] ephread commented on #8
Tricky, tricky. The `cutoutPath` may somehow be overriden. It might be a bug in the library, but I've checked again and all the examples work properly.

- You're not doing anything fancy, are you (such as calling `updateCoachMark`)?
- Which version of Instructions do you use?
- Can you confirm that, if you download the [project](https://github.com/ephread/Instructions/releases/tag/0.3.0), and twea

[2015-11-05 18:24] hammyhamza opened #10 "Working perfectly in iOS 9 but Screen goes black in iOS 8"

[2015-11-05 18:42] ephread commented on #10
Thank you for reporting this bug.

Can you provide more details about the issue?

- On which subversion of iOS 8 do you encounter the bug? (8.1, 8.2… 8.4)
- Which device?
- What are the steps I should follow to reproduce the issue?

[2015-11-06 06:46] #10 closed

[2015-11-06 06:47] hammyhamza commented on #10
Sorry for not testing it properly its working perfectly the problem was on my side.
Thanks for this wonderful library

[2015-11-10 09:43] ephread commented on #8
@LeonardBonfils any update on your issue? Did you solved it on your own?

[2015-11-10 14:07] LeonardBonfils commented on #8
Unfortunately, I was not able to get it to work. I just accepted the fact that it doesn't cut out the view properly. Maybe I'll give it another shot later, before releasing my update.

On Nov 10, 2015, at 04:43, Fr?d?ric Maquin <notifications@github.com<mailto:notifications@github.com>> wrote:

@LeonardBonfils<https://github.com/LeonardBonfils> any update on your issue? Did you solved it on your o

[2015-11-10 14:21] ephread commented on #8
It should work. There might be a bug in the library, which I would gladly fix, if you could provide me with more information. :) I'll close the issue for the time being, feel free to re-open it later!

[2015-11-10 14:21] #8 closed

[2015-11-11 11:19] RobertNNms opened #12 "Sample Objective-C"
Hi,

Have you a little sample of implementation in Objective-C ?

Thanks

[2015-11-11 12:14] hoangtx90 commented on #12
There is no Objective-C example at the moment. You can wait a little longer or implement it yourself and create a pull request

[2015-11-11 12:50] ephread commented on #12
Actually, there is an Objective-C example, in the [`objective-c`](https://github.com/ephread/Instructions/tree/objective-c#using-instructions-in-objective-c-code) branch. It hasn't been merged back into `master` because it's only the bare minimum at the moment.

Please note, though, that Instructions can't be bridged to Objective-C, since it uses pure Swift types. You'll still need to write a bit

[2015-11-11 12:54] ephread commented on #9
@CaptainKurt any update regarding your issue? I plan to roll out a fix for the edge case mentioned above in the coming weeks.

[2015-11-12 09:35] estebansotoara commented on #1
Hi
I saw this issue open and decided to give a hand, I added the constructor
```defaultCoachViewsWithArrow(withArrow: Bool = true, arrowOrientation: CoachMarkArrowOrientation? = .Top, hintText: String, nextText: String?)```
as kaandedeoglu suggested and follow the same rule, only shows the ```nextLabel``` and ```separatorView``` if ```nextText``` is provided.

I leave the original
```defaultCoachV

[2015-11-13 08:53] ephread commented on #1
Thanks @estebansotoara! I'll take a look in the next few days. ;)

[2015-11-24 09:31] ephread commented on #12
Closing due to inactivity.

[2015-11-24 09:31] #12 closed

[2015-11-24 09:31] ephread commented on #9
Closing due to inactivity. Feel free to reopen the issue if necessary.

[2015-11-24 09:31] #9 closed

[2015-11-25 03:18] huanghui1 opened #14 "有么有OC版的呢?"
有么有OC版的呢?

[2015-11-25 03:20] #14 closed

[2015-12-02 11:03] nahive opened #15 "Crash when first displayed."
Randomly crashes on startup.

[code]

[2015-12-03 12:29] ephread commented on #15
Thanks for reporting the problem.

With which version of Instructions does the crash occur?

[2015-12-05 17:31] ianhlavats commented on #15
I'm having the same issue. It's crashing on startup in 0.3. I followed the steps in the readme but it's crashing in CoachMarkDisplayManager.computeSegmentIndexForLayoutDirection due to division by zero. Looking at the code:

[code]

It appears that instructionsTopView was initialized as UIView() and has a default width and height of 0. It crashes on the return statement because segmentIndex has a

[2015-12-07 08:37] nahive commented on #15
Version 0.3.0 on iOS9 on all types of iphones.

[2015-12-10 14:24] oferRounds opened #16 "Help in adding Instructions Manually"
Hi
Would love for some help...
I'm trying to add Instructions manually, as I'm getting some issues when trying add any Swift project to my Objective-C project (setting my pods to "use_frameworks!" is what does the problem - not related specifically to Instructions).

So I follow the instructions, but:
1. When adding the "Instructions.xcodeproj" it only adds this file - shouldn't I add the entire s

[2015-12-11 04:52] oferRounds commented on #16
Ok, it was my local problem, I'm good now.
Thanks for this really great library!

[2015-12-11 04:52] #16 closed

[2015-12-11 06:49] oferRounds opened #17 "Enhancement: use Instructions from within Objective-C file"
Would be great if this support could be added!

[2015-12-11 09:10] ephread commented on #17
Hey @oferRounds Please see https://github.com/ephread/Instructions/issues/12 ;)

Unless Apple makes some changes to the way _mix & match_ work, Instructions will never be bridged to Objective-C, because it uses pure Swift types. However, you can make it work with a bit of Swift glue.

[2015-12-11 09:29] ephread commented on #15
I can't reproduce the crash, but I'm guessing that, for some reason, `computeMetadataForFrame` wasn't properly called.

Does it crashes with the example project? Can you provide me with a minimal crashing example?

[2015-12-11 11:31] machelix commented on #15
for me it's crashing at
    private func computeSegmentIndexForLayoutDirection(layoutDirection: UIUserInterfaceLayoutDirection) -> Int {
        let pointOfInterest = coachMark.pointOfInterest!
        var segmentIndex = 3 * pointOfInterest.x / instructionsTopView.bounds.size.width

        if layoutDirection == .RightToLeft {
            segmentIndex = 3 - segmentIndex
        }

        return I

[2015-12-11 12:19] oferRounds commented on #17
Thanks @ephread!

I'm currently looking into it, just want to update that the Objective-C example currently crashes when launched. I'm getting this error:

dyld: Library not loaded: @rpath/Instructions.framework/Instructions
  Referenced from: /var/mobile/Containers/Bundle/Application/CE836E5A-8CBF-4B2E-A9B9-57C5ACAB42F8/Instructions Example Objective-C.app/Instructions Example Objective-C
  Reaso

[2015-12-11 12:21] oferRounds commented on #17
I'm not sure which image is it referring to...

[2015-12-11 13:27] oferRounds commented on #17
Ok, tried it using your approach - works like charm :)
Thanks a lot again!

[2015-12-11 16:30] ianhlavats commented on #15
I noticed a crash when I called ```coachMarksController.startOn(self)``` from viewDidLoad() but this was resolved when I moved the code to viewDidAppear(). Hope it helps!

[2015-12-11 20:37] ephread commented on #15
Kudos @ianhlavats, that's super helpful! ;)

Indeed, `coachMarksController.startOn` cannot be called in `viewDidLoad()`, since the view hierarchy won't be ready until `viewDidAppear()`. I guess the crash occurs because `instructionsTopView` has no size and as we all know, dividing by zero gives infinity. Ceiling infinity can only end badly.

I'll probably add something in the README about that. An

[2015-12-11 20:54] ephread commented on #17
You're welcome. ;)

Thanks for reporting this issue, I forgot to link the _Instructions_ framework from the Objective-C project (meh :/), that's why it doesn't start, the dynamic library is missing. I'll fix it as soon as possible!

[2015-12-11 21:58] ephread commented on #1
@estebansotoara sorry for the HUGE delay, it looks mostly good ;), can you start a PR, so I can make few suggestions on the related issue?

[2015-12-11 23:44] machelix commented on #15
by moving start to viewDidAppear(), my crash have been solved.

[2015-12-12 20:49] estebansotoara commented on #1
Done, the PR is #18

[2015-12-18 00:46] eeschimosu opened #19 "Ambiguous use of 'coachMarkForView(_:bezierPathBlock:)'"
in the method:
[code]
when I try to assign the point of interest (at *case 0*)
[code]
I get the error: *Ambiguous use of 'coachMarkForView(_:bezierPathBlock:)*
The *case 1* works fine.

[2015-12-18 10:55] eeschimosu commented on #9
I've tried to force the coachMark to display it on Top or Bottom but I had no success.

I used this:
[code]

Any idea how to achieve this?

[2015-12-20 21:31] ephread commented on #9
Hello @eeschimosu, the feature is not implemented yet, at the moment, you can't manually specify whether the bubble will display at the top or at the bottom of the point of interest. It's on the roadmap, though. :)

[2015-12-20 21:31] ephread commented on #19
Thanks for reporting the issue, I'll look into it as soon as possible!

[2015-12-21 23:46] eeschimosu commented on #9
Thanks for your response @ephread !

[2015-12-22 00:32] shergin opened #20 "Rename `datasource` to `dataSource`"
The variant `dataSource` is more convenient on iOS.

Thanks!

[2015-12-22 00:35] shergin opened #21 "Wrap or remove access to `UIApplication.sharedApplication()`"
The reason is:
[code]

Access to `UIApplication.sharedApplication()` unavailable inside iOS extensions and because of this library cannot be used for instance for guide inside custom keyboard.

[2015-12-22 17:08] ephread commented on #20
Oh yeah, I don't know what I was thinking. I was absolutely certain it was spelled `datasource` throughout UIKit. Thanks, I'll correct this in the near future. :)

[2015-12-22 17:12] ephread commented on #21
Good point. I actually never thought about that particular case. The current code calling `UIApplication.sharedApplication()` is only used to make sure the “Skip button” doesn't overlap the view. It even uses a magic value… sigh… it was bound to break one way or another. :) I'll look into it, thanks!

[2015-12-23 19:19] shergin commented on #20
I just mention it because I spend couple of extra minutes investigating bug caused unusual spelling of "dataSource".
Thank you for your work!

[2015-12-23 19:42] shergin commented on #21
Unfortunately, as I know, there is no predefined #define variable of something like this to test for such king of availability issues. (

You can take a look at similar topic here: https://github.com/AFNetworking/AFNetworking/issues/2119

But, I hope, we can:
 * Just avoid using "sharedApplication" object.
 * Use something like this (I haven't tested it yet):

[code]

[2015-12-27 14:08] ephread commented on #21
Thanks for the tip. ;) For now, I'll just test whether `UIApplication` responds to `sharedApplication`, it'll be enough, given that this feature is scarcely used. But I'll play with keyboards and extensions in the future!

[2015-12-27 14:14] #20 closed

[2015-12-28 19:18] shergin commented on #21
Thank you!
But... Unfortunatelly, it will not work. (
Compiler simply can't compile line `UIApplication.sharedApplication()` (even if it inside the `if`-statement and never called), because of this we have to use something like `UIApplication.performSelector("sharedApplication")`.

[2015-12-29 18:52] ephread commented on #21
Ah, I'm sorry, I'm not familiar at all with the way extensions work on iOS. I thought `NS_EXTENSION_UNAVAILABLE_IOS` would somehow make a difference at runtime rather than compile-time :sweat:. Tell you what, would you be able to make a pull request, fixing the problem?

That would be much easier since, at the moment, I'm not able to test the library within the constraints of the app extension env

[2015-12-29 20:07] ephread commented on #19
@eeschimosu I can't reproduce the issue.

There are indeed two methods named `coachMarkForView`, both returning `CoachMark`, but I fail to see how Swift could find the call ambiguous. I've got few questions:

1. I assume the type of `self.collectionView` is either `UICollectionView?` or `UICollectionView`, would it happen to be something else?
2. How did you import the library? By hand? with Cocoa

[2015-12-29 20:08] ephread commented on #17
Pre-closing, as `objective-c` won't be merged into `master` in the near future.

[2015-12-29 20:08] #17 closed

[2015-12-29 20:11] ephread commented on #15
Closing, due to inactivity. Feel free to re-open, should the issue arise again.

[2015-12-29 20:11] #15 closed

[2016-01-03 11:13] bkvirendra opened #22 "Anyway to make use of this library in my objective-c project?"

[2016-01-03 16:24] ephread commented on #22
@bkvirendra please see #12.

There is an Objective-C example, in the `objective-c` branch (which has yet to be merged back to `master`).

[2016-01-08 01:24] jegv91 opened #23 "Multiple coaches?"
This project looks awesome, but I was looking for something that supports multiple instructions on the screen at the same time. Any plans for this? Thanks in advance!

[2016-01-08 09:20] #22 closed

[2016-01-09 07:26] Archa3093 opened #24 "How to add two buttons in coachMark?"

[2016-01-09 09:41] ephread commented on #24
Hello @Archa3093, can you provide a little bit more context to your question? What would those two button do?

[2016-01-09 09:44] ephread commented on #23
I've thought about it, but it's not implemented yet and I can't give you a reasonable prediction as to when it will roll out. :( (So much on the roadmap and so little time at the moment…)

[2016-01-12 21:28] hardikdevios commented on #1
please merge this PR and update the podspec

[2016-01-16 08:49] mrdavey opened #25 "Skip certain coachMark"
Hi there. Great work on Instructions!

Is there a way to skip a certain coachMark programatically? E.g. getting access to showNextCoachMark().

My use case is:
1) Display keyboard during a coachMark
2) Wait for the user's input
3) Progress to the next coachMark after user has selected 'return' from the keyboard

I would like to skip the current coachMark in step 3, so the next coachMark is display

[2016-01-18 21:46] ephread commented on #25
Thanks @mrdavey!

It's not possible at the moment, but it's planned! That's what the cryptic “Programatic support for transition”, found in the roadmap, refers to. I'll give you a heads up when it'll be ready. :)

[2016-01-19 06:14] mrdavey commented on #25
Excellent! I look forward to it!

[2016-01-27 14:57] filipepipeline opened #26 "CoachMarkBodyView shows on the end of the window"
Hey guys,

I'm trying to create a coachmark to a view that has this hierarchy:

UIScollView -> UICollectionView -> UICollectionViewCell -> UIView

When coach marks tries to show it shows below the window, when it should show up on my view.

I needed to use the "gapBetweenCoachMarkAndCutoutPath" to workaround this problem.

[2016-01-28 16:13] juanpdelat commented on #9
Hi @eeschimosu, I am facing exactly the edge case you mentioned, my view starts some times in the top half of the screen but it's tall so the coach mark actually renders outside the screen, allowing the coach mark to sit on top of the view would work perfect. Has this been already added to the library? I see in the feature list Customizable positions but I can't find how to do it in the code. Any

[2016-01-29 09:19] ephread commented on #9
@juanpdelat “customizable positions” is actually a bit of a misnomer, it just means that you can (theoretically) “attach” the coach mark to any view or point sitting inside the bounds of the window.

I'm really sorry that I haven't been able to give the library much love lately. I'll try to implement the manual overrides as soon as possible. ;)

Thanks for confirming that the issue arises from the

[2016-01-29 09:21] ephread commented on #26
Hello @filipepipeline, thanks for reporting the issue.

Can you provide me with a screenshot of your collection view or with a minimum project showing the issue? It'll be of great help to understand what's going on!

[2016-02-01 02:53] guilhermeba opened #27 "reset in completion from stop() is a problem."
First of all thank your for this nice component. It's very useful.

I had a problem when starting immediately a new set of coaches after stoping the first stop() function.
I added a closure and now I call startOn() again inside only when I receive a callback from this new stop. Maybe you have a better solution.

    /// Stop displaying the coach marks and perform some cleanup.
    public func stop

[2016-02-04 19:16] ephread commented on #27
Thanks @guilhermeba!

I imagine launching the other set of coach marks from the delegate (`didFinishShowingFromCoachMarksController`) is not an option for you?

[2016-02-06 17:22] DiscoverPioneer opened #28 "Crashing in CoachMarkDisplayManager"
Thread : Crashed: com.apple.main-thread
0  Instructions                   0x1006d0a58 CoachMarkDisplayManager.(positionCoachMarkView in _E6181A788EC6911C68FBD3A4D57722C9)() -> () (CoachMarkDisplayManager.swift:261)
1  Instructions                   0x1006cfbe8 CoachMarkDisplayManager.(prepareCoachMarkForDisplay in _E6181A788EC6911C68FBD3A4D57722C9)() -> () (CoachMarkDisplayManager.swift:154)
2  In

[2016-02-08 10:48] ephread commented on #28
@DiscoverPioneer I can't see any references to Instructions in the stack trace you posted. Maybe a bad copy/paste ?

[2016-02-08 15:45] DiscoverPioneer commented on #28
@ephread woops sorry, just edited --> Looks like a crash on line 261 in CoachMarksDisplayManager

May need to change to an if let pointOfInterest = coachMark.pointOfInterest { } else {return 0}

[2016-02-15 09:35] ephread commented on #19
Closing inactive issue.

[2016-02-15 09:35] #19 closed

[2016-02-15 09:36] ephread commented on #24
Closing due to inactivity.

[2016-02-15 09:36] #24 closed

[2016-02-15 09:53] ephread commented on #28
@DiscoverPioneer good catch! But something's wrong anyway, we can prevent the crash, but we'll get a bad positioning instead.

At this point, `coachMark.pointOfInterest` should always be set. Something's wrong elsewhere. I'll investigate. It's certainly related to #15, but I haven't been able to reproduce the issue.

The best solution is probably to get a bad positioning, while printing something

[2016-02-15 10:14] ephread commented on #1
PR #18 was merged.

[2016-02-15 10:14] #1 closed

[2016-02-16 21:57] #21 closed

[2016-02-16 22:04] ephread commented on #21
I've been tinkering with the ability to use Instructions in app extensions during the last few days. In the end, I've taken a cautious approach here and removed the (mostly unnecessary) call entirely.

[2016-02-17 09:26] okokcc5 opened #29 "oc version?"
have  oc version ?

[2016-02-17 10:23] ephread commented on #29
Hello @okokcc5, please see #12. ;)

[2016-02-18 09:34] #29 closed

[2016-02-21 15:33] maxykato commented on #23
I also think this would be a nice feature.
BTW, I managed to make multiple instructions with some work-around as follows:

1) make flags as properties of ViewController Class, for example,

[code]

2) turn them true when it is needed and execute instruction

[code]

3) use these flags in the delegate methods

[code]
Hope this helps.

[2016-02-21 22:38] ephread commented on #9
With the release of 0.4.0, you can now override the computed position (Top/Bottom) for the coach mark.

See the [README](https://github.com/ephread/Instructions#user-content-customizing-how-the-coach-mark-will-show).

[2016-02-21 22:39] ephread commented on #26
Closing inactive issue.

With 0.4.0 you can now specify the position of the coach mark (Top/Bottom) manually. It might solve your problem.

[2016-02-21 22:39] #26 closed

[2016-02-21 22:45] ephread commented on #25
@mrdavey With 0.4.0, you can now skip coach marks and even wait for user input before showing the next one !

You can take a look at the README [here](https://github.com/ephread/Instructions#skipping-a-coach-mark) and [here](https://github.com/ephread/Instructions#piloting-the-flow-from-the-code).

[2016-02-21 22:45] #25 closed

[2016-02-21 23:24] mrdavey commented on #25
Love it! Works perfectly as needed. Thank you!

[2016-03-01 09:53] AyeChanPyaeSone opened #31 "Adding on TabBarController"
Hi. how can i add on tabbar controller? thanks you.

[2016-03-02 10:05] ephread commented on #31
Hello @AyeChanPyaeSone!

Can you be a little bit more specific? What are your needs? Attaching a `CoachMarkController` to a Container View Controller should normally work in the same way as attaching it to a regular one (even though I haven't tested this behavior).

[2016-03-02 13:21] AyeChanPyaeSone commented on #31
I want to show coachmark on tab bar items like this. https://s-media-cache-ak0.pinimg.com/564x/5d/16/da/5d16da83fc7d919e3512f5e59f914bcc.jpg  thanks you so much. Now you are adding the Label and pass that label frame. I cannot pass the parameter as tabbar item coz there is no frame in tab bar item. thanks you.

[2016-03-03 14:37] ephread commented on #31
Your issue is a bit similar to the one that arose in a [gitter conversation](https://gitter.im/ephread/Instructions) a couple a months ago.

Indeed, since `UIBarItem` doesn't subclass `UIView` and hold its related view in a private property, you can't easily retrieve the frame. Additionally, I don't believe you can even retrieve a `UIBarItem` from a `UITabBar`. You'll have to work around Apple's p

[2016-03-03 15:45] AyeChanPyaeSone commented on #31
Okies. thanks you very much for your help and I do like your library so much. So right now its not possible to add instructions on tab bar. is it?

[2016-03-04 10:29] d4kr commented on #31
let view = self.tabBarController?.tabBar.items?[0].valueForKey("view") as? UIView

you get view you need, it works!

[2016-03-04 12:01] ephread commented on #31
@AyeChanPyaeSone you can cautiously use it on a `UITabBarController` and definitely use it on one of its child controllers, especially given the solution provided by @d4kr. However, since this solution uses KVO to retrieve a private property, the app _might_ be rejected by Apple.

@d4kr: did you successfully published an app containing this approach?

[2016-03-05 02:46] jeeftor commented on #31
I'm looking at the same issue with a tab bar controller

[2016-03-05 04:18] minhthuc251 opened #32 "Error when add Instructions into Objective C project manually"
I have a problem when i import Instructions into my project manually :
<img width="1162" alt="screen shot 2016-03-05 at 11 12 44 am" src="https://cloud.githubusercontent.com/assets/5000594/13545588/9f18fe84-e2c3-11e5-81f5-daa5977b1b57.png">

and this if i create a new file swift and copy all code in instructionmanagement to new file.
<img width="1162" alt="screen shot 2016-03-05 at 11 16 22 am" sr

[2016-03-05 09:36] ephread commented on #32
Hello @minhthuc251!

Few things stand out :

1. the Framework doesn't seem to be properly linked, which method did you use to add it to your project?
2. iOS 8 is the lowest version supported by Instructions. You won't be able to make it work for iOS 6-7, which might lead to your first issue.

As for the Podfile you'd need to tell CocoaPods to use frameworks and to set the plateform, to at least, i

[2016-03-05 09:48] minhthuc251 commented on #32
1. I add instrutions by manually . But xcode always show error without i can cmd + click in InstructionManage and it move to InstructionManage class.
2. If i use cocoapods like that :

use_frameworks!

target 'iPadPOS' do
    plateform :ios, '8.0'
    pod 'Instructions', '~> 0.4'
    xcodeproj '....'
end

target 'iPadPOS' do
    plateform :ios, '6.0'
    pod 'Analytics/Segmentio'
    xcodeproj '..

[2016-03-05 11:15] d4kr commented on #31
not yet, I used it only for private beta testing. I used the same approach to access to UITabBarItem

let view = self.navigationItem.rightBarButtonItem?.valueForKey("view") as? UIView

I will try with a public very soon...

[2016-03-05 14:18] AyeChanPyaeSone commented on #31
@ephread and @d4kr   thanks you so much both of you. :)  let me know if it is okie or not. :+1:

[2016-03-06 10:58] ephread commented on #32
1. What are the steps you followed to add the framework?
2. Supposedly so, although I'm not sure CocoaPods will accept two targets with the same name.

[2016-03-06 13:18] AmeerTgh commented on #32
please add a sample in objective-c.

thanks

[2016-03-06 16:36] minhthuc251 commented on #32
My steps are :
 1. I create a new swift file in my project to create objc briding header.
 2. Copy instructions.xcodeproj into my project.
 3. Add instructions framework into target.
 4. set Defines module and Embedded content contain Swift code and Install Objective-C compatibiliti header to YES in Build Setting.

I use @import Instructions and #import "iPadPOS-Swift.h" success but i can't invoke

[2016-03-07 08:57] AmeerTgh commented on #32
@minhthuc251
i created a sample for u & me ;)

[objective-c example.zip](https://github.com/ephread/Instructions/files/160993/objective-c.example.zip)

[2016-03-07 12:46] ephread commented on #32
@AmeerTgh there is a rough example in the `objective-c` branch, that's the one @minhthuc251 is building upon. See #12.

@minhthuc251 It looks fine. I just recreated a new project, and performed the same steps you followed and… it works well. I don't know what to tell you, I have no clue about what's going on. For step 2, I copied both `Instructions.xcodeproj` and `Source/`, but I assume that's als

[2016-03-08 06:55] d4kr commented on #31
I think is OK, my app was just approved by Apple for public beta.

[2016-03-08 06:56] AyeChanPyaeSone commented on #31
thanks you so much!!! @d4kr

[2016-03-08 06:57] AyeChanPyaeSone commented on #31
@d4kr you used this code right?? let view = self.tabBarController?.tabBar.items?[0].valueForKey("view") as? UIView

[2016-03-10 05:37] zosocanuck opened #33 "carthage install error"
Hi,

I run carthage update based on the entry

github "ephead/Instructions" ~> 0.4

and get the following error:

*** Cloning Instructions
A shell task failed with exit code 128:
fatal: could not read Username for 'https://github.com': terminal prompts disabled

Any ideas?

[2016-03-10 06:14] #33 closed

[2016-03-11 07:14] zosocanuck opened #34 "Fatal error when using coachMarkWillLoadForIndex"
Hi,

I'm implementing func coachMarksController(coachMarksController: CoachMarksController, coachMarkWillLoadForIndex index: Int) -> Bool {}

however if I return false i get:

fatal error: unexpectedly found nil while unwrapping an Optional value

 /// Show the next coach mark and hide the current one.
    private func showNextCoachMark(hidePrevious hidePrevious: Bool = true) {
        self.curren

[2016-03-12 20:07] ephread commented on #34
Hello @zosocanuck, thanks for reporting this issue.

Can you provide me with a stack trace, so I can find out which optional is causing the problem?

[2016-04-08 06:03] #31 closed

[2016-05-02 10:42] prachil007 opened #39 "CochMarkView remains on screen if i touch inside cutout view"
If I press back button inside cutout view, or for matter of fact any button or action. View still remains on screen. Can we add anything that can skip to next coachmarkview.?

For example, If I have small expandable cell with "see more" and I am instructing user to see more but i want next cutout to appear upon clicking on "see more" rather than on ok.

[2016-05-02 10:42] prachil007 commented on #39
![simulator screen shot 02-may-2016 4 06 23 pm](https://cloud.githubusercontent.com/assets/11495031/14952740/b3bfe916-1080-11e6-9eb8-e11cdbe74821.png)

[2016-05-02 11:09] #39 closed

[2016-05-04 13:25] djaygit opened #41 "Does it work with tableviews?"

[2016-05-12 09:05] ephread commented on #41
Well, I see no reason why it wouldn't. What are you trying to achieve?

[2016-05-12 09:06] ephread commented on #39
@prachil007: Did you eventually solve your issue?

[2016-05-12 10:40] prachil007 commented on #39
@ephread Yes. I ended up searching and removing every coachmarkview from self.view after completion of tutorial. There is a delegate method in which I performed that code.

I am facing another issue though

`    private func computeSegmentIndexForLayoutDirection(layoutDirection: UIUserInterfaceLayoutDirection) -> Int {
        let pointOfInterest = coachMark.pointOfInterest!
        var segmentInd

[2016-05-12 15:33] ephread commented on #39
It's related to to #15. Thanks for providing me with details on how to make the crash happen. ;)

[2016-05-13 13:37] ogantopkaya commented on #28
@ephread i think i figured out why this crash is happenning. I tested my app in low network connection and found out when the app is in background and i tried to call `coachMarksController.resume()` i got this crash.

[2016-05-13 14:07] ogantopkaya commented on #28
@ephread  i added control

`
if CGRectIsEmpty(instructionsTopView.bounds){
            self.stop()
            return
}
`

 to

 `private func createAndShowCoachMark(shouldCallDelegate shouldCallDelegate: Bool = true, noAnimation: Bool = false) `

It resolved the issue for me. But i am not very sure that it is the right of fixing it

[2016-05-15 18:04] Foddy opened #43 "Prevent tap on custom CustomCoachMarkBodyView and coachMark?"
Hi,

is is possible to prevent the tap events on my coach marks? I just want to show the walkthrough and it shouldn't be possible to tap on the highlighted button for example.

I also wonder why my overlay tap is not working properly. When I tap on the hint text on my custom body view I can't go a step further. I already set up the property "allowOverlayTap" to true and disabled user interaction i

[2016-05-27 08:46] A1exandre commented on #43
Same here, I'd like to prevent tap on my coach marks. In my situation I show the user a button during the walkthrough. If the user does not tap on "OK" but on the actual button, another view pops up and messes up the walkthrough.

[2016-05-27 08:59] Foddy commented on #43
Hi,

I solved the problem in the meantime by checking on each highlighted button first if the walk through is currently active / visible. If this is the case prevent the action by an empty return before continuing to the button's logic. Additionally you could programmatically go one step further in your walk though with every tap on an highlighted button.

It must be not the best solution because

[2016-05-27 09:11] A1exandre commented on #43
Thanks! I'll do the same. I bet this will be solved in a more elegant way by ephread's next milestone " Cross controllers walkthrough"

[2016-05-27 14:22] prachil007 commented on #41
Yes it works definatly.

You can use

tableName.rectForRowAtIndexPath(NSIndexPath(forRow: 0, inSection: 0))

to get rect of UITableViewCell

and to get position of View

you can always calculate it by adding or removing different tableview height from table

[2016-05-27 14:47] prachil007 commented on #34
HI @zosocanuck, @ephread

I faced same issue during my implementation, and Modified following files to resolve that issue.
Please review solution and add it to instructions if you think its necessary. Let me know if you do make changes.

Occurrence: Issue particularly occurs when you try to click rapidly on view to make transition to other view, before actual instruction starts.
`
**CoachMarksCont

[2016-05-27 14:53] prachil007 commented on #28
HI @ogantopkaya @ephread

I faced same issue during my implementation, and Modified following files to resolve that issue.
Please review solution and add it to instructions if you think its necessary. Let me know if you do make changes.

Occurrence: Issue particularly occurs when you try to click rapidly on view to make transition to other view, before actual instruction starts.
`
**CoachMarksCont

[2016-05-27 14:58] prachil007 commented on #39
#28 Added Solution.
@ephread Please recheck the solution. and add it to instruction if you think it is correct one.

[2016-05-29 12:45] ephread commented on #43
@Foddy, @A1exandre: Yeah, d411adc has some side-effects, that's an oversight on my end. I'll fix this as soon as possible!

[2016-05-29 13:46] #43 closed

[2016-05-29 13:49] ephread commented on #43
17a4b40 should fix the issue. You can now specify `allowTouchInsideCutoutPath` for a `CoachMark`. The default value is `false`. Sorry for the lack of reactivity.

[2016-05-29 13:54] ephread commented on #39
17a4b40 fixes your initial issue. See #43

As for the second one, when you say:

Do you mean between controllers or coach marks? The solution you provide in #28 makes me believe you're trying to display coach marks across controllers. If it is the case, Instructions does not support cross controllers walkthrough at the moment.

[2016-05-29 14:16] ephread commented on #28
@ogantopkaya: Thanks for the tip. ;) I'm not sure either, actually. I haven't been able to reproduce the issue. It certainly doesn't hurt to test for the size of `instructionsTopView` but I'd really like to understand which use cases seem to cause problem for so many people.

If I follow you correctly, you believe the forced unwrap (see below) fails because, for some reasons, long before we reach

[2016-05-29 14:20] ephread commented on #41
Closing due to inactivity from original opener.

[2016-05-29 14:20] #41 closed

[2016-05-29 19:38] ogantopkaya commented on #28
@ephread I think the problem is related to app being in the background. Somehow, the intructionsTopView is created, but the frame is not set. Maybe instuctions top view is created but not added to window at that time. Or auto layout engine might not get triggered in the background. This issue only occurs when I tried to resume in the background. I think the issue is related to resuming and app in

[2016-05-31 06:47] hjo opened #44 "Cutouts appear in the wrong place when the In Call Status Bar is displayed"
Coach marks work well normally but if a call comes in (you can do this in the simulator by toggling the In Call Status Bar) the cutout won't be in the right place anymore. Perhaps the cutout can be shifted when the status bar appears?

![screenshot_22](https://cloud.githubusercontent.com/assets/1050070/15665582/43dab28a-274f-11e6-8a04-a884cd4d4aae.png)

[2016-05-31 13:27] ephread commented on #44
Hello @hjo, thanks for reporting the issue! I totally missed the In Call Status Bar, I'll look into it.

[2016-06-09 15:19] TThana opened #45 "Fatal Error: Instructions could not be properly attached to the window, did you call `startOn` inside `viewDidLoad` instead of `ViewDidAppear`"
attachToViewController: Instructions could not be properly attached to the window, did you call `startOn` inside `viewDidLoad` instead of `ViewDidAppear`?

The message is shown from
 private func computeSegmentIndexForLayoutDirection(layoutDirection: UIUserInterfaceLayoutDirection) -> Int {
        let pointOfInterest = coachMark.pointOfInterest!
        var segmentIndex = 3 * pointOfInterest.x /

[2016-06-09 15:22] TThana commented on #45
my code

  let coachMarksController = CoachMarksController()

  required init(coder aDecoder: NSCoder) {
    super.init(coder: aDecoder)

    self.view = HomeView(controller: self)
    self.coachMarksController.dataSource = self

  }

  override func viewDidLoad() {
    super.viewDidLoad()
    AppDelegate.app().homeViewController = self
    coachMarksController.startOn(self)
     }

  override fun

[2016-06-10 08:18] galharth opened #46 "computeSegmentIndexForLayoutDirection: instructionsTopView.bounds.size.width is 0, segmentIndex is +Inf"
`computeSegmentIndexForLayoutDirection: instructionsTopView.bounds.size.width is 0, segmentIndex is +Inf
`
I'm getting the error:
`attachToViewController: Instructions could not be properly attached to the window, did you call`startOn`inside`viewDidLoad`instead of`ViewDidAppear`?
`
Although I put the startOn on viewdidappear...

[2016-06-10 09:40] galharth commented on #45
+1
Did you solve this problem? Same problem here :/

[2016-06-10 09:41] edenfisher commented on #46
+1

[2016-06-10 09:41] edenfisher commented on #45
+1

[2016-06-10 09:42] galharth commented on #45
You need to put the coachMarksController.startOn(self) on viewdidappear

[2016-06-10 12:42] galharth commented on #46
If I add an afterDelay of 0 when I run the function it works
`self.performSelector(#selector(BattleViewController.initInstructions), withObject: nil, afterDelay: 0)`

[2016-06-13 14:41] maysamsh opened #47 "Instructions was compiled with optimization - stepping may behave oddly; variables may not be available."
When I'm implementing ```func coachMarksController(coachMarksController: CoachMarksController, coachMarkWillLoadForIndex index: Int) -> Bool```  I get a runtime error:
**Instructions was compiled with optimization - stepping may behave oddly; variables may not be available.**

the delegate is set to self.

[2016-06-16 15:06] ephread commented on #47
Hello @maysamsh, thanks for reporting the issue. Are you using Carthage or CocoaPods to import Instructions in your project?

[2016-06-16 15:11] ephread commented on #46
Hello @galharth, thanks for reporting the problem. This is a nasty one, few people have been ecountering the issue, but I have neither been able to reproduce the issue, nor track down the problem. It's especially interesting that dispatching the call on the main queue removes the issue. I'll look into it.

[2016-06-18 13:28] maysamsh commented on #47
I guess it was my fault. I was trying to return false just before starting the show.

[2016-06-18 13:28] #47 closed

[2016-06-20 13:56] iamZoltanVaradi opened #48 "Multiple coachmarks when tapping overlayview rapidly."
First off, great project!
Second: When the user taps the overlayview quickly, `showNextCoachMark` gets called instantly multiple times and one or more coachmarkviews get stuck on the screen.
I also did a quick fix, feel free to use it if You want to.
1) Add a second gesture recognizer to the overlayView that detects double taps: (no need for it to have an action)
[code]
2) Make sure singe tap gest

[2016-06-21 21:47] oferRounds opened #49 "Question regarding the usage of hyphenationFactor"
Hi!
Two questions please:
1.I'm interested to know what is design reason behind using hyphen word break on `CoachMarkBodyDefaultView`?
2. I see that `hyphenationFactor`'s documentation states that its value should be between 0.0 to 1.0. But I see it is set to 2.0... What is the reason for this?

[2016-06-23 08:10] ephread commented on #48
Hello @iamZoltanVaradi, good job! Can you make a pull request out of it?

[2016-06-23 08:20] ephread commented on #49
Hello @oferRounds!

1. It's simply because I'm an hyphenation nerd. I believe nothing beats a justified paragraph with good hyphenation, in terms of readability. However, I admit that the hyphenation engine found in TextKit is sometimes lacking.

2. Probably a typo or some experimentation leftovers. This is an oversight. I believe that a value found to be above `1.0` is actually capped to `1.0`.

[2016-06-23 08:24] oferRounds commented on #49
Hi @ephread!

Got you - thanks for both replies, and for this really great library!

[2016-06-24 07:37] davideme opened #50 "Crash when force unwrapping in positionCoachMarkView"
I'm getting a lot of crash in my app with the following stack trace.

CoachMarkDisplayManager.positionCoachMarkView

Crashed: com.apple.main-thread
EXC_BREAKPOINT 0x0000000100f58fd0

[code]

[2016-06-24 08:16] ephread commented on #50
Hello @davideme, thanks for reporting the issue.

That's certainly related to #15 and #28. I have never been able to reproduce the issue.

- Are the crashes random? Or do they happen for sure, following a series of particular steps?
- On which devices did you encounter the issues?

[2016-06-24 10:08] davideme commented on #50
It crashes at initialization of the viewcontroller, after the viewDidLoad.

[2016-06-25 14:25] shivamkedia007 commented on #23
@maxykato Where are u making the secondInstructionFlag true ?

[2016-06-28 19:39] hobbesthetige opened #51 "showNextCoachMark has bad logic causing crash"
I am conditionally hiding my first coach mark. When I do hide it, my app crashes because of this line of code. It looks like self.currentIndex is increment before it is checked for 0, so the if statement will run 100% of the time.

[code]

[2016-06-29 19:50] coverback commented on #28
@ephread Hi!
I am able to reproduce the issue in 100% of cases when Instructions are trying to be shown in background, like @ogantopkaya suggested. In case of our app: we launch, we wait for a server response and then show the popup.
If I press home right before the request completes, I get a crash when app is in the background.

Pretty sure it can be reproduced by scheduling Instructions to be sh

[2016-06-30 21:26] ephread commented on #28
@coverback, @ogantopkaya, thanks for the helpful feedback. Though I'm a bit buried in stuff to do at the moment, I'll try to review the related pull request thoroughly and fix that long-lasting issue.

[2016-07-02 16:40] ephread commented on #49
Thanks, you're welcome. ;)

[2016-07-02 18:42] #49 closed

[2016-07-02 21:28] ephread commented on #34
Closing due to inactivity, feel free to re-open if the issue arises again.

[2016-07-02 21:28] #34 closed

[2016-07-02 21:29] ephread commented on #27
Closing due to inactivity.

[2016-07-02 21:29] #27 closed

[2016-07-02 21:59] ephread commented on #28
@coverback, @ogantopkaya: I have looked into the issue. I was only able to reproduce the problem when starting Instructions in the background (`startOn`), not when resuming a paused flow (`resume`).

It seems the layout pass does not occur for a view added to the window, while the app is in the background. Forcing the views to lay out with `layoutIfNeeded` solves the issue. I'll still accept @ogan

[2016-07-02 22:04] ephread commented on #45
@galharth :+1:

Closing. If the issue happens to come from another place, please consolidate #46.

[2016-07-02 22:04] #45 closed

[2016-07-03 15:16] #44 closed

[2016-07-04 16:19] ephread commented on #51
Hello @hobbesthetige, thanks for reporting the issue.

On which line does the crash occur, exactly?

The idle/default value for `self.currentIndex` is actually `-1`, not `0`. 😉

[2016-07-04 16:28] ephread commented on #28
I released version 0.4.1, which should fix the issue, let me know and reopen the issue if it doesn't.

[2016-07-04 16:28] #28 closed

[2016-07-05 06:40] vijaysanghavi opened #53 "When creating a new coachMark for navigation bar button item CoachMarkArrowView is not showing correctly"
I have created four coachMarkView's which are pointing to a navigationBarTitle, leftNavigationBarButtonItem, rightNavigationBarButtonItem, and a simple view. I have done something like:

`func numberOfCoachMarksForCoachMarksController(coachMarksController: CoachMarksController) -> Int {
        return 4
    }

    func coachMarksController(coachMarksController: CoachMarksController, coachMarksForI

[2016-07-05 09:13] ephread commented on #53
Hello @vijaysanghavi, please see [here](https://github.com/ephread/Instructions#customizing-how-the-coach-mark-will-show), the default value for `CoachMark.horizontalMargin` is `20.0`, decreasing it may solve your issue. :wink:

[2016-07-05 10:02] vijaysanghavi commented on #53
Pardon @ephread I should have searched well before asking this...Thanks for the help 🍻

[2016-07-07 10:38] ephread commented on #48
[0.4.2](https://github.com/ephread/Instructions/tree/0.4.2) fixes most of the timing-related issues.

[2016-07-07 10:38] #48 closed

[2016-07-07 17:24] tarekskr opened #54 "Most classes not accessible from Objective-C"
Most of your classes are not accessible from Objective-C since they don't descend from NSObject. You can fix that by simply preceding their declaration with '@objc'.

Thanks!

[2016-07-07 19:42] ephread commented on #54
Hello @tarekskr, the library can't support _mix & match_, since it's using pure swift types. You can neither bridge structs, nor tuples, hence Instructions will never be able to be properly bridged to Objective-C. See #12 for a possible workaround.

[2016-07-07 20:07] tarekskr commented on #54
Thanks for your reply.

[2016-07-07 20:43] ephread commented on #54
You're welcome!

[2016-07-07 20:43] #54 closed

[2016-07-21 18:44] MihaelIsaev opened #56 "Bubble color?"
Hello!

Please tell me how to set the color of the bubble?

[code]

The above code is wrong, what is the right solution?

[2016-07-21 19:34] MihaelIsaev commented on #56
As a solution I just create custom body and arrow views, but it wasn't simple way..

[2016-07-21 19:34] #56 closed

[2016-07-24 05:19] Damnum opened #57 "Rotating device duplicates marks"
Rotating the device during instructions from portrait to landscape (or the other way round) duplicates the coach marks and messes up the instructions. Reproduced by running the example code.

Maybe the easiest solution is to disable device rotation when instructions are ongoing but I wonder if there is a better solution.

[2016-07-25 12:33] ephread commented on #57
Thanks for reporting the issue @Damnum!

That's a bug introduced by the latest release, it used to work fine, I'll fix it as soon as possible.

[2016-07-25 17:01] jeeftor opened #58 "Restarting the marks"
I'm having an issue where I run through my coach marks and then try to do it again and nothing loads.  Is there an easy way to rewind to the start?

[2016-07-31 17:55] aozbayra opened #59 "Skip View Location"
How do I change the location of CoachMarkSkipDefaultView from right top corner to left top corner? Or use the frame of another object as my skip view?

Any help would be greatly appreciated!

Thanks!

[2016-07-31 21:27] ephread commented on #59
Hello @aozbayra, the [README](https://github.com/ephread/Instructions#datasource) explains how to provide constraints for your `SkipView`, additionally, you can take a look at the example [here](https://github.com/ephread/Instructions/blob/master/Example/CustomViewController.swift#L156).

I assume that _object_ refers to an element of your own view hierarchy. If so, you can forward tap events to t

[2016-07-31 21:30] ephread commented on #58
Hello @jeeftor, did you call `CoachMarksController.stop()` before restarting?

[2016-08-02 21:06] briankeane opened #60 "Changing orientation causes multiple marks or causes mark to not be erased."
Hello!

Thanks so much for the work on this library -- it really looks great.

My app requires an orientation change mid-tour and it gets a little screwy when changing orientation while a mark is showing.  In my app it causes whatever mark was showing to never disappear.

In the sample app if you go to the 'TransitionFromCode' screen and change orientation while a mark is showing, this is what you

[2016-08-03 06:54] ephread commented on #60
Hello @briankeane! Please see #57, a fix is coming soon!

[2016-08-03 09:26] #57 closed

[2016-08-03 14:56] aozbayra opened #61 "Skipping already shown CoachMarks"
I wanted to show a coachMark, leave my current controller, come back to it and skip the coachMark that I have already shown to my user. I wanted to make a good use of this delegate function:
`func coachMarksController(coachMarksController: CoachMarksController, coachMarkWillLoadForIndex index: Int) -> Bool {
        if index <= defaults.integerForKey(GlobalConstants.skipProfileWalkthrough) {

[2016-08-03 15:23] briankeane commented on #60
Got it -- sorry about that!  Thanks and nice work!

[2016-08-03 16:11] ephread commented on #61
Thanks for your clear notes. 🙂

#### First issue
This morning, I fixed the first issue you encountered (c91a37d). My bad, I actually never thought of the case where the first coach mark (at index 0) would be skipped. Instructions was trying to hide the previously displayed coach mark (which was `nil`), and crashed.

Instructions hasn't reached version 1.0.0 yet and I've purposely kept a number of

[2016-08-03 17:23] aozbayra commented on #61
I agree on your points and what I was expecting on coachMarkWillDisappear was to basically be my helper method where I get to decide whether I should skip the currentCoachMark on the queue or not. That's why I was returning false or true depending on what indexes have been shown to the user. Also I am actually using showNext right after startOn in case I want to skip some of the coachMarks. It is

[2016-08-03 17:23] #61 closed

[2016-08-05 09:21] ephread commented on #60
Thanks and no problem!

[2016-08-05 09:21] #60 closed

[2016-08-05 17:39] mkaya93 commented on #23
Also I need this too. That would be perfect.

[2016-08-05 17:57] mkaya93 commented on #9
I'm making .Top and .Bottom but it's not changing anything

[2016-08-10 18:33] ephread commented on #59
Closing due to inactivity.

[2016-08-10 18:33] #59 closed

[2016-08-10 18:42] ephread commented on #9
Hey @mkaya93, can you tell me where exactly do you set the orientation?

[2016-08-11 20:03] ephread commented on #58
I tracked down the issue. It'll be fixed soon.

[2016-08-17 15:10] jesster2k10 opened #62 "Use with SpriteKit??"
Is it possible to use this with sprite-kit? I think you can cast and skView to a UIVIew. I'll try it out but it would be great if it were a new feature!

[2016-08-17 15:43] jesster2k10 commented on #62
Also is it possible to set the coach to a position instead of a view?

[2016-08-17 15:50] GeorgeA93 opened #63 "Rotating device causing index out of range."
The following is my implementation of the coachMarksForIndex data source function.
[code]
As you can see I am accessing an array to determine the point of interest for each CoachMark.

This works as expected the first time you start the coachMarksController. However, during a rotation of the device (iPad Pro) the data source method fires, passing '-1' as the index. Obviously causing the index out

[2016-08-18 11:58] ephread commented on #63
Hello @GeorgeA93 thanks for reporting the issue! Indeed, #58 hasn't been released yet. Obviously, as you suspect, the dataSource methods aren't supposed to be called if coach marks are not showing. I'll look into it.

[2016-08-18 12:07] ephread commented on #62
Hello @jesster2k10!

`SKView` indeed inherits from `UIView` so you should be able to pass your object to the helper methods, without casting it.

It's currently not possible to set the coach mark to a position, in a simple way. However, what you can do, is create a `UIBezierPath` from a `CGRect` with no size, and set it to `CoachMark.cutoutPath`. The origin of the `CGRect` would be the point to wh

[2016-08-18 12:10] GeorgeA93 commented on #63
Thanks for your reply. For anyone interested I am using the following work around to prevent the error:

[code]

This issue won't affect most users of this library because they are probably using a switch statement instead of accessing an array by index. (Assuming they have correctly implemented a default case in their switch statement)

[2016-08-18 12:14] ephread commented on #63
Great! 👏

By the way, I've suggested a workaround in the [gitter chat](https://gitter.im/ephread/Instructions?at=57acde3cf7f11a7936b6d6e3) for #58. Both issues will be fixed by 0.5.0 which should comme out before the end of august.

[2016-08-18 15:29] jesster2k10 commented on #62
Hey @ephread I'll try it out but I'm a bit confused :/ but I tried this and the app crashed wile unwrapping an optional value.

    func coachMarksController(coachMarksController: CoachMarksController, coachMarksForIndex: Int)
        -> CoachMark {
            let path = UIBezierPath(rect: numberLabel.frame)

            var coah = CoachMark.init()
            coah.cutoutPath = path

[2016-08-18 15:39] jesster2k10 commented on #62
I think it was an error on my behalf! I'll try again

[2016-08-23 19:53] shergin opened #64 "Add ability to control blur radius of overlay view"
Yes, it is not so easy but it is possible with this approach: https://github.com/shergin/Bluuur/blob/master/Bluuur/Classes/MLWLiveBlurView.m

Or, alternativly, add ability to set custom overlay view.

[2016-08-29 10:35] ephread commented on #64
Hey @shergin! I don't believe that the ability to provide a custom overlay will ever be implemented, as it's going to be very difficult to satisfy simultaneously all the requirements between the cutoutPath, the touch events forwarding and the customization.

That said, it's certainly possible to implement this feature in the future, using the method you've provided. It might take some time, though

[2016-09-01 13:12] Luccifer opened #65 "Swift 3 Support?"
Any rumours for supporting swift3 by this project?

[2016-09-01 15:24] howiesommerfeld commented on #64
@ephread is it possible to add a shadow to the cutout of the overlay?

[2016-09-01 19:24] ephread commented on #65
Hey @Luccifer, it's coming very soon. ;)

[2016-09-02 07:39] ephread commented on #64
@howiesommerfeld, not at the moment, unfortunately.

[2016-09-04 14:58] #58 closed

[2016-09-04 16:36] ephread commented on #63
Fixed by the big refactoring (c2cd243..7425eb7).

[2016-09-04 16:36] #63 closed

[2016-09-04 16:36] ephread commented on #62
Closing due to inactivity.

[2016-09-04 16:36] #62 closed

[2016-09-07 12:26] ephread commented on #65
Preliminary work is now available in the [swift3](https://github.com/ephread/Instructions/tree/swift3) branch.

[2016-09-07 12:26] #65 closed

[2016-09-08 09:16] ephread commented on #21
Version 0.5.0 is out with full support of App Extensions.

[2016-09-09 16:03] mgentilcore opened #67 "coachMarkWillLoadForIndex not being call w/ v5.0"
coachMarkWillLoadForIndex delegate method is never called using v5.0. The other delegate methods work fine and I'm sure my delegate is properly linked to the coachMarkController, everything works fine in v4.3.

[2016-09-09 20:57] mgentilcore commented on #67
#68 - Added a pull request which should fix the issue

[2016-09-11 10:24] maysamsh opened #69 "Cannot update for Swift 3"
I get this error message (XCode 8 GM):
`The following build commands failed:
	PhaseScriptExecution Run\ Script build/Instructions.build/Release-iphoneos/Instructions.build/Script-C6B30BA61D529E1000505F0C.sh`

[2016-09-13 02:43] artonragsdale opened #70 "Master seems to be missing last swift3 commit"
commit hash: a855515b7a3973a46ac05dbd3df789b3f39190dc

[2016-09-13 20:12] ephread commented on #70
Hello @artonragsdale, until the official release of Swift 3, you will have to use the `swift3` branch. `master` will keep supporting 2.3 for the moment. ;)

[2016-09-13 20:47] ephread commented on #69
Hello @maysamsh, thanks for reporting the issue.

1. Which method did you use to install Instructions (CocoaPods, Carthage or Manual)?
2. Are you using the `swift3` branch?

[2016-09-14 00:05] artonragsdale commented on #70
Ah ok, I guess I misread the commit history. Thanks!

[2016-09-14 00:05] #70 closed

[2016-09-14 03:57] maysamsh commented on #69
Hey,
I'm using Carthage and swift3 branch

Sent from my iPhone

[2016-09-14 10:27] ephread commented on #69
I can't reproduce the issue, have you tried cleaning the build directory, as well as nuking the derived data? Alternatively, could you provide me with a sample project which illustrates the problem?

[2016-09-14 10:58] maysamsh commented on #69
I'm not sure how can I use swift3 branch, is it the same as original repo but version 0.5 and higher?

Sent from my iPhone

[2016-09-14 11:30] ephread commented on #69
You only need to use this line in your Cartfile:

[code]

This branch will be updated alongside `master`, tracking bugfixes and new features. When Swift 3 will come out, the branch will be merged back into `master` and the Swift 2 version will be deprecated.

Additionally, the README found in `swift3` hasn't been updated yet and doesn't reflect the state of library. I plan on writing a quick migra

[2016-09-16 08:26] OtherF opened #71 "Value of type 'CoachMarksController' has no member 'coachMarkForView' (Swift 3)"
Hello,

I tried to add Instructions to my project (Xcode 8, Swift 3) but stuck.

There is no this code:
[code]

But this:
[code]
and I receive the error:
[code]

Could you please help me with the issue?

[2016-09-16 08:57] ephread commented on #71
In the swift 3 version (which is still experimental), some methods have been renamed, to fit the new guidelines. I haven't created a migration guide yet, but Xcode should help you finding out the new names.

In that particular case, `CoachMarkController.coachMarkForView(_:pointOfInterest: bezierPathBlock:)` has been renamed to `CoachMarkController.helper.makeCoachMark(for:pointOfInterest:cutoutPat

[2016-09-18 03:48] maysamsh commented on #69
I tried `swift3` branch and failed again:
`A shell task (/usr/bin/xcrun xcodebuild -workspace /pathtoproject/Carthage/Checkouts/Instructions/Instructions.xcworkspace -scheme Instructions -configuration Release -sdk iphoneos ONLY_ACTIVE_ARCH=NO BITCODE_GENERATION_MODE=bitcode CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY= CARTHAGE=YES clean build) failed with exit code 65:
** BUILD FAILED **`

[2016-09-18 04:48] maysamsh commented on #69
Ironically the problem was it needed a `.profile` folder in `home` folder.

[2016-09-18 04:52] #69 closed

[2016-09-19 08:24] fprosper opened #72 "What is the right line in pod file to have Swift3 syntax?"
Right now I have pod 'Instructions', '~> 0.4' but it doesn't seem to be implementing Swift3? Same goes for 0.5, it throws many errors.

[2016-09-19 08:56] ephread commented on #72
Hello @fprosper!

[code]

That's untested, but that's the syntax, as far as I recall.

A version will be published soon.

[2016-09-19 08:58] fprosper commented on #72
Thank you!

[2016-09-19 08:58] #72 closed

[2016-09-24 09:53] piyushkantm opened #73 "Flow Manager crashes after changing VC after all instructions are displayed"
`self.coachMarksViewController.detachFromViewController()` is crashing in the following code with errors `libswiftCore.dylib_swift_abortRetainUnowned` `libswiftCore.dylib swift_unknownUnownedLoadStrong:`

`let completionBlock = {(finished: Bool) -> Void in
            self.coachMarksViewController.detachFromViewController()
            if shouldCallDelegate { self.delegate?.didFinishShowingAndWasS

[2016-09-26 19:31] ephread commented on #73
Hello @piyushkantm, thanks for reporting the issue. Is the crash reproducible every time? Can you provide me with the full stack trace?

[2016-09-30 09:16] toshi0383 opened #74 "Possible build failure on Carthage due to Unneeded Build Dependency"
Instruction has swiftlint Run Script Phase inside the xcodeproj.
[code]
This potentially causes build error on Carthage.
For example, `~/.profile` is missing in my environment, so Run Script Build Phase failed.

IMO In general, if you are writing a library(not an app), SwiftLint check should be managed outside of xcodeproj.

[2016-09-30 09:31] ephread commented on #74
Hey @toshi0383! Thanks a lot for catching this lack of foresight on my part.

The main point of running SwiftLint as a script phase is to get the warning/errors from inside the IDE. The issue here is not the script phase, but rather the fact that it was poorly written (apologies for this, I made wrong assumptions). I'm fairly confident that SwiftLint checks can be managed from inside the `.xcodepr

[2016-09-30 12:06] aloco commented on #74
Hi, I ran into the same issue, I had no `~/.profile`, fixed that by creating an empty `.profile`

[2016-10-01 12:15] hixfield opened #75 "Coachmarks not showing in containerviews"
I have a viewcontroller that has a containerview in it (via IB). When I add coachmarks to the viewcontroller inside the containerview (embedded) nothing shows up.
Is there a requirement that coachmarks only work for toplevel viewcontrollers?

[2016-10-01 15:29] ephread commented on #75
Not willingly. I never considered the possibility of adding coach marks to an embedded view controller, but that's a use-case for which Instructions _should_ work flawlessly. 😉

Thanks for reporting the issue, I'll look into it.

[2016-10-02 07:11] ephread commented on #71
I think the problem has been solved – closing.

[2016-10-02 07:11] #71 closed

[2016-10-03 11:19] toshi0383 commented on #74
No it should be this way. - Don't run swiftlint when building by Carthage.
Because... even the user has SwiftLint installed, how could you tell that SwiftLint future versions won't ever contain a bug ???

I looked over Carthage repo and I didn't know that [they have been injecting env variables into xcodebuild command](https://github.com/Carthage/Carthage/issues/1148).
I will create a PR 👍

[2016-10-03 15:31] ephread commented on #74
Because... even the user has SwiftLint installed, how could you tell that SwiftLint future versions won't ever contain a bug ???

We both agree. I certainly failed to express myself properly, as I only meant that the script was not going away and that I would need to rethink the naive version. That included trying to circumvent the use of `swiftlint` while building externally. 😉

I wasn't aware of

[2016-10-03 15:38] #74 closed

[2016-10-03 21:50] toshi0383 commented on #74
🚀🚢😆

[2016-10-06 10:48] Damnum opened #77 "Make CoachMarksController open instead of public"
With Swift 3, the `CoachMarksController` and its `public` methods cannot be inherited. This is important in order to create fakes/mocks to test dependent classes. (all my tests are broken now)

Would be great to change the class and its `public` methods to `open`.

[2016-10-06 11:23] ephread commented on #77
Using `public` rather than `open` was a conscious decision, to keep things tidy, but maybe it was a wrong one. I don't really see any argument against making these methods `open`, so if you really need it, we can make it happen.

That said, I think you should try to avoid mocking a type you don't fully own in your codebase.

Can you make a PR with the changes?

[2016-10-06 11:40] Damnum commented on #77
@ephread interesting point. The alternative would be to write a wrapper around the class and fake that in turn.

But especially with the controller I could also see use cases to extend it in order to add functionality. The UIKit View Controllers are also `open` rather than `public`.

I'll make the PR.

[2016-10-06 12:44] #77 closed

[2016-10-06 12:45] Damnum commented on #77
Never mind, I just realized that the methods in question are inside an extension, and those can't be overridden anyway.

I ended up writing a wrapper around the class. Thanks for your swift response though!

[2016-10-06 13:33] nahouto commented on #56
can you share your code please ?

[2016-10-10 21:05] avshiyanov opened #78 "Is it possible enable touch only for Cutout view, instead of all background?"

[2016-10-12 18:29] edenfisher opened #79 "didFinishShowingAndWasSkipped is called even when curCoachmark was not started"
I'm using 'didFinishShowingAndWasSkipped' delegate method to determine what happens after the user sees the coachMark. The problem is that the method is getting called even if I did not called startOn on the coachMark.
Any ideas why?
Thank you

[2016-10-12 18:33] galharth commented on #79
+1

[2016-10-13 09:05] ephread commented on #79
Hey @edenfisher, thanks for reporting the issue. Which version are you using ?

[2016-10-13 09:08] edenfisher commented on #79
0.5.0

[2016-10-13 09:09] ephread commented on #78
It depends on what you mean exactly. You can enable touch on the coach mark, on the overlay, and also on both of them at the same time. Additionally, you can also forward the touch event to the view sitting under the cutout path.

But there is no touch detection on the cutout path itself.

[2016-10-13 09:16] ephread commented on #79
Thanks, I'll investigate. ;)

[2016-10-17 11:31] techseeko opened #80 "blurEffectStyle not working on iOS 10"
It's a problem out there, for iOS 10, UIVisualEffectView does not blur when using UIBlurEffect in some cases. If anything is added to the UIVisualEffectView directly it might break the functionality, it should always be added to the UIVisualEffectView.contentView.

Also the presentationStyle should not be CrossDissolve this kind of view should be animated via UIView animation while setting the eff

[2016-10-17 12:56] ephread commented on #80
Thanks for reporting the issue @techseeko. The `UIVisualEffectView` support indeed remains a bit sketchy due to a lack of time on my end.

Nothing is added to the `UIVisualEffectView`, the layer is manipulated and a mask is created. This is certainly what's causing the issue. I discovered few weeks ago that Apple now recommends to use the `maskView` property to create masks but I haven't had the t

[2016-10-25 09:33] #78 closed

[2016-11-03 16:51] osolano opened #82 "Color around the bodyview of coachView"
I've been trying to look for how to change the color of the area around the hintLabel of bodyview, but can't seem to figure it out. Does anyone have any ideas?

Adjusting the backgroundcolor of the bodyview doesn't help either.

I'd essentially like the whole view to be blue

![image](https://cloud.githubusercontent.com/assets/280426/19975928/09a0f38c-a1ab-11e6-85d3-52be06493fee.png)

[2016-11-03 17:16] ephread commented on #82
Hello @osolano! The background of the default coach mark is actually an [image](https://github.com/ephread/Instructions/blob/master/Sources/Supporting%20Files/Images.xcassets/background.imageset/pill-medium-letter%403x.png). You can't really customize the default views, but you can provide your own, [custom views](https://github.com/ephread/Instructions#providing-custom-views). You can also look a

[2016-11-05 22:09] #67 closed

[2016-11-06 00:04] ephread commented on #51
Closing due to inactivity.

[2016-11-06 00:04] #51 closed

[2016-11-06 00:05] ephread commented on #73
Closing due to inactivity, feel free to reopen if necessary.

[2016-11-06 00:05] #73 closed

[2016-11-06 00:07] ephread commented on #75
@hixfield: I haven't been able to reproduce the problem, would you be able to provide me with a sample project showing the issue?

The example project has been updated with a simple controller containment scenario, which seem to work. Can you confirm it works for you as well?

[2016-11-06 00:38] ephread commented on #69
Fixed by #76.

[2016-11-06 00:46] ephread commented on #56
Please see #82. 🙂

[2016-11-16 11:42] oferRounds opened #83 "Question: unhighlight target view"
Hi,

First of all - thanks for this really awesome library!

Second, I wanted to ask: is there an option to have the target view not highlighted, while still preserving the effect of darkening all other screen's content?

Thanks for your answer!
Ofer

[2016-11-17 01:52] jamesynotnot commented on #83
I needed to do the same and did the following: created a dummy button as
hidden and create the coachMark for that:

   func coachMarksController(_ coachMarksController: CoachMarksController,
coachMarkAt index: Int) -> CoachMark {

        var coachMark : CoachMark

        switch(index) {

        case 0:

                let dummyButton = UIButton()

                let screenSize: CGRect = UIScr

[2016-11-18 08:29] hixfield commented on #75
confirmed it works now. Just tested it in detail.

[2016-11-18 08:29] #75 closed

[2016-11-18 11:32] ephread commented on #83
Hey @oferRounds, thanks!

I'm not certain I fully understand your question (the comment above may be the solution you're looking for). But if you want to remove the `cutoutPath` while keeping the coach mark, there's a way. It's not super-friendly, though.

To get this effect:

![example](https://cloud.githubusercontent.com/assets/722366/20428685/ac86a106-ad8a-11e6-9431-2efbbb76cffd.png)

You'll ne

[2016-11-18 19:51] oferRounds commented on #83
@jamesynotnot and @ephread – thank you very very much both! I’ll try your suggestions and report back

[2016-11-24 06:59] eliekarouz opened #84 "Keep the TitleView showing above the overlay"
I want to keep the tiltleView of the UINavigationItem above the overlay.
Is there an easy way to do it?

[2016-11-30 12:16] ephread commented on #84
Hey @eliekarouz, sadly it's not really possible at the moment. The feature may be implemented in the future, though.

[2016-12-08 12:14] odedharth opened #86 "perform function when clicking on coachview"
Is it possible to perform function when clicking on coachview?

Currently when the coachview is clicked it just dismisses the couchmark.

[2016-12-08 17:23] rimckenn opened #87 "Is it possible to add an instruction to a UIBarButtonItem?"
UIBarButtonItem doesn't inherit from UIView, so was wondering if it is possible to set a coach marker originating from a UIBarButtonItem in the navigation bar? Thanks.

[2016-12-08 19:53] rimckenn commented on #87
Ok, I see from another example, that you can get the UIView from code like

`leftBarButton.valueForKey("view") as! UIView`

Thanks.

[2016-12-08 19:53] #87 closed

[2016-12-09 03:48] happiehappie commented on #23
@shivamkedia007 just wondering if you managed to get @maxykato 's workaround working? I'm not tasked to do this hence it would be great help if I can receive some pointers from you gus

[2016-12-24 09:24] phatmann commented on #87
This may work, but it uses an undocumented property and Is thus risky. Would be better to have direct support for bar button items.

[2016-12-24 11:29] ephread commented on #86
Yes! Just provide a custom view with custom bindings. ;)

[2016-12-24 11:30] ephread commented on #87
@phatmann: I don't know of any other way to get the frame of an `UIBarButtonItem`, thus, if Instructions bundled a helper providing the feature, it would use the KVC method internally. As you perfectly stated, it's risky, that's why I prefer letting my fellow developer explicitly request the view. :wink:

[2016-12-29 17:47] Ewebalvin opened #89 "Compiling failed: no such file or directory"
[code]

Here was the error message:
`no such file or directory: '/Pods/Instructions/Source/CoachMarkPosition.swift'`

I checked the folders in Pods. There were only 2 sub folders, not including "Source".
[code]

[2017-01-06 09:49] swetaarya opened #90 "Crash in stopFlow(immediately immediately: Bool = false, userDidSkip skipped: Bool = false, shouldCallDelegate: Bool = true )"
0  libswiftCore.dylib             0x100fb04ac _hidden#8277_ (__hidden#7745_:75)
1  libswiftCore.dylib             0x100fbe3fc swift_unknownUnownedTakeStrong (__hidden#9593_:764)
2  Instructions                   0x100b1acc8 FlowManager.(stopFlow(immediately : Bool, userDidSkip : Bool, shouldCallDelegate : Bool) -> ()).(closure #2) + 412
3  UIKit                          0x1969c9cf8 -[UIViewAnimati

[2017-01-06 10:11] swetaarya commented on #90
Could u please tell me, what is happening here.

[2017-01-10 11:54] rimckenn opened #91 "Crashing When in Landscape Mode at Startup"
Instructions framework is crashing when force unwrapping an optional when starting it up in landscape orientation:

https://github.com/ephread/Instructions/blob/master/Sources/Managers/FlowManager.swift#L249

I fixed it locally by testing the optional first, but not sure if this is the preferred solution:

[code]

Thanks.

[2017-01-10 12:24] rimckenn commented on #91
The checking of the optional alone prevents a crash, but the views get messed up. It seems that viewWillTransition gets unexpectedly called at startup which is causing issues. I additionally added the following check to

https://github.com/ephread/Instructions/blob/master/Sources/Controllers/CoachMarksViewController.swift#L216

`if currentCoachMarkView == nil {
    return
}`

This seems to resolve

[2017-01-12 23:43] nagaboyapati opened #92 "Help needed to set blurEffectStyle for iOS9 devices"
When I run the instructions tutorial in iOS9 the blureffect style is blurring the view completely. It works fine for above iOS9 devices. Do you have any suggestions how to fix that?
![simulator screen shot jan 12 2017 3 41 34 pm](https://cloud.githubusercontent.com/assets/21316498/21914259/db784ea6-d8e6-11e6-8088-10bc63ee3aae.png)

[2017-01-13 12:31] ephread commented on #91
Thanks for reporting the issue @rimckenn!

Indeed, the force unwrapping is there to make an unrecoverable state explicit (Instructions still hasn't reached 1.0.0), as `currentCoachMarkView` should not be nil at this point. It forces us to look for the underlying issue, rather than optionally unwrapping the value.

Your fix seems entirely rational to me, can you make a PR out of it (and credit your

[2017-01-13 12:33] ephread commented on #92
Hello @nagaboyapati, I'm not certain I fully understand your question. Is it an issue or do you have difficulty setting the effect? By the way the effect is broken in iOS 10 (see #80).

[2017-01-13 12:35] ephread commented on #90
Hello @swetaarya, sadly from such stack trace, without more context attached to it, I'm afraid I can't really tell you issue right away. What action lead the crash?

[2017-01-13 12:38] ephread commented on #89
Hello @Ewebalvin, that's awkward. The `Sources` directory is included in the Podspec for 0.5.0, I'll double check on my end, but it might related to CocoaPods caching issues.

[2017-01-13 13:01] swetaarya commented on #90
i think  FlowManager.(stopFlow(immediately : Bool, userDidSkip : Bool, shouldCallDelegate : Bool) -> ()).(closure #2) + 412 causing crash

[2017-01-13 13:08] swetaarya commented on #90
i was calling CoachMarkController.startOn(self) in viewDidLoad() method. May be this causing problem

[2017-01-13 13:12] ephread commented on #90
That's extremely likely, you need to call `startOn` from `viewDidAppear`, as the view hierarchy needs to be ready. ;)

[2017-01-13 13:13] swetaarya commented on #90
But why crash occuring in FlowManager.(stopFlow(immediately : Bool, userDidSkip : Bool, shouldCallDelegate : Bool) -> ()).(closure #2) + 412

[2017-01-13 13:48] ephread commented on #90
Certainly because of a nil pointer inside `stopFlow`, either `self` or `self.coachMarksViewController` (see https://github.com/ephread/Instructions/blob/f96a39976989fcbe503a284bfcfbcc1e5642a9a6/Sources/Managers/FlowManager.swift#L115). This stack trace seems to indicate that the parent object was somehow deallocated and the closure lived its short and unhappy life by itself. But again, without mor

[2017-01-13 20:57] rimckenn commented on #91
Sure, I just created one there. Thanks!

[2017-01-17 18:18] nagaboyapati commented on #92
In my current project we wanted the blur effect like in iOS 10. That is the user should be  able to read what is behind the blur view.

[2017-01-17 18:55] ephread commented on #92
🤔  If the overlay is blurring the background, then the user can't really read what's behind. I'm not following…

[2017-01-23 10:06] anishparajuli555 opened #94 "Change marker position in scrollview."
I am having problem in devices with smaller screen.My view is embedded inside scrollview. And there is no way i can change the CoachMark point of interest.

I tried this..The view lifts up but coach Mark doesnot.
[code]

i see there is no way to change the

[2017-01-23 15:11] ephread commented on #94
Hello @anishparajuli555, thanks for reporting the issue. I don't see any reference to the point of interest in the code you provided, is it an oversight?

[2017-01-23 15:12] ephread commented on #82
Closing due to inactivity.

[2017-01-23 15:12] #82 closed

[2017-01-23 15:12] ephread commented on #83
Closing due to inactivity.

[2017-01-23 15:12] #83 closed

[2017-01-23 15:13] ephread commented on #86
Closing due to inactivity.

[2017-01-23 15:13] #86 closed

[2017-01-23 15:15] ephread commented on #91
Closing, PR #93 fixes the issue.

[2017-01-23 15:15] #91 closed

[2017-01-23 15:15] ephread commented on #32
Closing due to inactivity.

[2017-01-23 15:15] #32 closed

[2017-01-23 15:16] ephread commented on #46
Closing, as the issue has probably become irrelevant following the numerous refactoring.

[2017-01-23 15:16] #46 closed

[2017-01-23 15:17] ephread commented on #50
Closing, since the issue has probably become irrelevant following the numerous refactoring.

[2017-01-23 15:17] #50 closed

[2017-01-23 16:05] anishparajuli555 commented on #94
@ephread  Yeah ..kind of..Initially the view will be outside the scrollview visible Portion..So what i am trying to do is go to the view frame setting the content size..But it wont stick with that view after setting contentOffset..

[2017-01-23 16:27] ephread commented on #94
Oh, yeah, I see. What you're trying to achieve is impossible with the curent state of instructions. cutout paths (and coach marks) won't move if the source view is moved. The cutout/coachmark frame is defined by extracting the frame of a given view, at a given time. Nothing links the two afterwards.

You should probably do the following:

1. change the content offset ;
2. display the coach mark ;

[2017-01-23 16:31] anishparajuli555 commented on #94
How can nobody faced this issue before?Anyway  i will make a PR and work on it..I tried your solution but doesnot works..Tried setting updating the coach mark too..But no effect.

[2017-01-31 09:25] LiborZ opened #95 "Is it possible to use this library in Objective-C project with Xcode 8?"
I have Objective-C project that until now was using only Objective-C. I like this library and I would like to use it in my project. I am using CocoaPods for external frameworks. I want to first test import this library with new project. So I created new project ObjectiveCTestProject and set podfile:

[code]

I get dialog with converting to Swift 3 which is weird but I click at Convert and project

[2017-01-31 16:45] ephread commented on #95
Hey @LiborZ, I've updated the `objective-c` branch for Xcode 8 / Swift 3. Can you try to run the test project and report back? Thanks! ;)

By the way, you should use the `master` branch, `swift3` is outdated and will be removed in the future.

The second import (`#import "ObjectiveCTestProject-Swift.h"`) is, if I recall correctly, the right one. That's a tricky subject. Everything is working fine

[2017-02-01 11:16] LiborZ commented on #95
Thanks for your response and for your update. I tried it with my test project and I looked at your Objective-C example and I get it working. I used same aproach as you with InstructionsManager. If I get it right I can't use your classes "direct" in my Objective-C files because they are not mark with @objc so I must for each controller create InstructionsManager and then this manager use in my clas

[2017-02-01 13:04] ephread commented on #95
Yes, you can't use Instructions directly within Objective-C, since it exposes unbridgeable swift types (namely structs and tuples) through the public API. You can't mark a `struct` with `@objc`, for instance. You'll need a bit a swift glue, as shown in the `objective-c` branch, to make everything work.

The `objective-c` branch only demonstrates a way to use Instructions with Objective-C, it doesn

[2017-02-02 15:50] buscarini opened #96 "Tap on the pointed view"
I would like to make the user tap on the pointed buttons. I think this would be better, as the user would be doing the action and seeing the results instead of reading (and maybe forgetting) what they do. Is there a way to do this? I've looked at the api, but I haven't found anything.

[2017-02-03 00:12] ephread commented on #96
Hey @buscarini, the property [`allowTouchInsideCutoutPath `](https://github.com/ephread/Instructions#customizing-how-the-coach-mark-will-show) might be what you're looking for. ;)

[2017-02-03 07:40] buscarini commented on #96
Great, thanks! from the explanation I didn't get that it was meant for this

[2017-02-03 07:40] #96 closed

[2017-02-07 04:55] LiborZ commented on #95
Thanks for all informations and help.

[2017-02-07 04:55] #95 closed

[2017-02-09 12:22] evgeniyd opened #97 "Umbrella header for module 'Instructions' does not include header 'Instructions-AppExtensions-umbrella.h'"
Instructions is imported via CocoaPods **v1.0.1**

The `Podfile`:

    platform :ios, '9.0'

    project 'MyProject.xcodeproj'

    use_frameworks!
    inhibit_all_warnings!

    target 'Application' do
        use_frameworks!
        # ...
        pod 'Instructions', :git => 'https://github.com/ephread/Instructions.git', :branch => 'master'
        # ...
    end

    target 'Extension' do

[2017-02-25 11:43] anishroff opened #98 "Singleton to keep central datasource and reduce duplicate code"
Just a suggestion can we have something like following struct to have InstructionSet

[code]

and InstructionHandler as

[code]

And in any view controller

[code]

So this would be the advantageous just to have to create InstructionSet in any `UIVIewController` rather than implementing the datasource in all the `UIVIewControllers`

Again as I said I am just suggesting and it may have issues overs

[2017-02-27 15:12] Anders123fr commented on #80
Does anyone have a fix for this ?

[2017-02-27 15:29] ephread commented on #80
@Anders123fr: I'm currently working on it. It requires some non trivial changes to the library, since the `mask` property on `UIView` is not animatable.

[2017-02-27 15:36] ephread commented on #98
Hey @anishroff,

Looks okay to me, it shouldn't really impact negatively the memory usage, unless you have tons of coach marks to show. Your needs seem very specifics though, but if it makes your life easier, go for it!

[2017-02-27 15:40] ephread commented on #97
Hey @evgeniyd, CocoaPods changed its internal a couple of months ago, which means the subspec-based app extension flavor doesn't work anymore. As far as know, there aren't any workaround, I'm going to have to separate the subspecs into two specs.

[2017-02-27 15:55] evgeniyd commented on #97
@ephread thank you very much for your response

I edited the `Podfile`'s Instructions record while migrating from CocoaPods v1.0.1 to v1.1.0.

My project uses Instructions for iOS extension **only**. The iOS keyboard appex, in particular.

Now, `Podfile` looks like this:

    target 'Application' do
    # ...
    end

    target 'Keyboard' do
    # ...
    pod 'Instructions/AppExtensions', :git =>

[2017-02-27 16:10] Anders123fr commented on #80
Yeah I can imagine, but sounds great that you are working on it :)

[2017-02-27 16:18] ephread commented on #97
Great, I assumed you needed to use both flavors. Glad to hear you've been able to make it work!

[2017-02-28 10:40] Anders123fr commented on #90
I just had this crash in my app too.
I think I was quickly closing and opening some view controllers, and calling `stop(immediately: true)` when closing a view controller.

<img width="1991" alt="instructions crash" src="https://cloud.githubusercontent.com/assets/1019341/23401949/de265728-fda9-11e6-9165-13ad313f28de.png">

When looking into the `coachMarksViewController` property in the `FlowManag

[2017-02-28 10:54] Anders123fr commented on #90
PR: https://github.com/ephread/Instructions/pull/99

[2017-03-03 14:54] LiborZ opened #100 "Could be possible to change OverlayView delegate?"
Hi,
would it be possible to make delegate in OverlayView public (and OverlayViewDelegate protocol)? I want to have options to change what happened when user clicked on overlay. For example I don't want to skip just one step but skip all steps and hide instructions. I made it by these modifications but it's just local and when I need update libraries there would be problem. So what it be possible s

[2017-03-06 08:49] anfriis commented on #90
I seems to be working in the PR I created, so can it be merged to master?

[2017-03-06 10:00] ephread commented on #90
Thanks for the work @anfriis, I haven't merged your PR yet, because I believe that the block shouldn't normally outlive the controller (hence the use of `unowned`). I wanted to investigate beforehand. ;)

[2017-03-06 10:09] ephread commented on #100
Hello @LiborZ, if I understand correctly your needs, you can use `showNext(numberOfCoachMarksToSkip numberToSkip: Int = 0)` on `CoachMarkController.flow` to skip certain coach marks, or `CoachMarksController.stop()` to complete the flow.

Touching the overlay will eventually trigger `func coachMarksController(_ coachMarksController: CoachMarksController, coachMarkWillLoadAt index: Int) -> Bool` fo

[2017-03-06 11:26] anfriis commented on #90
No problem :)  but i guess the block is outliving the controller because the controller gets deallocated when the containing view controller does, and then the block lives on somehow

[2017-03-06 14:35] anfriis commented on #90
I can see that I now have a new problem, that the `instructionsRootView` is not removed from the app window, if the `coachMarksViewController` is nil when calling `detachFromParentViewController()`, so the instructions view is shown on the new page... So it would be great if you can investigate it :)

[2017-03-07 07:40] LiborZ commented on #100
I want to skip all marks but only if user touch the overlay. Yes overlay will eventually trigger `func coachMarksController(_ coachMarksController: CoachMarksController, coachMarkWillLoadAt index: Int) -> Bool` but it's trigger even if I touch coach mark before. I need to detect if user touch overlay or touch coach mark.

[2017-03-13 11:39] ephread commented on #100
Alright, thanks for the clarification. We can definitely split the two! I'll put that on the roadmap.

[2017-03-13 16:31] mureatencio commented on #80
Any fix for this behavior?

[2017-03-19 15:30] zzdjk6 opened #101 "Crash"
I have monitored a crash from end user, but I can't reproduce it, the logs below:

0 Instructions	_TFC12Instructions11FlowManager22createAndShowCoachMarkfTSb_T_ (FlowManager.swift:184)
 (FlowManager.swift:184)
1 Instructions	_TFC12Instructions11FlowManagerg10dataSourceXwGSqPS_35CoachMarksControllerProxyDataSource__ (FlowManager.swift:0)
 (FlowManager.swift:0)
2 Instructions	__TFFC12Instructions11F

[2017-03-28 18:49] jlaws opened #102 "Update podspec"
The podspec is out of date, can you update it to match what is on master?

[2017-04-07 23:02] jessgates opened #103 "Suggested Update to ReadMe Installation Instructions"
Hello, love the repository, I have a small suggestions to the ReadMe under the Installation instructions include the following.

If Installing to use with Swift 3:
pod 'Instructions', :git => 'https://github.com/ephread/Instructions.git'

Thanks!

[2017-04-09 15:09] galblank opened #104 "can't compile on Swift 3"
keeps complaining about tons of issues :(

[2017-04-16 06:53] sambing commented on #104
Remove **pod 'Instructions', '~> 0.5**' from your podfile and add :
pod 'Instructions', :git => 'https://github.com/ephread/Instructions'
install the pod again

[2017-04-16 21:15] LiborZ commented on #100
Are you planning new version with this enhancement any time soon? :) Thanks for info

[2017-04-19 07:59] deepakdhanaie opened #105 "Change the color of bubble in swift 2.3"
I'm not able to change the color of the coachmark bubble to someother color.

[2017-04-27 13:12] Salmancs43 commented on #104
Hi I installed pod 'Instructions' but it keep containing tons of issues.

[2017-04-27 13:14] Salmancs43 opened #106 "Not working on swift 3.0"
Hi when i  installed the pod for swift 3.0 it gives tons of issues and 10 to 15 issues compiler didn't know. :(

[2017-04-27 22:05] ephread commented on #106
Hello @Salmancs43, the master branch holds the swift 3-compatible version.
You can use the following line:

[code]

[2017-04-27 22:05] #106 closed

[2017-04-27 22:06] ephread commented on #105
Hello @deepakdhanaie, please see #82. 😉

[2017-04-27 22:06] #105 closed

[2017-04-27 22:07] ephread commented on #104
Thanks for the answer @sambing. Closing.

[2017-04-27 22:07] #104 closed

[2017-04-27 22:09] ephread commented on #102
@jlaws, sorry for the lack of update. The next version fixing the blur and supporting Swift 3 will be released around the end of this month. Thanks for your patience!

[2017-04-27 22:11] ephread commented on #101
Hey @zzdjk6, thanks for reporting the issue. I'll look into it.

Force unwraping variable can make sense, such as making unrecoverable errors explicit. 😉

[2017-04-27 22:15] ephread commented on #103
You're right @jessgates, the following part of the README seems to be quite confusing.

A proper version will normally be published by the end of the month, I've had some issues with the blur support on iOS 10, but it's mostly solved by now. If it's delayed again, I'll update the README !

[2017-05-03 09:54] psubhashish opened #108 "App freezes while running"
![img_1891](https://cloud.githubusercontent.com/assets/1258090/25655932/76b0da62-3014-11e7-9781-c423fbe7d2de.PNG)
The app just froze like the above and I could not do anything but shut it down forcefully.

[2017-05-04 04:54] tiwariammit opened #109 "Issue in Swift 3"
After installing Instructions pod in xcode 8, it shows the lots of issue.

[2017-05-04 11:53] Salmancs43 commented on #109
pod 'Instructions', :git => 'https://github.com/ephread/Instructions.git'
Install this pod.

[2017-05-04 11:55] Salmancs43 opened #110 "UIAlertController is hidden behind the shadow."
Hi When i present the UIAlertController it is showing behind the overlay. Is there any suggestion for that? Thanks
![simulator screen shot may 4 2017 4 51 54 pm](https://cloud.githubusercontent.com/assets/23050315/25702439/6d877a8c-30ea-11e7-969e-55c630d58a62.png)

[2017-05-08 14:29] Salmancs43 opened #111 "Change the position of coach mark controller"
Hi How can we change the coach mark view. For example when keyboard appears textfield move ups but the coach mark remain at the same position? Is there anyway to do  this? Thanks

[2017-05-15 19:34] s2imon commented on #23
Maybe someone can help clarify: I've got my first coach mark working whenever the app opens. It works perfectly. Now I'd like to add a second coach mark that only triggers when a certain action has occurred (swiped on collection view page), or when the app's been opened a certain amount of time. It is logically decoupled from the first one.
Can I make this happen with the current system, or is wha

[2017-05-16 16:37] waleedAlmubarak commented on #109
Awesome!

[2017-05-18 13:36] oferRounds opened #112 "Question: create a more flat look to the coachmark"
Hi @ephread and all

First, @ephread — thanks again for this really awesome library! (already wrote you in the past).

I’m trying achieve a more flat look to the coachmark: remove the 3D illusion, and just add a minor shadow instead.

I was trying to look on the image assets which are currently used, in order to instruct my designer friend to  create one which will achieve this effect, but was not

[2017-05-18 15:07] ephread commented on #108
Hello @psubhashish, is it caused by Instructions? I can't seem to identified anything related to Instructions on your screenshot, could you provide me with a bit more details?

[2017-05-18 15:08] ephread commented on #110
Hello @Salmancs43, sadly, nothing can be done at the moment. But there's hope, next version will ship with proper support of window levels.

[2017-05-18 15:09] ephread commented on #111
Hey @Salmancs43, that's an oversight on my part. I'll think of something to deal with this case.

[2017-05-18 15:12] ephread commented on #23
Thanks @s2imon!

Is the second coach mark bound to be displayed at the same time the first one? If yes, that's currently not possible. However if you want to show two different coach marks on two different controllers at two different times, you can simply instantiate `CoachMarksController` multiple times.

[2017-05-18 15:50] ephread commented on #112
You're welcome again @oferRounds ;)

To change the background, you'll need to provide your own, customized views. You can take a look at the [default views] or [the custom views of the example], copy them and tweak them to fit your needs.

The background of the coach marks are simply defined by two resizable images. One will be used to display the coach mark in its “idle” state, while the other wi

[2017-05-18 17:15] s2imon commented on #23
That's great news. I had managed to integrate the first one flawlessly, but since it is detached from the first one in time and space so to speak wasn't sure how to logically approach it. I need to check, but I think that should do it! Thanks Frédéric.

[2017-05-19 07:50] psubhashish commented on #108
I'm not sure actually. I was trying to record and it just froze. I tried to restart the app and there was no progress.

[2017-05-19 17:35] oferRounds commented on #112
@ephread — thanks so much for this detailed explanation! I’ll try it :)

[2017-05-20 09:48] kientux opened #113 "How to show previous coach mark?"
I can't find any method to show previous coach mark. I think about a way that is stop the flow then start again and skip some coackmarks.. Is that too complicated? Also I can't find any public property of current coackmark's index. So do I have to use delegate to get it if I want to skip coackmarks using `coachMarksController.flow.showNext(numberOfCoachMarksToSkip:)`?

[2017-05-20 09:55] kientux commented on #113
I've just read the source code of method `showNext(numberOfCoachMarksToSkip:)` and found out that it just increase `currentIndex` by `numberToSkip`. So if I comment out the negative check and pass `numberToSkip` = -2, it will show previous coachmark.

The only problem is `showNextCoachMark(hidePrevious: true)` doesn't hide current coachmark.

[2017-05-20 10:21] kientux commented on #113
I modified the source code to make it works:

[code]

But it's just a temporary solution and I don't think this is a good way. Maybe a separate method will be better.

[2017-05-24 02:02] trialabc opened #115 "Fail to build using Carthage"
I am using Carthage and wanna download this. However, it give error saying "Task failed with exit code 65". Is there a problem with the build or my setting?

[2017-05-24 06:10] sjackk commented on #115
Same error. In carthage log file I found:

=== CLEAN TARGET InstructionsAppExtensions OF PROJECT Instructions WITH CONFIGURATION Release ===

Check dependencies
“Use Legacy Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets which use Swift. Use the [Edit > Convert > To Current Swift Syntax…] menu to choose a Swift version or use the Build Settings editor to

[2017-06-03 20:37] ephread commented on #113
Hey @kientux, indeed, there are currently no ways to go back. Yes you're on the right track and, yes we'll need a separate method. It should be easy to implement. ;)

[2017-06-03 20:50] ephread commented on #115
Hey @trialabc, sorry for the lack of reactivity. It's normally fixed by #107, try with `master`.

[2017-06-03 20:50] #115 closed

[2017-06-03 21:18] ephread commented on #110
I've always believed that `UIAlertController` views were presented in their own window. Turns out I was mistaken. You're going to need to present the `UIAlertController` in its own window, which will sit above Instructions' window. By default, Instructions uses a window with the following level: `UIWindowLevelNormal + 1` (it's customizable, but not yet in the README). The custom window will need t

[2017-06-03 21:19] ephread commented on #111
It's partially fixed on `master`, I'll update the README soon with how a “clean” transition can be achieved.

[2017-06-03 21:32] ephread commented on #109
That's a dup of a dup, clear answer, I'm closing. ;)

[2017-06-03 21:32] #109 closed

[2017-06-03 21:34] ephread commented on #108
I'm closing, as it doesn't seem to be caused by Instructions. If you've got more details on the issue, feel free to re-open.

[2017-06-03 21:34] #108 closed

[2017-06-03 21:35] ephread commented on #98
Closing due to inactivity.

[2017-06-03 21:35] #98 closed

[2017-06-03 21:36] ephread commented on #94
Closing due to inactivity.

[2017-06-03 21:36] #94 closed

[2017-06-03 21:37] ephread commented on #92
Closing due to inactivity.

[2017-06-03 21:37] #92 closed

[2017-06-03 22:27] ephread commented on #80
Should now be fixed in `master`, a release will come tomorrow. It's not perfect (could use further optimization), but it works.

[2017-06-03 22:27] #80 closed

[2017-06-04 11:01] ephread commented on #97
It's now fixed, with the release of [`InstructionsAppExtensions`](https://cocoapods.org/pods/InstructionsAppExtensions) as a seperate pod.

[2017-06-04 11:01] #97 closed

[2017-06-04 11:03] ephread commented on #102
Instructions 1.0.0-beta.1 was just released (🎉), thanks for your patience and sorry for the delay.

[2017-06-04 11:03] #102 closed

[2017-06-04 11:04] ephread commented on #103
Obsoleted by the release of version 1.0.0-beta.1.

[2017-06-04 11:04] #103 closed

[2017-06-04 11:05] ephread commented on #112
I'm closing the issue, feel free to re-open if you need more informations.

[2017-06-04 11:05] #112 closed

[2017-06-04 11:07] ephread commented on #89
Instructions has been updated to 1.0.0-beta.1. I'm assuming this solves the issue, if not, feel free to re-open the issue.

[2017-06-04 11:07] #89 closed

[2017-06-04 12:48] oferRounds commented on #112
Thanks! 👍

[2017-06-04 20:13] jlaws commented on #102
You still need to publish the updated podspec to the cocoapods trunk.  Calling pod update still gives the 0.5 version

[2017-06-04 21:20] ephread commented on #102
The pod was published to the trunk this morning, few minutes before I closed the issue. I guess a problem occurred (or perhaps they ignore `-beta` versions on purpose, I'm not too familiar with CocoaPods).

http://cocoapods.org/pods/Instructions shows the right version at the top, but nothing else was updated. I'll investigate.

[2017-06-04 21:28] ephread commented on #102
Seems they were properly added to the spec.

https://github.com/CocoaPods/Specs/tree/c2591f6ca694064dcfaddb2c8ed3d199ab379e25/Specs/4/9/c/Instructions
https://github.com/CocoaPods/Specs/tree/7647a29643e56045bdcdb2da171e20eab40450f3/Specs/9/8/3/InstructionsAppExtensions

That's awkward.

[2017-06-04 21:34] ephread commented on #102
Specifying the exact version in the Podfile works.

[code]

I didn't know CocoaPods would “hide” the beta versions, but come to think of it, that makes sense. I'll update the README.

[2017-06-05 07:17] Salmancs43 commented on #110
[code]
It Can be achieved using this code.

[2017-06-05 08:01] ephread commented on #110
Problem solved!

[2017-06-05 08:01] #110 closed

[2017-06-06 09:17] wbervoets opened #116 "Minimum iOS version higher then in v0.5.0"
Hello,

Can you please put the mimimum version of iOS on 8.0 in the new 1.0 beta?

Thanks
Wim

[2017-06-06 09:42] ergunkocak opened #117 "Animation question - Animate the transparency of the overlay"
Hello,

First of all thanks for such useful library 👍

Is it possible to animate background transparent layer as in :

https://raw.githubusercontent.com/wooplr/Spotlight/master/art/intro.gif?token=AA5ZAHdvAspW6Zj8YyyKamkV7jWXFtMHks5XaQovwA%3D%3D

Best Regards

[2017-06-06 11:36] ephread commented on #116
Hey @wbervoets, I dropped the iOS 8 support for 1.0.0. I can sneak '8.0' back in as the minimum version, but I won't provide fixes for iOS 8 if things go awry. I'll gladly accept external pull requests, though. ;)

I'll revert the change in 1.0.0-beta.2.

[2017-06-06 11:38] ephread commented on #117
Thanks @ergunkocak, you're welcome!

Sadly, not yet. Custom animations of the overlay and the coach marks are not supported, but it's on the roadmap.

[2017-06-07 08:04] dmitrysimkin opened #118 "How to change skip view position"
Hi, I didn't found public API how to change the skip view location. I see internal code to be default in top right corner. But for me I need it in top left corner. How can I achieve it?
Thanks in advance.

[2017-06-07 08:07] dmitrysimkin opened #119 "Coach mark without linked view"
Is there any way to show coach mark without relation to any view? Please consider following example, I want to start walkthrough from generic welcome message and place it in center, there is no yet view to cutout.
Thanks

[2017-06-07 08:13] ephread commented on #118
Hello @dmitrysimkin, you can use the following `CoachMarksControllerDataSource` method, as [specified in the README](https://github.com/ephread/Instructions#datasource) (the snippet seems outdated, I'll update it).

[code]

You can also take a look at [this Example](https://github.com/ephread/Instructions/blob/master/Examples/Example/CustomViewController.swift#L156).

[2017-06-07 08:15] ephread commented on #119
It's not really supported, but [#83](https://github.com/ephread/Instructions/issues/83#issuecomment-261511352) details a possible workaround.

[2017-06-07 08:18] dmitrysimkin commented on #118
Thank for quick answer!

Sorry, I've missed this part, thanks for pointing me out.

[2017-06-07 08:18] #118 closed

[2017-06-07 08:18] ephread commented on #118
You're welcome ;)

[2017-06-07 08:24] dmitrysimkin commented on #119
Thanks, that helps!

PS. Awesome framework 👍

[2017-06-07 08:24] #119 closed

[2017-06-09 15:07] dmitrysimkin opened #120 "Uploads to iTunes Connect fail when framework's Info.plist versions do not conform to %d.%d.%d format"
Hi,
I've encountered with en error uploading my app integrated with 'Instructions' framework to the store. That's because Instructions.framework has '1.0.0-beta.1' version number.  Please see screenshot.
<img width="583" alt="screen shot 2017-06-09 at 5 48 36 pm" src="https://user-images.githubusercontent.com/7154376/26981378-9703612c-4d3d-11e7-963a-0c41725dfeb8.png">

I work with XCode 8.3.2

Tha

[2017-06-09 16:17] ephread commented on #120
Sorry about that @dmitrysimkin. Oversight on my end.
I assume you're using Carthage. Once in the project directory, you can use the following commands to change the version strings:

[code]

The beta phase will be very quick.

[2017-06-11 13:38] dmitrysimkin commented on #120
Thanks!

[2017-06-11 13:38] #120 closed

[2017-06-13 14:18] ephread commented on #23
Ooops, sorry @s2imon, I missed your question.

It simply means that a single object can be the dataSource for two `CoachMarkControllers`, much like `UITableViewDataSource`. Unlike what's found in the examples, `CoachMarksControllerDataSource` could be implemented in an external object, rather than inside the ViewController. This object could stand as the dataSource for different view controllers a

[2017-06-13 19:05] s2imon commented on #23
Thanks a bunch Frédéric! I will try to get that next time I have a bit of time.

[2017-06-19 06:55] Sweeper777 opened #121 "Can you lower the deployment target?"
I want to support iOS 8. Are you using anything that's not available in iOS? If that is not the case, can you lower the deployment target to iOS 8?

[2017-06-19 08:22] ephread commented on #121
Hello @Sweeper777, please see #116. I'm actually using the iOS 9+ syntax for autolayout, but I'll make a last iOS 8-compatible version using the legacy syntax. Please note, however, that I won't be supporting iOS 8 anymore after that. Pull request will be welcome, tough.

[2017-06-20 06:05] Sweeper777 commented on #121
Thank you!

[2017-06-21 12:04] robertherdzik opened #122 "Proposal for improving UX experience"
At the beginning I have to admit that Instructions lib is great and easy to use, cool job ❗️ 👍

## I have one proposal which will significantly improve UX feeling of library:
From UX perspective it would be more user friendly if the Instructions will have functionality which allows user interact with feature using single tap inside highlighted in circle area (see attachment screenshot), currently

[2017-06-21 13:56] ephread commented on #122
Thanks a lot @robertherdzik!

As far as I understand your requirements, there's already something solving your issue. Setting `CoachMark.allowTouchInsideCutoutPath` to true will forward the touch events to the window below, thus achieving what you're looking for (see _Transition From Code_ in the example project). It won't, however, automatically dismiss the coach marks, but that's easy to achieve

[2017-07-03 17:17] hixfield opened #123 "Carthage produces framework with invalid CFBundleShortVersionString for App Store"
My cart file:

github "ephread/Instructions" "1.0.0-beta.1"

The framework building works fine, all is ok, but when trying to push the app to the apple App Store the following error is returned:

ERROR ITMS-90060: "This bundle is invalid. The value for key CFBundleShortVersionString '1.0.0-beta.1' in the Info.plist file must be a period-separated list of at most three non-negative integers."

I gu

[2017-07-04 09:55] vuppalasivakumar opened #125 "please make the availablty of used pod in example"
It is one of the worst library what i had seen beacuse pod will not install for pod 'Instructions', '1.0.0-beta.1'
and how ever i installed pod but methods are different  in example and installed pod then what is the use of example, please make sure the availablity of the used pod in example.

[2017-07-04 11:02] ephread commented on #123
Hey @hixfield! That's a dup of #120, but you're right, it's been lingering for a bit too long in beta. I haven't encountered any new bug, so I'd say it's okay to bump it to 1.0.0.

Thanks for the PR, can you update it to use `1.0.0` instead of `1.0.1`? I'll merge it and create the appropriate releases.

[2017-07-04 11:08] ephread commented on #125
You know, no one forces you to use it if it's the worst library you've ever seen. 🙃

[2017-07-04 13:43] vuppalasivakumar commented on #125
I am saying that to make the pod available for given pod link other than that nothing is there bro. But ur Example one is working fine and having good effects.

[2017-07-04 14:40] hixfield commented on #123
done, go ahead!

[2017-07-04 17:19] Ferannor commented on #125
@vuppalasivakumar Man you can update the README if the problem is only that case. That what is f... magical with Github!

[2017-07-05 06:20] Nathan2017 opened #126 "Is it possible to continue the flow of the coach mark after presenting new viewcontroller"
I am trying to continue the flow of a coach mark in one viewcontroller to other viewcontroller after presenting the viewcontroller, but some how it doesnt continue the flow, but i still see the skip button.

[2017-07-05 08:30] ephread commented on #126
Hello @Nathan2017, sadly cross-controller walkthrough is currently not supported 😕. You'll have to stop the flow, change the controller, and start it again on the new controller.

[2017-07-05 08:50] ephread commented on #125
Whatever the issue was exactly, it's probably solved by `1.0.0`.

[2017-07-05 08:50] #125 closed

[2017-07-05 08:51] ephread commented on #123
1.0.0 was released few minutes ago!

[2017-07-05 08:51] #123 closed

[2017-07-05 08:53] Nathan2017 commented on #126
Oh ok thanks for the reply, its a great library anyway

[2017-07-05 11:26] hixfield commented on #123
:-) teamwork!

[2017-07-06 01:21] #126 closed

[2017-07-09 06:05] hhtopcu opened #127 "isShownAboveStatusBar"
It's stated in the documentation that "The overlay can sit above the status bar or below, the property defaults to true:"

But isShownAboveStatusBar is not defined in OverlayManager?

[2017-07-10 14:13] ephread commented on #127
Hey @hhtopcu! It seems that the README is outdated. The property has been replaced by [`windowLevel`](https://github.com/ephread/Instructions/blob/master/Examples/Example/Source/Core/View%20Controllers/MainTableViewController.swift#L16), which is more flexible. I'll fix it.

[2017-07-11 14:10] LiborZ commented on #100
Any progress with this? This should be change only in 3 lines of code :) Just change delegate properties from internal to public :)

[2017-07-12 21:53] hhtopcu commented on #127
Thank you @ephread, after some trials, I understand that my problem is a little bit different. I've attached 2 screenshots. In the original one, the status bar is hidden. Whenever the coach marks are being displayed, the status bar becomes visible. I don't want the status bar displayed when coach marking is started. I just put a simple code to CoachMarksViewController below, It is started to be di

[2017-07-13 09:01] ephread commented on #127
Very good point @hhtopcu, that's an oversight on my end. I'll make the `CoachMarkViewController` retrieve the value from the _parent_ VC (value passed to `start(on:)`) `prefersStatusBarHidden`, rather than exposing a way to define the value on the `internal CoachMarkViewController`. Does this sound good to you?

[2017-07-13 17:51] hhtopcu commented on #127
Thank you @ephread, It sounds good 👍

[2017-07-21 17:21] dowatugkins opened #130 "CoachMark appearing off screen."
I had a  coachMark had the bottom cut off - the cut off was in the middle of the last row of text. I worked around it by  manually setting the arrow direction to bottom to put the coachMark on top of what it was explaining.

I don't currently have time to look for the problem to fix it - I might later - but I believe what happened was the size of the text fit underneath the area the coachMark was

[2017-08-02 16:57] rtnlsltn opened #132 "Lock orientation?"
I'm using some viewcontrollers in my project that are using a rotation lock via the navigation controller. Using these methods on the Instructions VC's don't appear to work (shouldAutorotate false, supportedInterfaceOrientations .portrait). I'm curious if there's a way I can lock orientation so the instructions don't rotate when the device does?

[2017-08-09 09:45] #100 closed

[2017-08-09 09:45] #132 closed

[2017-08-09 11:15] ephread commented on #127
Should be solved by 1.1.0. On start, Instructions will now retrieve `prefersStatusBarHidden` from the controller.

[2017-08-09 11:15] #127 closed

[2017-08-09 11:16] ephread commented on #132
Should be solved by 1.1.0. On start, Instructions will now retrieve `shouldAutorotate` and `supportedInterfaceOrientations` from the controller.

[2017-08-09 11:18] ephread commented on #100
1.1.0 introduces a new delegate method which should suit your needs, see [here](https://github.com/ephread/Instructions#react-when-the-user-tap-the-overlay) 😉

[2017-08-21 06:39] snehageorge opened #133 "Add coachmark to UIBarButtonItem"
How to add a coachmark to a righ barBUttonItem in the navigationBar. From what I tried, the skip button overwrites the coachmark i added. Is there any other solution ?

[2017-08-25 09:21] ephread commented on #133
Hello @snehageorge, the [README#let-users-skip-the-tour](https://github.com/ephread/Instructions#let-users-skip-the-tour) is your friend ;)

[2017-08-25 09:23] ephread commented on #130
Hello @DougWatkinsDev, thanks for reporting the issue, that's quite strange. Would you be able to make a sample project demonstrating the issue, so I can investigate?

[2017-08-30 00:23] Jasperav opened #134 "Pause -> remove layer -> resume"
I want to pause my flow, for example at index 1. When it hits index 1, the white layer should be removed from the screen and the coachMarks. The instructions should pause and it should look like it is removed.
 I thought implementing this function would work:

    func coachMarksController(_ coachMarksController: CoachMarksController, willShow coachMark: inout CoachMark, at index: Int) {
        s

[2017-09-05 02:16] hjo opened #135 "Swipe gestures in the overlay"
In my app, I had some instructions to teach the user some gestures they could use in the app - i.e. swiping up does this, swiping down does that, swiping left does this other thing and swiping right does that other thing.

In user testing I found that when users got those instructions they wouldn't tap - instead they would try to swipe on the overlay as instructed. To give them a better experience

[2017-09-05 07:11] magicmikek opened #136 "Disable overlay for user interaction and then resume coachmarks"
Is it possible to disable the overlay when I use `coachMarksController.flow.pause()` such that the user can perform some interaction ( two button clicks ) and then use `self.coachMarksController.helper.updateCurrentCoachMark()
                self.coachMarksController.flow.resume()`

to continue with the instructions?

[2017-09-06 20:58] danparnella commented on #134
I've also noticed that "willShow" is no longer firing.  This did used to work when I was using the 0.5.0 release.

[2017-09-06 21:50] danparnella commented on #134
Ok, just tracked down that the func name has changed to:
`func coachMarksController(_ coachMarksController: CoachMarksController, willShow coachMark: inout CoachMark, afterSizeTransition: Bool, at index: Int) {}`

This should be updated in the ReadMe

[2017-09-08 10:33] NGLocanovic opened #137 "Best way to be able to tap inside the coachmark View to show the next"
Hey guys,
I want a custom coachMark to be able to be touched (like the default ones).
I tried:
[code]
But it does not work :(

Here ist my custom bodyView:

[code]

Can you help me out?

Thanks in advance!

[2017-09-11 07:00] dqhieu opened #138 "How to change the corner radius"
I want to change the corner radius smaller than default but I don't know where to implement it. Can you help me?
Thanks!

[2017-09-11 07:33] #138 closed

[2017-09-19 23:19] Jasperav commented on #134
Hi @danparnella now that function is calling, thanks.

However I am still unable to remove the overlay. Even if i set the overlay color to .clear, I can not get rid of it.

[2017-09-21 10:22] ephread commented on #135
Hey @hjo, I didn't think of that case. Given your needs are very specific, I think I'll just make the overlay view public again in the next version so that you'll be able to attach your gesture recognizers again!

[2017-09-21 10:24] ephread commented on #136
Not yet, but there's a [PR](https://github.com/ephread/Instructions/pull/131) relating to this. So it'll be possible in the near future!

[2017-09-21 10:26] hjo commented on #135
Thanks - that would be great!

[2017-09-21 10:26] ephread commented on #134
Thanks @danparnella, I thought I mentioned it in the README, I'll make an update.

@Jasperav, see #136, I'll batch-fix of your issue, his and #131 in the near future.

[2017-09-21 10:32] ephread commented on #137
Hey @NGLocanovic, here's the code for the default coach marks [this class](https://github.com/ephread/Instructions/blob/master/Sources/Instructions/Extra/Default%20Views/CoachMarkBodyDefaultView.swift).

If you want the same behavior (i. e. the entire body of the coach mark is the control), your class needs to inherit `UIControl` and return `self` for the `nextControl` property.

[2017-09-27 08:35] NGLocanovic commented on #137
Hey @ephread,
thank you very much for your help!

[2017-10-10 09:24] snehageorge opened #140 "shouldHandleOverlayTap not getting called"
[code]
I have also set
`self.coachMarksController.overlay.allowTap = true`

[2017-10-12 00:02] iamhx opened #141 "UIBarButton Item on textfield's input toolbar accessory view gets disabled on second runthrough"
I have a toolbar linked to a textfield accessory view and when I did a `coachMarksController.start(on: self)` for the second time, my textField toolbar is disabled for some reason. I checked my code everywhere, the buttons do not have any `isEnabled` code, and it's really confusing. Could this be a bug?

[2017-10-12 00:31] iamhx commented on #141
I did more tests, and I found out that it might be an overlay issue; It was covering my toolbar and when I tapped on skip, the button became normal again...

[2017-10-15 00:25] WillMays1 opened #142 "Next Button To Next Overlay"
How can I have the next button advance to the next instructions view.

[2017-10-15 00:50] #142 closed

[2017-11-08 11:52] kaustubhtj opened #144 "Navigation Bar Button Item not tappable on iOS 11"
I have created UIBarButton item with UIButton as a custom view. Till iOS 10 it was tappable through the overlay but now with iOS 11 it is not working.

any suggestion ?

Here is my code
`let setting =   UIButton.init(type: .custom)`
`let frame:CGRect = CGRect(x: 0, y: 0, width: 44, height: 44)`
`setting.setImage( UIImage(named: "settings"), for: .normal)`
`setting.addTarget(self, action: #selector

[2017-11-08 18:40] BrianDoig opened #145 "Swift Package Manger results in broken library"
Because Swift Package Manager does not handle resources correctly yet, it omits them from the target.  This causes the code to crash due to force unwraps on images that failed to load.

You should probably remove Package.swift until they add support for resources.

[2017-11-15 14:34] dreed47 opened #146 "Suppor for UITabBar tabs"
Does Instructions have support for attaching coach marks to the tabs of a UITabBar?  The only way I can figure out how to do this it to add my own custom UIViews and try to position them over the tabs.  This approach is very troublesome when trying to account for the different screen resolutions.  Is there another way to do it or is it just not supported?

[2017-11-16 10:14] ephread commented on #146
Hello @dreed47, unfortunately there won't be any direct support for `UIBarButtonItem` and subclasses, because they hold their views inside a private property. You've got two options:

1. Highlighting the entire Tab Bar, but placing the arrow above the element you wish to emphasize, by using the `CoachMark.pointOfInterest` property.

2. Access the private view property of the item you wish to highl

[2017-11-16 10:19] ephread commented on #145
At the moment, Instructions is not really supposed to be included via SPM. `Package.swift` is only present because CocoaPods enjoys seeing it there.

Last time I took a look at SPM, they explicitly stated that it did not support UIKit. Has this changed?

[2017-11-16 10:21] ephread commented on #144
Hey @kaustubhtj, are you using `CoachMark.allowTouchInsideCutoutPath`, to allow touch forwarding?

[2017-11-16 10:27] ephread commented on #141
Hello @iamhx, do you have a sample project showing the problem? I don't really know whether iOS shows the input accessory view it the current window or in the window used by the keyboard. I'll try to reproduce the issue, but since the overlay is showing in its own window, above the current window, it normally blocks every touch event.

[2017-11-16 10:28] ephread commented on #140
Hello @snehageorge, thanks for reporting the issue, I'll take a look!

[2017-11-16 10:56] kaustubhtj commented on #144
@ephread Yup

public func coachMarksController(_ coachMarksController: CoachMarksController, coachMarkAt index: Int) -> CoachMark {
        var coachMark : CoachMark
        switch(index) {
        case 0:
            let rightBarButton = self.navigationItem.rightBarButtonItem

            coachMark = coachMarksController.helper.makeCoachMark(for: rightBarButton?.customView!) { (frame: CGRect) ->

[2017-11-16 11:29] ephread commented on #144
Looks like a bug, I'll take a look.

[2017-11-16 11:30] ephread commented on #122
Closing due to inactivity.

[2017-11-16 11:30] #122 closed

[2017-11-16 11:31] ephread commented on #133
Closing due to inactivity.

[2017-11-16 11:31] #133 closed

[2017-11-16 12:58] dreed47 commented on #146
Thank for the tips.  I didn't think there was a way to highlight the entire tabbar?  Am I wrong?

[2017-11-16 13:12] ephread commented on #146
Actually, `UITabBar` is a subclass of `UIView`, so you can pass the `tabBar` to Instructions' helpers to get the cutout path, or use its frame to create the cutout path manually.

[2017-11-16 19:15] dreed47 commented on #146
very cool!  thx

[2017-12-05 07:40] kaustubhtj commented on #144
@ephread Thanks. Will wait to hear from you.

[2017-12-07 19:37] PADomine opened #147 "BlurringOverlayAnimator.swift file doesn't exist in 1.1.0"
Hello there!
I've updated my project from Swift 3.2 to 4.0, without any kind of problem.
Then, I decided to update my pods.
I was using Instructions '1.0.0-beta.1', and now I've installed to '1.1.0'.
I found the following issue:

<a href="https://ibb.co/n358Nw"><img src="https://preview.ibb.co/kbUraG/Screen_Shot_2017_12_07_at_16_32_41.png" alt="Screen_Shot_2017_12_07_at_16_32_41" border="0"></a><b

[2017-12-11 17:17] PADomine commented on #147
I found my problem!
I have the Tests target in swift 3.2. After I migrate this, I update Instructions again and works just fine.
Sorry to bother you. Thanks!

[2017-12-11 17:17] #147 closed

[2018-01-03 07:30] shamlykh123 opened #148 "Failed to integrate Instructions Library"
Hello, am trying to integrate instructions framework to project manually by dragging instructions.xcodeproj to my project ,added framework in embedded binaries. When using in swift file getting error like "Use of unresolved identifier 'CoachMarksController'". Any idea ?? Please help.

[2018-01-04 19:34] derick182 commented on #148
Did you use the import statement?

[2018-01-04 19:36] derick182 commented on #116
Hi, same issue here.
Cannot install version 1

[2018-01-15 15:43] VanHoutte1337 opened #150 "iOS 11.2.2 flickering UI markers/highlight"
Hello

Since I installed 11.2.2 on my iPhone X I noticed there is an issue when showing the markers. Before showing the marker, the UI element is highlighted, a brief moment after that the highlight is gone and briefly after that, the marker plus the highlight is shown which causes a fast flickering on the UI.

You can test this when running the example app on iOS 11.2.2.

[Proof on YouTube](https

[2018-01-23 11:04] mgurnani commented on #146
@ephread - When you say _"Highlighting the entire Tab Bar, but placing the arrow above the element you wish to emphasize, by using the CoachMark.pointOfInterest property."_
Can you guide how to do that please - positioning the arrow over correct element?

[2018-01-24 15:01] AchintyaAshok opened #151 "Add Ability to Change Font"
Would it be possible to pass in the font for a coach? Also, formatting wise how feasible is it to change the type of paragraph alignment? Right now it's justified but would it be possible to be left or right aligned instead?

[2018-01-24 18:04] sl4m commented on #31
@ephread Have you considered adding a caveat for `UIBarItem`s in the README? I'm looking into this very issue. We may ultimately just not show a coach mark for for a `UIBarItem`. Is this a limitation with the library or in general? Thanks

[2018-01-28 14:25] M-I-N opened #152 "CoachMark is getting out of the screen bounds when applied to table view"
I've made coach marks for several components of my view controller (e.g. `navigationBar`, `rightBarButtonItem`, `tableView`, a custom `UIButton`). Other coach marks but the one for `tableView` are being shown appropriately inside the screen bounds. What's wrong when using it with `tableView`?

**Screenshots:**
![screen shot 2018-01-28 at 8 00 13 pm](https://user-images.githubusercontent.com/170102

[2018-01-29 11:28] ephread commented on #152
Hello @M-I-N, the reason you're seeing this awkward behaviour, is because your tableview spans more than half the screen –meaning that the engine get confused as to where to put the coach mark and resort to the default position.

It'll certainly be an improvement to check the space remaining and place the coachmark where there's the most of it.

Int he meantime, since you've got more space on the

[2018-01-29 11:34] ephread commented on #151
Hello @AchintyaAshok, I recommend you to provide custom view, with the font you wish to use. See [here](https://github.com/ephread/Instructions#providing-custom-views). You can also take a look at how the default views are [implemented](https://github.com/ephread/Instructions/tree/master/Sources/Instructions/Extra/Default%20Views).

The default views are not really meant to be customized. It's muc

[2018-01-29 11:36] ephread commented on #150
Ouch. This doesn't look nice at all. Thanks for reporting the issue @VanHoutte1337. I'll take a look.

[2018-01-29 11:41] ephread commented on #148
Hello @shamlykh123, we'll need more details to help you. If you could provide a dummy project showing the issue, that'll be great!

[2018-01-29 16:11] M-I-N commented on #152
Hi @ephread , thanks for the quick reply from you.

I've tried the approach you suggested (force the orientation so that `CoachMark` is shown above the table view). But this isn't changing anything. The `CoachMark` is still on the bottom.

My `TableView` is top aligned with the **Safe Area** and I'm using **Navigation Bar**(long style with `iOS 11` but traditional with less targets) with **Navigat

[2018-01-29 16:39] M-I-N commented on #152
Meanwhile, the **documentation** in the `CoachMarkArrowOrientation` enum should be changed to something like:

to reflect the actual behavior.

[2018-01-29 17:30] AchintyaAshok commented on #151
Got it thanks @ephread

[2018-01-29 17:31] #151 closed

[2018-02-26 11:46] tectonicpie commented on #152
I did it with  coachMark.arrowOrientation = .bottom as well.

[2018-02-27 06:28] RoshanJSequeira opened #156 "View Hierarchy Issue in TabBar Controller"
Hi,

When used to highlight UITabBarController tabs , The current elements highlighting rectangle is behind the tabbar item.

Image attached

![simulator screen shot - iphone 8 plus - 2018-02-27 at 11 53 50](https://user-images.githubusercontent.com/28585409/36713830-75fa3ca2-1bb5-11e8-8f17-5a1b16b45845.png)

[2018-02-28 12:08] tectonicpie commented on #152
Hi @ephread it would be very helpful if it were possible to place the coachmark above view it is highlighting. For example for a tableview or for any other view, that covers a large area of the screen, the ability to place the coach mark over the view itself would save a lot of trouble.

[2018-03-02 11:49] o15a3d4l11s2 commented on #156
Could you please share he code that you are using to highlight the exact tab bar item? Then I might be able to help you.

[2018-03-08 04:59] JustinBobo commented on #151
Just wanted to add that you can edit the font by setting the attributedText property as opposed to the text property. Example:

let nextString = NSMutableAttributedString()
nextString.appendRegular("Next", size: 14)
coachViews.bodyView.nextLabel.attributedText = nextString

@discardableResult func appendRegular(_ text: String, size: CGFloat) -> NSMutableAttributedString {
        guard let latoReg

[2018-03-12 10:54] zfrankz opened #157 "Possibility to override CoachMarksViewController.shouldAutorotate"
I've found an issue on my app when, in iPhone, the user rotates the device. The autorotation on my app is disabled for iPhone but enabled for iPad. `CoachMarksViewController` rotates the hint texts on iPhone. The only thing I can think about is to override `shouldAutorotate` property but, as this viewController is `fileprivate`, I can't access to it and do the job.

[2018-03-13 08:35] saketPandhare-Webonise opened #158 "How to change colour of selected box"
![simulator screen shot - iphone x - 2018-03-13 at 14 05 43](https://user-images.githubusercontent.com/22291207/37330627-b9ba4a6e-26c7-11e8-8613-b8fc5772566b.png)

 When I am selecting any hint , a coach is displayed which gives me information of particular
I want to change colour of selected box[the one for which coach displays the info and not coach box]
Currently its taking default background c

[2018-03-22 07:05] ephread commented on #158
Hi @saketPandhare-Webonise, you can't change the color, as it's not a border. What we have here is a cutout slightly larger than the element of interest. What you perceived as a border is merely the background.

[2018-03-22 07:42] #137 closed

[2018-03-23 08:40] pawankmrai commented on #158
@ephread can we customize the cutout with the custom view ?
I need to make following design, do you have any suggestion.
![cutout_ripple](https://user-images.githubusercontent.com/1921081/37819564-e4e1887c-2ea3-11e8-97a1-27b293d571e2.png)
?

[2018-03-23 23:41] ephread commented on #158
@pawankmrai Not really. You could hack something up, but it will be a bit difficult to achieve the effect, since you won't have access to Instructions' window. That means you'd have to make you own window, on top (ignoring the fact that it might sit above coachmarks), to hold the effect.

That won't be straighforward and you'd have to deal with rotations yourself.

As for the effect itself, you ca

[2018-03-23 23:44] ephread commented on #157
Hey @zfrankz, Instructions normally retrieves the value of `shouldAutorotate` from the controller on which you started it. Did you encounter a case where it doesn't work properly?

[2018-03-23 23:48] ephread commented on #79
I've never been able to reproduce the issue, I'm closing it for now. Feel free to reopen.

[2018-03-23 23:48] #79 closed

[2018-03-24 01:04] ephread commented on #116
[`swift3`](https://github.com/ephread/Instructions/tree/swift3) now provides a last version targeting iOS 8+ and Swift 3.2

[2018-03-24 01:04] #116 closed

[2018-03-24 01:04] ephread commented on #121
[`swift3`](https://github.com/ephread/Instructions/tree/swift3) now provides a last version targeting iOS 8+ and Swift 3.2

[2018-03-24 01:04] #121 closed

[2018-03-24 01:10] ephread commented on #150
@VanHoutte1337 I haven't been able to witness the issue, does it still happen as of 11.2.6 ?

[2018-03-24 01:12] ephread commented on #156
Thanks for your help @o15a3d4l11s2, since there hasn't been any update after your comment, I'm going to close the issue for now.

[2018-03-24 01:12] #156 closed

[2018-03-24 01:13] ephread commented on #152
@tectonicpie That's a good idea, I'll put that on the roadmap.

[2018-03-24 01:24] ephread commented on #146
@mgurnani The [_mixed_ example](https://github.com/ephread/Instructions/blob/master/Examples/Example/Source/Core/View%20Controllers/CustomViewController.swift#L79) shows a possible solution. You just have to set the `pointOfInterest` to a custom position.

I'm going to close the issue for now.

[2018-03-24 01:24] #146 closed

[2018-03-24 01:25] ephread commented on #145
Closing due to inactivity.

[2018-03-24 01:25] #145 closed

[2018-03-24 01:27] ephread commented on #148
Closing due to inactivity.

[2018-03-24 01:27] #148 closed

[2018-03-24 07:53] VanHoutte1337 commented on #150
I haven't seen it anymore since 11.2.6. I did check 11.2.5 and that version still gave me the bug.

[2018-04-11 14:25] o15a3d4l11s2 opened #160 "CoachMark misplaced on iPad"
The position of the shown CoachMark is incorrect for iPad (both portrait and landscape) is not correct. The arrow is shown at the centre, where it should be, but the dialog itself is dispositioned:
![simulator screen shot - ipad pro 10 5-inch - 2018-04-11 at 16 33 57](https://user-images.githubusercontent.com/934385/38622955-17a8d1a8-3dad-11e8-884f-50c85cfc8811.png)

You can use the attached demo

[2018-04-30 23:50] halolee commented on #90
I could replicate the same issue by quickly opening and closing ViewControllers.

Based on the stack trace, the crash line points to FlowManager:126 `self.coachMarksViewController.detachFromWindow()`, which is an indication of using a deallocated self reference.

Further on anfriis comment, I would propose to keep a weak self reference in the completionBlock instead of touching the unowned referen

[2018-05-04 10:14] wisnukurniawan opened #162 "How to make Body View width size constant?"
The body view width size is self-sizing by the content. How to make it not self-sizing?

[2018-05-05 07:42] o15a3d4l11s2 commented on #162
As it is self-sizing, you can just set constraint for the width of the inner view to a specific number. Then the self-sizing will just fit to your defined width.

[2018-05-14 14:32] wisnukurniawan commented on #162
Thank you for the answer, I have solved it

[2018-05-14 14:32] #162 closed

[2018-05-24 18:47] nekomeo opened #163 "Compiler Warning"
In CoachMarkBodyView ''weak' should not be applied to a property declaration in a protocol and will be disallowed in future versions'

[2018-05-27 04:35] ephread commented on #160
Hey @o15a3d4l11s2, thanks a lot for providing a sample, that's really helpful!

Sorry about that. The issue is that the layout engine is a bit dumb. It doesn't center the coach mark body around the arrow (more on that later). Rather, depending on the horizontal position of the `pointOfInterest`, the engine chooses a fixed place for the body (left, middle, right – it's a bit like text alignment). U

[2018-05-27 04:37] ephread commented on #163
Thanks for reporting the issue @nekomeo, that one's a quick fix!

[2018-05-27 11:45] ephread commented on #158
Closing due to inactivity.

[2018-05-27 11:45] #158 closed

[2018-05-27 11:46] ephread commented on #157
Closing due to inactivity, feel free to reopen.

[2018-05-27 11:46] #157 closed

[2018-05-27 11:47] ephread commented on #141
Closing due to inactivity, feel free to reopen.

[2018-05-27 11:47] #141 closed

[2018-05-27 11:54] o15a3d4l11s2 commented on #160
A proposal - I know it is not optimal, but what about adding a "fake" view with size 1x1, which is added on the pointOfInterest coordinates?

This way you can set constraints related to this "fake" element and centre the coachMark on it. Adding horizontal constraints to the superview will ensure that the coachMark will not go outside the container and therefore, the screen.

An example of my propo

[2018-05-27 11:59] #163 closed

[2018-05-28 10:00] roylly opened #165 "computeSegmentIndex to layout coachMarkView horizontally make me confused"
As i want to make the arrow orientation to support left and right，i read the source code seriously.  The complex layout code make me confused, why " Compute the segment index (for now the screen is separated in three horizontal areas and depending in which one the coach mark stand, it will be layed out in a different way."?  why not layout the coachMarkView around the cutout path frame and calcula

[2018-05-29 09:33] roylly opened #168 "add ornament for OverlayerView make a new bug!!"
the example of “transition from code” scene, the ‘tap me’ button can't fire. As hitTest always return ornaments View, and the touch event will send to overlayView, the window under InstructionsWindow can't get the event!
I have found a solution:[ https://github.com/ephread/Instructions/pull/167](url)

[2018-05-29 10:46] ephread commented on #165
One word : Legacy 😄

The layout engine was originally written in Objective-C and supported iOS 7. At the time I came across some significant hurdles† with Auto Layout and I chose a (conceptually simple) segment system instead of doing a multi-pass layout. It's definitely due for a revamp and I will tackle the issue soon.

† I no longer remember clearly what these hurdles were. Auto Layout had some

[2018-05-29 10:47] ephread commented on #160
That's an option, but I believe it'll break for points of interest that are very close to the edge of the screen. Unless you have really short text (in the case of text-only coach marks), you won't able to center the content around the arrow without ending up with a very short width and insane word/character wrapping. And I'm not certain constraint priorities would help (I haven't tested them with

[2018-05-29 10:54] ephread commented on #168
Good catch 👍. The feature is a bit experimental and I hadn't tested everything. I'll take a look at the PR as soon as possible.

[2018-05-29 11:25] schinj opened #169 "CoachMark is out of bounds if CoachMarkBodyView is created via a XIB."
I am creating a Custom view for the the Body view using xib.

In delegate function `func coachMarksController(_ coachMarksController: CoachMarksController, coachMarkViewsAt index: Int, madeFrom coachMark: CoachMark) -> (bodyView: CoachMarkBodyView, arrowView: CoachMarkArrowView?)`, I am creating the view from xib and returning that view in bodyView.

On running my application, I can see that the w

[2018-05-29 11:38] ephread commented on #169
Hey @schinj, thanks for reporting the issue.

Is Auto Layout breaking constraints? If so, could you paste the related console output here?

[2018-05-29 13:23] ephread commented on #90
It seems #161 fixes the issue.

@anfriis and @halolee, thanks a lot for working on this and fixing the issue!
I'm now going to close #99 that I left dangling for too long instead of investigating the issue 😓.

[2018-05-29 13:26] ephread commented on #130
Closing due to inactivity. Might be fixed as well when #160 and #152 will be fixed.

[2018-05-29 13:26] #130 closed

[2018-05-29 19:12] schinj commented on #169
Hi @ephread

Please find the console output below:
2018-05-30 00:39:42.660006+0530 [44631:754953] [LayoutConstraints] Unable to simultaneously satisfy constraints.
	Probably at least one of the constraints in the following list is one you don't want.
	Try this:
		(1) look at each constraint and try to figure out which you don't expect;
		(2) find the code that added the unwanted constraint or cons

[2018-05-30 02:37] ephread commented on #169
Looks like you need to set `translatesAutoresizingMaskIntoConstraints = false` on the views instantiated from the XIBs.

[2018-05-30 05:34] schinj commented on #169
Hi @ephread ,

Thanks for the suggestion. Now the view is visible, but I am having a margin on one side of the view. For the corresponding coachMark, I have set the horizontal margin to 0.

I am getting this log on console:
2018-05-30 11:04:16.800 [4313:3201583] Unable to simultaneously satisfy constraints.
	Probably at least one of the constraints in the following list is one you don't want.
	Try

[2018-05-30 10:38] ephread commented on #169
Could you provide me with a screenshot showing the issue?

[2018-05-30 12:32] schinj commented on #169
Yeah sure. Please find the attached screenshot.
![img_0613](https://user-images.githubusercontent.com/7895596/40720194-91e3c7d2-6433-11e8-89b0-5aa4087ef25a.PNG)

White area on the left side of the tip is what I am talking about.

[2018-05-31 02:38] roylly commented on #165
hi, i have finished the arrow orientation support left and right development, but don't make big change for the layout engine, just add new case for layout. And the arrowView isn't a UIImageView anymore, but a UIView,and draw the arrow according the orientation, so the “highlighted”  not work temporarily(i think that's not hard to fix).  While , i also add backgroundImageView var for interface of

[2018-05-31 03:44] ephread commented on #165
I've quickly glanced at your fork, it looks great, thanks for working on this!

I do nonetheless have a number of comment to make about the change, can you make a PR to the `layout-engine` branch that I just created, so we can discuss the changes there more easily?

On a side note, I'm going to write a `CONTRIBUTING.md` –which I never bothered to write before. It will make things easier, especiall

[2018-06-01 10:06] shadowsheep1 opened #170 "Installation instructions still point to 9.0 platform"
**Describe the bug**
You have updated the **README.md** requirements updating from *iOS 9+* to *iOS 10+* but the Installation instruction still have *9.0* platform.

Anyway: did you really have removed the iOS 9.0 support with the latest release? (I din't try your library yet)

![image](https://user-images.githubusercontent.com/16268789/40835498-e6887d76-6593-11e8-9950-68e0adda7138.png)

[2018-06-01 10:33] ephread commented on #170
Hi @shadowsheep1, that's a good catch!

I quietly allow iOS 9 for legacy reasons, since it I'm not using anything specific to iOS 10 & 11. Once iOS 12 comes out, I'll do the same thing for iOS 10. I don't state that Instructions supports iOS 9, because I simply don't want the burden of supporting a third major version. That means that if particular bugs are only encountered on iOS 9, I won't fix t

[2018-06-01 11:02] shadowsheep1 commented on #170
Gotcha!

Thanks for the very quick reply and this awesome library!

[2018-06-01 12:33] roylly commented on #165
ok, i have made a PR.

[2018-06-04 06:46] ephread commented on #134
Landed in 1.2.0.

[2018-06-04 06:46] #134 closed

[2018-06-04 06:57] ephread commented on #135
In 1.2.0, you can [configure ornaments](https://github.com/ephread/Instructions#customizing-ornaments-of-the-overlay).

I know it feels a bit hacky but `overlay.superview` is the view to which you should attach your gesture recognizer. In the future, I think I'll create a specific delegate which will handle the configuration of the overlay (gesture recognizer, custom animation, etc.), to make it m

[2018-06-04 06:57] #135 closed

[2018-06-04 06:58] ephread commented on #136
Landed in 1.2.0, see [Pausing and resuming the flow](https://github.com/ephread/Instructions#pausing-and-resuming-the-flow).

[2018-06-04 06:58] #136 closed

[2018-06-04 07:00] ephread commented on #140
Sorry for investigating this so late, I've haven't been able to reproduce the issue, is this still bothering you?

[2018-06-06 04:30] ephread commented on #150
Since we're now on 11.4, I believe we can consider that it was a slight bug on Apple's end. I'm going to close the issue, if you witness the problem again, don't hesitate to reopen the thread.

[2018-06-06 04:30] #150 closed

[2018-06-09 06:46] ephread commented on #101
I was never able to reproduce this crash. I am going to close it for now. Feel free to re-open if it occurs again.

[2018-06-09 06:46] #101 closed

[2018-06-09 06:59] #84 closed

[2018-06-11 22:56] cemolcay opened #173 "Coach marks in scroll view"
Hi,

I'm trying to show coach marks in a scrolling content.
I did try scroll the view willHide and didHide functions but everytime coach marks rendered out of bounds. Also, pausing and resuming the flow didn't work either.

Where should I update my scroll view's content offsets for rendering coach marks correctly?
Thanks.

[2018-06-12 05:08] hjo commented on #135
Unfortunately the overlayView is still not public even in 1.2.0?

[2018-06-14 17:05] Rovel opened #174 "Is didEndShowingBySkipping used for both end cases, by skip or last CoachMark?"
I want to change a users defalults bool after the instructions are finished or skipped

does `didEndShowingBySkipping` work for both? just evaluating the bool `skipped` ?

[2018-06-15 03:43] ephread commented on #173
Hey @cemolcay! I'm not sure I understood your issue correctly, but I'll try anyway.

You should indeed pause the flow, scroll, resume the flow, as shown [here](https://github.com/ephread/Instructions/blob/master/Examples/Example/Sources/Core/View%20Controllers/Delegate%20Examples/DelegateViewController.swift#L138). I don't think it's related to the out-of-bounds issue, though.

If you're using the

[2018-06-15 04:01] ephread commented on #174
Hi @Rovel, that's correct, it works for both, just the way you described.

[2018-06-15 05:10] ephread commented on #135
That's correct. After putting more thoughts into this, I don't want to expose `OverlayView`. The reasons are simple, the less I expose the internals, the less I have to be careful about backward compatibility when reworking them.

I honestly admit that I released 1.2.0 and forgot about this long lasting issue. I'm sorry for that.

That said, my previous comment holds true. The `OverlayView` is exp

[2018-06-15 05:11] ephread commented on #140
Closing due to inactivity, don't hesitate to reopen.

[2018-06-15 05:11] #140 closed

[2018-06-15 13:48] Rovel commented on #174
thanks @ephread I'm doing something like this, but I aint getting no print in my console with the following code, am I missing something? does it need something in the viewDidLoad?

[code]

[2018-06-15 14:32] ephread commented on #174
Other than setting the `delegate` property of `CoachMarkController` (and in your case, `skipview` as well, `skipView` as well), you don't need to anything else. Maybe you simply forgot to set the delegate, a careless mistake I've done a zillion time!

This example [file](https://github.com/ephread/Instructions/blob/master/Examples/Example/Sources/Core/View%20Controllers/Debug/TestFlowViewControlle

[2018-06-15 14:56] Rovel commented on #174
fixed! you were right, I was missing the `self.coachMarksController.delegate = self` in the viewDidLoad
Thanks 👊

[2018-06-15 14:56] #174 closed

[2018-06-16 13:42] o15a3d4l11s2 commented on #160
I checked both my real project and the demo project provided here and all works as expected.
When I initially tested the fixes there was an issue, but I noticed that you have made another fix since then and now everything is perfect.

Thank you for the library and the invested time and efforts!

[2018-06-16 18:29] projectevo commented on #169
Also having this issue on iPhone 7+, however on the iPhone X seems to be working fine:
![simulator screen shot - iphone 7 plus - 2018-06-16 at 11 27 09](https://user-images.githubusercontent.com/36873751/41501387-621a741a-7158-11e8-96f3-bb685882896a.png)

[2018-06-21 14:40] parmindersk commented on #140
hi @ephread I'm seeing this issue on my setup. I want to pause after the 3rd step. But the method shouldHandleOverlayTap never gets called.

`self.coachMarksController.delegate = self`

`func shouldHandleOverlayTap(in coachMarksController: CoachMarksController, at index: Int) -> Bool {
        if index == 2 {
            coachMarksController.flow.pause()
            return false
        }

[2018-06-23 04:03] ephread commented on #140
Hey @parmindersk, I've checked again and I couldn't reproduce the issue. The latest refactoring of the example project did uncover a possible issue, however. You wouldn't happen to implement`CoachmarksControllerController` in a class and override `shouldHandleOverlayTap` in one of its subclasses, would you?

[2018-06-23 11:15] parmindersk commented on #140
No. I've not overridden any methods.
On Sat, Jun 23, 2018 at 12:03 AM Frédéric Maquin <notifications@github.com>
wrote:

[2018-06-23 11:20] ephread commented on #169
Hey @projectevo, I don't think it's related. It looks like a safe area issue, which version are you using?

[2018-06-23 18:32] projectevo commented on #169
@ephread the latest version.
I was able to fix it by creating a dummy view with an alpha of 0 and userinteractionenabled set to false.

[2018-06-25 02:21] ephread commented on #169
@projectevo would be able to give `master`'s `HEAD` a try? I made some changes to the way Safe Areas are handled a couple of weeks ago, but I haven't made the release yet.

[2018-07-02 11:35] ephread commented on #160
@o15a3d4l11s2 Great, thanks for the kind words!

[2018-07-04 16:31] SMB47 opened #175 "Coachmark border?"
I must be missing something; how do I set the colour/width of the coachmark border, like in the screenshots? Thanks.

[2018-07-05 04:52] ephread commented on #175
Hi @SMB47!

If you are talking about the bubbles, you can't customize the default ones, you will have to provide custom views. (see [here](https://github.com/ephread/Instructions/issues/82#issuecomment-258210593)).

If you are talking about the cutout path, what may look like a border is actually the background showing through. The thickness of the perceived border can be changed by expanding or s

[2018-07-17 17:35] vermaanand opened #176 "CoachMark is showing on Wrong Position When scrolled the tableView."
I have added CoachMark on Multiple cell of tableView. hidden cell just scrolled on the top but the position of CoachMark showing on wrong cell.
Please help out. I'm not able to set right position of CoachMark on Scrolling TableView.

code is below:

[code]

[2018-07-18 04:18] ephread commented on #176
Hi @vermaanand, I see one issue which may be the culprit.

The following call:

[code]

will not scroll the table immediately, hence, all the code following that line will actually execute before the scroll is complete.

You've got a couple of options, you can wrap the `scrollToRow` call is a `CATansaction` with a completion block or you can wrap the scroll in a `UIView.animate`. Finally you can a

[2018-07-18 04:20] ephread commented on #173
For those stumbling into this issue, you may want to take a look at #176 as well.

[2018-07-18 05:33] vermaanand commented on #176
@ephread thanks but I'm not able to return coachMark inside the completion block.

[2018-07-18 05:49] vermaanand commented on #176
issue resolved @ephread  thanks

[2018-07-18 05:50] vermaanand commented on #176
Just Scroll TableView inside delegate.
    func coachMarksController(_ coachMarksController: CoachMarksController, willHide coachMark: CoachMark, at index: Int) {
}

[2018-07-18 06:05] ephread commented on #176
Great!

[2018-07-18 06:05] #176 closed

[2018-07-23 01:59] ephread commented on #31
@sl4m totally missed your comment it seems, sorry. The answer you seek is in the [fourth comment of this very thread](https://github.com/ephread/Instructions/issues/31#issuecomment-191788362).

I'm currently considering creating a FAQ, to which the README would be prominently link.

[2018-08-13 12:54] roylly opened #177 "set arrowOrientation,but coachMarkBodyView in a wrong position"
**Describe the bug**
[  public func coachMarksController(_ coachMarksController: CoachMarksController, coachMarkViewsAt index: Int, madeFrom coachMark: CoachMark) -> (bodyView: CoachMarkBodyView, arrowView: CoachMarkArrowView?) {
        var desc = ""
        switch index {
        case 0:
            desc = "点击这里，获得帮助"
        case 1:
            desc = "相机扫描数独区域，以AR的形式展示数独的答案"
        case 2:

[2018-08-14 23:35] nstele opened #178 "CoachMarker applied to tableViewCell returns wrong position"
**Describe the bug**
I've tried to apply the coach marker to a view that is inside a TableViewCell , for some reason for non iphone X phones doesn't work and for iphone X works perfect.

**To Reproduce**
[code]
**Expected behavior**

The coach marker should have the same position for any screen size
**Screenshots**
**Environment:**

 - Device: [e.g. iPhone X, iphone 7 plus, simulator]
 - iOS versi

[2018-08-15 04:16] ephread commented on #178
Hi @nstele, thanks for reporting the issue.

Looks a lot like a safe area issue. I pushed a possible fix to `master` a while ago, but I haven't release a new version yet. Would you be able to give `master`'s `HEAD` a try and tell me if the issue is still occurring?

You'll probably need to install Git LFS to be able to clone the repo and fetch the revisions after e3593609.

---

Possibly related t

[2018-08-15 12:09] nstele commented on #178
@ephread I'm using cocoapods, is posible to use cocoapods pointing to this commit?

[2018-08-15 12:55] nstele commented on #169
@projectevo did you solve the issue with iphone 7+?

[2018-08-15 13:57] ephread commented on #178
Yes, exactly the way you did. You don't need to point specifically to this specific commit though, it was just a heads up about git LFS.

Alright, so it's probably not related to the safe areas. Upon further inspection of your code, I noticed that you're creating `coachMarksController.helper.makeCoachMark(for: dashboardOptionsCell.wizardsView)` in `dequeueReusableCell` which is most likely called

[2018-08-15 14:45] ephread commented on #177
This bit:

[code]

doesn't set the orientation. It creates and returns the default views according to the provided parameters.

If you want the coach mark at index 3 to show under the cutout path, you should set:

[code]

in

[code]

In `makeDefaultCoachViews(withArrow:, arrowOrientation:, hintText:, nextText:)`, it's generally a good idea to pass `coachMark.arrowOrientation` rather than a literal

[2018-08-15 15:07] roylly commented on #177
thanks for your help，got it.

[2018-08-15 15:07] #177 closed

[2018-08-15 17:46] nstele commented on #178
@ephread is weird that works fine for iphone X

[2018-08-15 21:26] nstele commented on #178
I was able to solve the issue removing the creation of the CoachMark outside the method cellForRowAtIndexPath, maintaining a reference to the cell from my VC. Thanks

[2018-08-16 04:28] ephread commented on #178
Definitely weird, I don't know why.

Awesome, I'm glad to hear that!

[2018-08-16 04:28] #178 closed

[2018-08-16 13:31] paulsUsername opened #179 "index 0 beyond bounds for empty NSArray"
This item:
viewcontroller.coachMarksController(CoachMarksController, coachMarkAt : Int) -> CoachMark

is ending up causing a fatal error with this:
_ArrayBuffer_getElementSlowPath empty-list

information:
[__NSArray0 objectAtIndex:]: index 0 beyond bounds for empty NSArray

I am doing a bit of work inside the function that is ultimately crashing but its crashing right at 0. I can't seem to replica

[2018-08-17 03:39] ephread commented on #179
Hi @paulsUsername, thanks for reporting the issue.

I'm not sure I follow you. Where does the crash happen exactly, which array is empty? Can you post the full stack trace as well?

[2018-08-17 08:46] paulsUsername commented on #179
Honestly, I'm not 100% sure. I assume it means the array of CoachMarks. The number of coach marks is set like so, so I'm, not 100% sure why it would be returning empty:

func numberOfCoachMarks(for coachMarksController: CoachMarksController) -> Int {
        return 6
    }

Stack Trace:
Fatal Exception: NSRangeException
*** -[__NSArray0 objectAtIndex:]: index 0 beyond bounds for empty NSArray
0
Co

[2018-08-19 06:29] jams032 commented on #179
@paulsUsername , @ephread  , i am  also facing the same issue. In my case , it is crashing in the logging page while user doing nothing. And it shows the view (CalendarView.swift) which is not used before logging. Very strange!! Please let me know if you find anything.

Fatal Exception: NSRangeException
0  CoreFoundation                 0x181ba2d8c __exceptionPreprocess
1  libobjc.A.dylib

[2018-08-20 13:26] ephread commented on #179
@jams032 there is no mention of Instructions in your stack trace.

@paulsUsername I'm overall a bit confused, because it doesn't really seem to be related to Instructions. In the library, arrays are only used for layout constraints and even then, the arrays are not directly accessed, they are built and passed directly to UIKit.

I don't think there's any place where a range exception could happen.

[2018-08-28 14:13] yahmad commented on #78
@ephread I am trying to pass through events to views under the overlay - basically, don't want to block any user events. I noticed there seems to be code that allows passing events through (PassthroughView?), but can't see a flag or setting to tell it to do this.

Could you explain the best way to have the overlay pass all events through, similar to how `allowTouchInsideCutoutPath` works with the

[2018-09-06 04:56] ephread commented on #179
@paulsUsername any update on this?

[2018-09-07 08:04] ephread commented on #113
@robert-cronin: no updates, sadly. But if you're interested in making the PR, I can give you pointers! I believe it's fairly easy to add the feature.

[2018-09-09 12:38] robert-cronin commented on #113
@ephread I'd love to, I might use what @kientux has provided as inspiration for a new method of FlowManager if thats okay with everyone :)
I'll try and find time to submit PR this week if time and complexity permits!

[2018-09-12 22:57] ethanwa opened #181 "Instructions needs to be updated for Swift 4.2 compatibility."
Instructions needs to be updated for Swift 4.2 compatibility. I'm getting a request to convert to it in Xcode 10 GM and there are lots of changes it requests.

[2018-09-17 15:14] Derekhie commented on #181
Waiting for the same update. Thanks

[2018-09-18 02:09] ephread commented on #181
Hey @ethanwa and @Derekhie, Swift 4.2 support is available in the [`swift4`](https://github.com/ephread/Instructions/tree/swift4) branch, but it will likely not be merged into master before a while.

[2018-09-18 02:09] #181 closed

[2018-09-18 02:10] ephread commented on #179
I'm closing for now, feel free to open another issue if required.

[2018-09-18 02:10] #179 closed

[2018-09-18 14:39] Derekhie commented on #181
Thanks

[2018-09-21 11:23] paulsUsername opened #183 "Swift 4.2 update"
Is there any word on a swift 4.2 update?

[2018-09-21 12:33] ephread commented on #183
Hey @paulsUsername, please see #181, 4.2 support is available in the `swift4` branch.

[2018-09-21 12:33] #183 closed

[2018-09-21 15:26] paulsUsername opened #184 "Xcode 10 iOS 12"
ThIs build failing for me. I am experimenting and will get back if I achieve anything.

[2018-09-22 02:51] ephread commented on #184
If it's related to App Extensions, it's now fixed on `swift4`, sorry about that.

[2018-10-22 12:30] o15a3d4l11s2 commented on #160
@ephread , I could not find this included in a release. Could you please verify if it is released?

[2018-10-24 09:55] mouli457 opened #186 "Skip position change"
How can I set skip option on bottom?

[2018-10-28 15:00] Mattijah opened #187 "didHide delegate reports wrong indexes"
**Description:**
`coachMarksController:didHide` reports indexes from `1` not `0` as it correctly should. (`willHide` for instance does report indexes correctly).

**Additional details:**
Regarding the incorrect indexes I have also noticed that when starting flow from `UIViewController:viewWillTransition(to)` (which is triggered when orientation changes) `coachMarkViewsAt` delegate will either repo

[2018-11-01 17:16] Fawxy opened #189 "Coach Mark goes off screen for large views"
**Describe the bug**
The coach mark goes off the screen if it is displayed on a large view

**To Reproduce**
Create a large view with some copy and display a coach mark on it

**Expected behavior**
I would like the option to display the coach mark over the cutout if necessary

**Screenshots**
![simulator screen shot - iphone 8 - 2018-11-01 at 17 14 39](https://user-images.githubusercontent.com/982

[2018-11-08 01:48] ephread commented on #189
Hi @Fawxy, this can already be achieved by setting `displayOverCutoutPath` to `true`. It hasn't been released yet, but you can use `master` to get the feature.

[2018-11-08 01:50] ephread commented on #187
Hey @Mattijah , thanks for reporting the issue! It's been known for some time, but I haven't had the chance to fix it yet.

[2018-11-08 01:51] ephread commented on #186
Hey @mouli457, I don't understand what you're trying to achieve.

[2018-11-08 09:18] mouli457 commented on #186
I am using  skip option to stop the instructions, by default skip is displaying at right top (above the right bar button item),so I want change the skip button position.

[2018-11-08 09:46] ephread commented on #186
@mouli457 Alright, the answer is [here, in the README](https://github.com/ephread/Instructions#let-users-skip-the-tour). You need to implement:

[code]

[2018-11-10 06:42] mouli457 commented on #186
can you please  tell me how to change constraints values to change skip position?

[2018-11-10 06:45] mouli457 opened #190 "how to add instructions for bar button item?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. (e. g. I'm always frustrated when […])

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**

[2018-11-12 00:45] ephread commented on #186
Everything you need to know is in the README section that I've linked. Quoting:

[2018-11-12 00:45] #186 closed

[2018-11-12 00:51] ephread commented on #190
A [simple search](https://github.com/ephread/Instructions/issues?utf8=%E2%9C%93&q=UITabBar+OR+UINavigationBar+OR+UIBarButtonItem+) yields the answers you're looking for. #31 is good start.

[2018-11-12 00:51] #190 closed

[2018-11-16 08:33] vivek4292 commented on #160
Hi @ephread,
I'm facing the same issue of misplacement of coach mark on iPad. I'm using this library version 1.2.0 via Carthage. Please let me know where I can find the fixes for this issue.

Thanks

[2018-11-16 09:36] o15a3d4l11s2 commented on #160
@vivek4292 , as I see the fix it not merged into any released version. I was hoping to get response from @ephread, who was very kind to do the fix and I tested it, but unfortunately it seems he is quite busy at the moment. Hope to get the issue resolved soon.

[2018-11-16 10:44] vivek4292 commented on #160
Thanks, @o15a3d4l11s2  for letting me know. I Hope @ephread will respond us soon.

[2018-11-28 18:48] cmcgheit commented on #189
any plans for the release? When I try to use the master branch with cocoapods (pod 'Instructions', :git => 'https://github.com/ephread/Instructions, :branch => 'master'), it doesn't update the pod correctly (reference to this issue here: https://github.com/ephread/Instructions/pull/180) The coach mark is off the screen, no matter if I set the orientation to .top or .bottom

[2018-11-30 08:11] gsoykan commented on #82
Hi! What you can do is adding a view below to hint layer and change this newly created views background. Although it would be great to have a default method for changing the backgrounds color, I know it is a image view but still should be possible. Best.

[2018-12-10 22:19] ajRiverav opened #191 "Missing ConfigurationChange.swift in 1.2.0"
**Describe the bug**
In 1.2.0, when using ConfigurationChange, I get a "Use of undeclared type 'ConfigurationChange'" error.  I cannot run any code that uses Sources/Instructions/Protocols and Enums/Public/Enums/ConfigurationChange.swift because it does not seem to exist.

**To Reproduce**
Install 1.2.0 with Podfile (pod install). File will not exist.

**Expected behavior**
I would expect to have

[2018-12-10 23:35] ajRiverav commented on #191
In the end, what I am trying to do is my own version of `https://github.com/ephread/Instructions/blob/1.2.2/Examples/Example/Sources/Core/View%20Controllers/Delegate%20Examples/PausingCodeViewController.swift`, especially, overriding func ```
coachMarksController(_ coachMarksController: CoachMarksController,
                                       willShow coachMark: inout CoachMark,

[2018-12-11 00:28] #184 closed, assigned to nobody

[2018-12-13 01:56] Dragonspell99 opened #192 "Swift 4.2 Compiler Error when Archiving for release to App Store."
**Describe the bug**
When archiving my project for a release to the App Store, I receive the following error (I'm only including a portion of it here for brevity):
[code]

**Additional context**
Per issue #181, I tried using the `swift4` branch as follows (excerpt from my Podfile):
[code]

I cleaned the build folder before recompiling and I'm still getting the above error.

Any help would be great

[2018-12-19 22:40] astrokin commented on #192
I've faced with this issue too

[2018-12-19 23:00] astrokin commented on #192
I've multiple target Xcode project and noticed that one target finally can be archived for the AppStore. And the only difference was `SWIFT_OPTIMIZATION_LEVEL`

change from *Optimize for Speed:* to *Optimize for Size:* make it works

[2018-12-21 01:10] Dragonspell99 commented on #192
@astrokin A thousand thanks for your answer! I can't believe it but your suggestion helped and I was finally able to submit the app. I looked everywhere and tried all kinds of things to get it to work.

I have to ask: how did you find this solution to the problem? I would never have thought of changing compiler optimizations based on the error information.

[2018-12-21 01:10] #192 closed

[2018-12-24 08:08] eliekarouz commented on #84
Hey @ephread,

I am bringing this up again because we really need it. Two years ago, I forked the repo last time and did some changes but they weren't that clean (at least to put it back in the main repo). What I actually did is took a snapshot of the title view and add it to the overlay view at the same position of the main title view. I had to hide the title view of the main screen because the i

[2018-12-24 13:16] astrokin commented on #192
I was lucky to change SWIFT_OPTIMIZATION_LEVEL because had a lot of headaches before. This project settings is very powerful and can do massive transformation of your code under the hood.

[2018-12-24 13:51] ephread commented on #84
@eliekarouz I believe you can achieve something similar as of 1.2.2, just use the [`viewController`](https://github.com/ephread/Instructions#presentation-context) presentation context and Instructions should be added to `UIViewController.view`. Be careful to not change the existing hierarchy too much while the coach marks are displayed though.

[2018-12-24 15:02] ephread commented on #192
@Dragonspell99 That's really peculiar, I'll check if I can reproduce the issue but it really looks like a bug in the toolchain rather than an issue with Instructions.

@astrokin I'm glad you jumped in and offered a workaround, thanks a lot!

[2018-12-25 10:09] kennenfromchina commented on #110
perfect!

[2018-12-25 19:39] eliekarouz commented on #84
But I think that the whole navigation bar including the bar items will not be covered by the overlay.

[2018-12-29 19:16] RaulOlmedoCheca commented on #187
The Dispatch.async solution provided by @Mattijah also solves another problem that I don't know if its considered a related bug:

The function `coachMarksController::willHide` is executed after `coachMarksController::coachMarkAt`. Is this intentional? If the answer is no, I'll be happy to open a separated issue.

[2019-01-15 20:42] ajRiverav opened #193 "Add centered text"
**Is your feature request related to a problem? Please describe.**
Add a setting to use centered text as opposed to justified because the latter sometimes displays odd-looking spaced text.

[2019-01-21 19:33] mingsai commented on #130
@ephread - Just saw this on my app where I am working on a view near the bottom of the UI. I will look into forcing arrow direction. Not seeing how to in the directions. This happened with the latest build as I just downloaded today.

[2019-01-21 20:30] mingsai opened #194 "Edge-case where CoachMark is out of bounds"
**Describe the bug**
In some edge cases, the Instruction view appears outside of the screen bounds.

**To Reproduce**
Enclose a container view within a UIView (make it near the bottom of the screen)

**Expected behavior**
Instruction view should appear within screen bounds by default

**Screenshots**
See the video - https://youtu.be/IHgW8DuGLn8

**Environment:**
 - Device: iPhone 6s Plus
 - iOS ve

[2019-01-21 20:37] mingsai commented on #194
Since I can get a reference to the calling UIView where I see this issue, it seems like a good solution might be to instruct the controller to output a CoachMark above the view in this case. Not seeing how to do that explicitly. I will double check the samples in search of a solution. Grateful for any input.

[2019-01-22 05:32] vgvishesh23113 commented on #111
i am trying to add multiple coach marks but the frame displayed is only the last one?
i will post a link to my question on stackoverflow . Could anyone provide some insights ? Maybe I am doing something wrong?
https://stackoverflow.com/questions/54290193/ios-swift-coach-marks-walk-through-instructions-misbehaving?noredirect=1#comment95403457_54290193

[2019-01-22 05:38] vgvishesh23113 commented on #111
and is it possible to add coach marks on an action, for example i want user to tap on a button and then add a coach mark on the new view? or something along those lines?

[2019-01-22 05:50] ephread commented on #111
@vgvishesh23113 please open a brand new issue for the problem you're having, I'll try to help you there.

[2019-01-22 06:47] vgvishesh23113 commented on #111
ok

[2019-01-22 06:51] vgvishesh23113 opened #195 "Coach marks showing only last frame ?"
**Describe the bug**
i am trying to add multiple coach marks but the frame displayed is only the last one?
i will post a link to my question on stackoverflow . Could anyone provide some insights ? Maybe I am doing something wrong?

https://stackoverflow.com/questions/54290193/ios-swift-coach-marks-walk-through-instructions-misbehaving?noredirect=1#comment95403457_54290193

and is it possible to ad

[2019-01-22 08:53] ephread commented on #195
Thanks for creating the issue @vgvishesh23113. I don't understand what you're trying to do. Here are some pointers, though:

1. Instructions doesn't support displaying multiple coach marks at once.
2. You need to provide frames by returning a `CoachMark` in the appropriate `dataSource` method (specifically `coachMarksController(_:,index:) -> CoachMark`), you can't provide them it in a declarative

[2019-01-22 09:07] mingsai commented on #194
For anyone else following. Here is my solution. Added a tag to the problematic view and changed arrowOrientation for this edge-case. I guess I could also use frame logic to classify the location. Best of all would be if I could just use CoreGeometry methods to determine when the cm frame is offscreen and adjust based on that... I'll look into it further.

[code]

[2019-01-22 09:07] #194 closed

[2019-01-22 09:08] ephread commented on #194
Hey @mingsai, thanks for opening the issue. And thanks for the video, it's appreciated!

It's similar in nature to #152, which is referenced in #130. As you suspect, it's a rather complex edge case. The engine layout could certainly be improved to handle all these edge cases, but I'm not sure it's worth the effort. These cases are all variations of the same thing: a view with its origin in the upp

[2019-01-22 09:30] vgvishesh23113 commented on #195
if i cant change the frame in viewdidLoad then what shall be approach to declare the series of frame where coach mark should be present

[2019-01-22 09:44] ephread commented on #195
It can, that's actually the purpose of the library.

You should implement the appropriate methods in `dataSource`, as explained in this [section](https://github.com/ephread/Instructions#data-source) of the README, or shown in the default example. [Here for the default example](https://github.com/ephread/Instructions/blob/master/Examples/Example/Sources/Core/View%20Controllers/Basic%20Examples/Defa

[2019-01-24 18:52] #193 closed

[2019-01-24 18:52] ajRiverav commented on #193
Missed that.
Thx.

[2019-01-29 01:31] ephread commented on #191
Closing due to inactivity.

[2019-01-29 01:31] #191 closed

[2019-01-29 10:24] #195 closed

[2019-01-30 06:52] vgvishesh23113 commented on #41
how would a coach mark be added to a part of a custom UITABLEVIEWCELL?

[2019-01-30 08:32] YassineDaoudi opened #196 "Displaying instructions each time i change VC"
Hi guys, @ephread is there a way to prevent instructions from being displayed each time i change the ViewController, thanks in advance.

[2019-01-30 09:41] #196 closed

[2019-01-30 09:48] YassineDaoudi commented on #196
Added a bool property in viewDidAppear:
`override func viewDidAppear(_ animated: Bool) {
        super.viewDidAppear(animated)
        if instructionStatus == true {
            self.coachMarksController.start(in: .window(over: self))
        }
}`

and set it to false once the walkthrough completed :

`  override func viewWillDisappear(_ animated: Bool) {
        super.viewWillDisappear(animated)

[2019-01-30 10:55] YassineDaoudi commented on #41
@vgvishesh23113, you can proceed this way :
`coachMark =  coachMarksController.helper.makeCoachMark(for: self.tableView.cellForRow(at: IndexPath(row: 0, section: 0)))`

[2019-02-01 14:18] freedoom1984 opened #197 "While deserializing SIL vtable for 'OverlayManager' in module 'Instructions' error: Abort trap: 6"
2.	While running pass #1233573 SILFunctionTransform "SpeculativeDevirtualization" on SILFunction "@$S8AppName24MainAlbumsViewControllerC11viewDidLoadyyF".
 for 'viewDidLoad()' /AppName/AppName/Classes/ViewControllers/Albums/MainAlbumsViewController.swift:64:11
3.	While deserializing SIL vtable for 'OverlayManager' in module 'Instructions'
error: Abort trap: 6

If I remove the setup overlay, the er

[2019-02-02 02:48] ephread commented on #197
Hi @freedoom1984, it looks like a bug in the toolchain, rather than issue in Instructions.

You can try out the usual steps:

- Cleaning the project
- Deleting the derived data
- Restarting Xcode.

Additionally, changing the optimization level of the compiler is usually a good temporary workaround.

[2019-02-02 19:16] freedoom1984 commented on #197
I solved.
- removed the Arm7 support
- optimization None
- converted the project to swift4.2

Thanks ;)

[2019-02-13 09:32] sandman4sure opened #198 "start(on:) is deprecated, unable to use start(in:)"
I get a deprecation warning when I use `coachMarksController.start(on:)` saying to use `start(in:)`

Problem is I can not use that function, it is not added to the autocomplete, probably because I can not use PresentationContext:
`Use of unresolved identifier 'PresentationContext'`

I have added Instructions to my project using cocoa pods as described in your readme.

[2019-02-13 09:44] ephread commented on #198
Hi @sandman4sure, are you using the latest version (1.2.2)? Did you use Carthage / CocoaPods or added the framework manually?

[2019-02-13 09:49] sandman4sure commented on #198
Yes, I am using 1.2.2 and use CocoaPods for adding it:

[code]

[2019-02-13 10:10] ephread commented on #198
I can reproduce the issue. That's a strange one, the files are present in the `Pods/` directory, but somehow not included in the build. Sorry about that, I'm going on a trip tomorrow morning and probably won't be able to investigate before at least two weeks.

[2019-02-13 10:11] sandman4sure commented on #198
No problem, glad you can reproduce it.

[2019-02-20 05:44] sulaiman-mlbd opened #199 "How to make coach mark for UITabBarItem??"

[2019-02-20 07:39] ephread commented on #199
A [simple search](https://github.com/ephread/Instructions/issues?utf8=%E2%9C%93&q=UITabBar+OR+UINavigationBar+OR+UIBarButtonItem+) yields the answers you're looking for. #31 is good start.

[2019-02-20 07:39] #199 closed

[2019-02-25 07:17] sulaiman-mlbd opened #200 "Is there any way to show custom view on top the view for which instruction is showing??"
I am adding a screenshot for explanation .
![screenshot 2019-02-25 at 1 16 46 pm](https://user-images.githubusercontent.com/47207931/53320374-b66e2b00-38ff-11e9-8824-74c964b7323a.png)

[2019-02-25 11:18] subhadeep-pal commented on #198
Is this resolved yet?

[2019-03-03 03:21] ephread commented on #200
Hey @sulaiman-mlbd, you can use ornaments, see [here](https://github.com/ephread/Instructions#customizing-ornaments-of-the-overlay). Just add your view with the appropriate constraints and it should appear along with the overlay.

[2019-03-03 05:37] ephread commented on #198
As expected, the reasons for this issue are somewhat unclear. It seems that the compiler gets confused by `PresentationContext.newWindow` having a `UIWindow.Level?` associated object. If you remove it or replace it by another type, compilation goes through successfully.

It's a very peculiar _bug_, that seems to happen only with CocoaPods. I don't believe it's an issue with the packagae manager th

[2019-03-03 06:49] ephread commented on #198
@sandman4sure & @subhadeep-pal, can you confirm that `1.2.2-workaround` works for you?

[code]

Also, see [here](https://github.com/ephread/Instructions/tree/1.2.2-workaround#%EF%B8%8F-cocoapods-users).

[2019-03-04 13:57] sandman4sure commented on #198
Yes, that one seems to work.
Will this stay on the workaround branch?

[2019-03-04 21:01] BeechMachine commented on #198
Watching this hopefully...

[2019-03-05 12:52] ephread commented on #198
@sandman4sure for now, until I can investigate more. I'll make a special pod release and update the README on `master` when I get the chance though.

[2019-03-12 03:32] rgkobashi commented on #198
Hi,
I am having this same problem but downloading this pod from `1.2.2-workaround` is not working for me. I am getting `Failed to download Instructions` when running `pod install`. Did someone have this problem? This is the full output I am getting when running on verbose mode.
[code]
Thanks in advance.

[2019-03-12 08:24] ephread commented on #198
@rgkobashi: awkward, git throws no error. Do you have Git LFS installed?

[2019-03-15 09:00] rgkobashi commented on #198
oooh, maybe is because of that 😅 I dont have it installed.
Thanks for your reply!

[2019-03-27 10:54] YassineDaoudi commented on #198
still got the same error as @rgkobashi even after installing Git LFS

`Analyzing dependencies
Pre-downloading: `Instructions` from `https://github.com/ephread/Instructions.git`, tag `1.2.2-workaround`
[!] Failed to download 'Instructions'.`

[2019-03-27 20:55] ephread commented on #198
@YassineDaoudi, @rgkobashi, I can't reproduce the issue you're both having.

BUT, it appears that Swift 5 fixes the issue, so the workaround is no longer needed. Swift 5 being largely compatible with Swift 4, CocoaPods should not complain if you're importing Swift 4 code into a Swift 5 project (and vice-versa).

[2019-03-29 13:31] innoreq opened #201 "Value of type 'OverlayManager' has no member 'windowLevel'"
**Describe the bug**
Building on Xcode 10.1 / Swift 4.2 fails with three errors "Value of type 'OverlayManager' has no member 'windowLevel'".

**To Reproduce**
I cloned 1.2.2-workaround locally, as using Cocoapods throws much more errors. There is an additional warning "start(on:) was dprecated in iOS 1.2.1: use start(in:) instead.".

The calls for
[code]
lead to that error.

**Expected behavior**

[2019-03-29 13:56] innoreq commented on #201
Got it fixed - the start-call was outdated. Fixed that, and now everything builds. However, it's still not possible to succeed in building when using Cocoapods.

[2019-03-29 17:59] thejbix opened #202 "Carthage update Issue"
Trying to update to Instructions version to 1.2.2 using Carthage.  The checkout fails returning this error. It may be worth noting this started occurring after updating Xcode to version 10.2 with the Swift 5.0 release
`A shell task (/usr/bin/env git clone --quiet https://github.com/ephread/InstructionsSnapshots.git /Users/user_name/Documents/.../Carthage/Checkouts/Instructions/Examples/Example/Sna

[2019-03-29 20:18] ephread commented on #202
Hi @thejbix, you don't have [Git LFS](https://git-lfs.github.com/) installed. It's required because of the submodule storing the snapshot tests and sadly, there's no way to tell Carthage to ignore submodules.

[2019-03-29 20:37] ephread commented on #201
Yeah, Instructions issues warnings for deprecated things, even for unexposed calls. That's because I need to mark certain properties and methods as deprecated, so that developers will know they have to use the new properties/methods. The side effect is that, if I'm to keep deprecated stuff working during the transition phase, I need to call them from inside the library, hence the warnings.

If you

[2019-03-31 21:27] ephread commented on #113
Closing, since it was implemented by #182.

[2019-03-31 21:27] #113 closed

[2019-03-31 21:28] ephread commented on #200
Closing due to inactivity.

[2019-03-31 21:28] #200 closed

[2019-03-31 21:47] #187 closed

[2019-04-01 17:32] thejbix commented on #202
Great, that resolved my issue.

Thanks

[2019-04-04 13:12] ARamy23 commented on #169
@ephread I'm also facing this problem on the iPhone 6S+
is there anything new regarding this issue?

[2019-04-04 20:27] ephread commented on #169
@ARamy23 I've been unable to reproduce the issue; can you provide me with a simple project in which you're facing the problem?

[2019-04-05 14:30] YassineDaoudi commented on #198
@ephread Sorry to disappoint you but even in swift 5 it isn't working :/

[2019-04-05 14:33] YassineDaoudi commented on #198
`Analyzing dependencies
[!] CocoaPods could not find compatible versions for pod "Instructions":
  In Podfile:
    Instructions (~> 1.2.2)

None of your spec sources contain a spec satisfying the dependency: `Instructions (~> 1.2.2)`.

You have either:
 * out-of-date source repos which you can update with `pod repo update` or with `pod install --repo-update`.
 * mistyped the name or version.
 * no

[2019-04-10 13:42] PLSV commented on #200
Hey @ephread : It would be great if we could have an example of how to use `configureOrnamentsOfOverlay`. Please let me know if it is possible. Looking forward to hearing back.
Thanks

[2019-04-17 11:53] ARamy23 commented on #169
@ephread thanks and sorry for the late reply
I managed to find the problem and solving it
the bodyView was out of place for me because the width i've given it was bigger than the UIScreen's bounds
which resulted in it to go out of bounds, once i made the width suitable for different screen sizes (using a simple math actually since i couldn't handle it with constraints)
it appeared just fine 👍

sad

[2019-04-23 02:10] k0mach1 commented on #144
@ephread
I also face the same problem...
Do you have a plan to fix this in recent?

[2019-04-23 04:06] igormuba opened #203 "Is there a way to set the whole view as a "next" button?"
I find it a bit unintuitive that the user should tap the coachMark to go to the next instruction. I have found [this piece of code on the examples](https://github.com/ephread/Instructions/blob/master/Sources/Instructions/Extra/Default%20Views/CoachMarkBodyDefaultView.swift) that seems to implement something to personalize where to click to skip, but couldn't replicate. I can inherit "CoachMarkBody

[2019-04-23 05:26] k0mach1 commented on #203
Hi, maybe I can help you.

All you have to do is very simple, just write

[code]

before calling **coachMarksController.start** in your ViewController.

[2019-04-23 05:26] k0mach1 commented on #203
@igormuba
Hi, maybe I can help you.

All you have to do is very simple, just write

[code]

before calling **coachMarksController.start** in your ViewController.

[2019-04-23 14:08] #203 closed

[2019-04-30 18:24] kallipigous opened #205 "Coachmarksplaced behind notch in landscape app on iphone x."
When I use instructions on a landscape app, coachmarks are sometimes place with reference to the whole window not the safe area that takes into account the notch.

[2019-05-01 15:46] AdamM-FC opened #206 "Several warnings still showing"
I have downloaded the latest version of Instructions and I can see there are 5 warnings regarding deprecations. See screenshot. Will there be a new release soon to resolve these warnings?

**Screenshots**
![Screenshot 2019-05-01 at 16 39 50](https://user-images.githubusercontent.com/49152817/57025750-f7502c00-6c2f-11e9-9cd2-7f9c119ef2ed.png)

[2019-05-02 09:07] ephread commented on #206
Hi @AdamM-FC, per #201:

If you use Carthage, I'm not certain there's a way to inhibit these warnings, sadly.

[2019-05-03 11:24] AdamM-FC commented on #206
Ah okay, thanks for the info

[2019-05-03 11:24] #206 closed

[2019-05-04 10:09] ephread commented on #198
Seems fixed, so I'm closing the issue.

[2019-05-04 10:09] #198 closed

[2019-05-04 10:10] #202 closed

[2019-05-06 08:59] silviagaluzzi opened #207 "Carthage update issue"
Hi, I'm having this error running carthage update:

A shell task (/usr/bin/env git fetch --prune --quiet https://github.com/ephread/Instructions.git refs/tags/*:refs/tags/* +refs/heads/*:refs/heads/* (launched in /Users/GALSIV/Library/Caches/org.carthage.CarthageKit/dependencies/Instructions)) failed with exit code 1

when I tried last time (a couple of days ago) everything was ok, and nothing cha

[2019-05-06 20:20] bryan1anderson opened #208 "Position the body view to the right or left"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. (e. g. I'm always frustrated when […])
There are several old issues that mention plans to include left and right. There is a pull request that did this. This does not exist. This is very frustrating. This is basic functionality
**Describe the solution you'd like**

Allow posit

[2019-05-06 21:41] ephread commented on #208
As said on #172, low priority. See #165 for the rationals.

[2019-05-06 21:43] ephread commented on #207
Hey @silviagaluzzi, that's strange. Would you be able to provide the full section of the Carthage log, dealing with the build of Instructions? It's a bit hard to know what's going on here.

[2019-05-07 09:01] silviagaluzzi commented on #207
Hi, I can't send you the log because it's not a build failure, it's a checkout/fetch error
It doesn't get to building the framework, it stops when fetching it from github

As I wrote it's strange because we are using Instructions for a long time and we never had this problem.

thank you!

[2019-05-07 09:21] silviagaluzzi commented on #207
I fixed following this:

https://stackoverflow.com/questions/45504896/how-to-clear-carthage-cache

ty for your attention!

[2019-05-08 06:29] ephread commented on #207
Awesome, I'm glad you solved the issue!

[2019-05-08 06:29] #207 closed

[2019-05-10 10:27] WhiteEagleEye opened #209 "start(in:) unable to use with uiviewcontroller in Objective c"
**Describe the bug**

I have integrated library manually in my Objective c project(By CocoaPods I'm facing issue with existing libraries if enable use_framework in CocoaPods) as instructed in GitHub.  I'm unable to send view controller object in start method

**To Reproduce**
    init(parentViewController viewController: UIViewController) {
        self.viewController = viewController
    }

    f

[2019-05-10 10:50] WhiteEagleEye opened #210 "Could not find module 'Instructions' for architecture 'i386'; found: x86_64"
**Describe the bug**

I'm added Instructions manually by following given steps but it is saying "Could not find module 'Instructions' for architecture 'i386'; found: x86_64"

Xcode 10.2.1

[2019-05-10 19:59] ephread commented on #209
Hey @WhiteEagleEye, when calling start(in:) you need to provide a `PresentationContext`.

This:

[code]

is probably what you want.

[2019-05-10 20:04] ephread commented on #210
I'm going to need more information to help you. Where does this error message appear, in the build log? Does Instructions.framework build correctly in the first place?

[2019-05-10 21:30] ephread commented on #201
Closing due to inactivity.

[2019-05-10 21:30] #201 closed

[2019-05-10 21:31] ephread commented on #205
Hi @kallipigous, would you be able to set up a sample project demonstrating the issue? Perhaps it's related to #169?

[2019-05-11 07:39] kallipigous commented on #205
I’m out of the country for a bit but I’ll try and do so on my return. I temporarily fixed it by making the coachmark thinner.

Sent from my iPhone

[2019-05-12 05:08] anushkmittal commented on #198
@ephread is there a workaround for Swift 4.2 not throwing this warning?

[2019-05-12 06:37] ephread commented on #198
@anushkmittal I'm not sure I understand what your question is, can you elaborate?

[2019-05-13 10:45] WhiteEagleEye commented on #209
Thanks here I'm facing a new issue, in my UIViewController where I'm creating swift class object its not showing **initWithParentViewController**

![Screenshot 2019-05-13 at 4 14 36 PM](https://user-images.githubusercontent.com/50320988/57615848-58fe8780-759a-11e9-946a-930371b9882a.png)
![Screenshot 2019-05-13 at 4 14 45 PM](https://user-images.githubusercontent.com/50320988/57615849-59971e00-759a

[2019-05-13 10:47] WhiteEagleEye commented on #210
I'm able to resolve this issue by making Build Active Architecture Only NO for both debug and release

[2019-05-13 10:47] #210 closed

[2019-05-13 10:59] anushkmittal commented on #198
my project is on swift version 4.2 so i see that warning.

i understand swift 5 has it fixed but if there was a workaround to get rid of it on a 4.2 project

[2019-05-13 19:54] ephread commented on #198
If you're talking about the deprecation warning, you just have to use `start(in:)` instead of `start(on:)`, but this warning has nothing to do with the Swift version, you'd have it with either version of Swift.

If you're talking about the toolchain bug with CocoaPods, you can use the `1.2.2-workaround` branch.

I'm a bit confused as to what your question is exactly.

[2019-05-14 11:31] WhiteEagleEye commented on #209
![Screenshot 2019-05-14 at 5 00 06 PM](https://user-images.githubusercontent.com/50320988/57694624-dba24800-7669-11e9-84ce-60ffc09777c0.png)

I'm getting above error

[2019-05-20 09:22] rhkrthdud7 commented on #198
So if I understood correctly for people who are having a warning while using this library the right way, for swift 5 projects it is fixed so you won't see one and on the other side for below swift 5 projects you can use the workaround branch. Am I right?

[2019-05-21 11:30] narendra-ct opened #211 "Not able to download the latest version (1.3.1) by pod install"
Hello,
I tried to install by pod 'Instructions', '~> 1.3.1' , but throwing error on pod install and if try with pod 'Instructions' , downloading 1.2.2 version.  Attached screenshot.
![Screen Shot 2019-05-21 at 4 58 00 PM](https://user-images.githubusercontent.com/5906472/58092523-f0db2180-7be9-11e9-9f98-7a839bc0c977.png)

[2019-05-22 02:45] ephread commented on #211
Hey @narendra-ct, have you tried to update your local spec?
Either through `pod repo update` or `pod install --repo-update`.

1.3.1 has been [pushed to the master repo](https://cocoapods.org/pods/Instructions).

[2019-05-22 05:17] narendra-ct commented on #211
@ephread, My bad, it works after pod repo update.
Thanks.

[2019-05-22 05:17] #211 closed

[2019-05-25 22:26] ephread commented on #209
@WhiteEagleEye are you using CocoaPods with Xcode 10.1 and a Swift 4 toolchain?

If that's the case, see #198.

[2019-06-03 10:36] dharmendra-ios commented on #111
Hi @ephread, Could you please tell me how to move up coach mark view when keyboard appear on textField.

[2019-06-04 08:42] ephread commented on #111
@dharmendra-ios, it's probably easier to pause the flow and hide the Coach Mark, wait for the keyboard animation to complete and restore/show the same coachmark again. You can take a look at [this example](https://github.com/ephread/Instructions/blob/master/Examples/Example/Sources/Core/View%20Controllers/Delegate%20Examples/KeyboardViewController.swift), or [that example](https://github.com/ephre

[2019-06-05 15:10] simonpac commented on #200
@PLSV

First you would have to set the delegate (just as you set the dataSource) and then you would do something like this.

[code]

Like @ephread said, you can add constraints to show the subview properly on top of the overlay

[2019-06-07 00:13] chamitha opened #212 "Remove Overlay"
Hi there. Is there a way to configure the framework to not add an overlay? I know I can set the overlay background colour to clear visually mimic this but not including it in the first place would be preferred. Thanks!

[2019-06-25 07:54] ephread commented on #212
Hey @chamitha, sorry for the late response. Sadly, it's not at the moment. Are you trying to achieve something in particular?

[2019-06-25 08:27] chamitha commented on #212
Thanks @ephread for the reply. I was hoping to maintain the screen as active and responsive whilst the popover is displayed so the user is not forced to dismiss it before continuing the use the screen. This is the behaviour in the YouTube app for example where the popover behaves like a tooltip and the screen is fully responsive. Granted there will be some complexity dismissing the popover when th

[2019-06-28 21:52] fpang0502 opened #213 "Change coachMarks on second visit"
I have the coach marks working for the first visit to a screen. I was wondering how I would supply data that would change the coach marks being shown on the second visit to a screen?

[2019-06-29 00:11] fpang0502 commented on #213
Just kidding, got it working haha

[2019-06-29 00:55] ephread commented on #212
Alright, good point; I'll add a new flag in the next version to let the overlay be non blocking; you'll be able to achieve what you want by setting the overlay's color to `.clear` and setting that new flag to `true`.

[2019-06-29 05:22] chamitha commented on #212
Perfect, thanks.

[2019-08-08 06:37] amolnikam opened #214 "How to add instructions Coach Mark on UINavigationBar item"

[2019-08-11 22:49] chamitha commented on #212
Hi @ephread. Any update on this? I can give it a go if you haven't already started on it.

[2019-08-20 15:06] h36ahmed opened #215 "iPhone XS Max positioning bug"
**Describe the bug**
iPhone XS Max - the positioning of the body view is off. It's not centered properly as expected. All other device screen sizes work perfectly. Its off by -10px.

**To Reproduce**
Create some views in views controller and run iphone xs max on simulator.

**Expected behavior**
The cutouts need to be precise without adjusting manually.

**Screenshots**
![image](https://user-image

[2019-08-29 06:11] noumantariq008 commented on #212
Hi @ephread. Any update on this?
I wanted to achieve the same thing.

[2019-09-06 19:40] tarun885 opened #216 "Custom Cutout View"
**Custom Cutout View**
How can i create a cutout view shown as below image?

<img width="127" alt="Screenshot 2019-09-07 at 1 07 43 AM" src="https://user-images.githubusercontent.com/25946509/64455730-04b08200-d10c-11e9-8dde-7286a3ba0a95.png">

[2019-09-10 21:55] Hirobreak opened #217 "Unable to install version 1.3.1 with Carthage"
**Describe the bug**
I'm using carthage to integrate Instructions within my project, suddenly when I made `carthage update Instructions --platform iOS` I get the following error:

`
Smudge error: Error downloading ReferenceImages_64/InstructionsSnapshotTests.DefaultExampleSnapshotTests/testFlowInController__i0_o1_controller_iPhone11_4_375x812@3x.png (85eb0ea72da524fa6a2fa4aecadfef26700b0bb92f08104